<template>
  <div
    class="row q-col-gutter-sm q-mt-md"
    style="max-height: calc(100vh - 15rem)"
  >
    
    <div class="col-12 flex q-mt-sm">
      <div class="text-uppercase text-weight-medium">Thông tin profile</div>
      <q-space />
      <UploadImage
        v-if="banners.length !== 0"
        :isButton="false"
        :tooltipMessage="true"
        @selectedFile="uploadBanner"
      ></UploadImage>
    </div>
    <div class="col-12">
      <div class="row q-col-gutter-lg" style="margin-top: -30px">
        <div class="col-12">
          <q-carousel
            v-if="banners.length"
            v-model="slide"
            :key="banners.length"
            :autoplay="autoplay"
            animated
            arrows
            infinite
            height="30rem"
            style="border: 2px solid #f1f1f1"
          >
            <q-carousel-slide
              v-for="(bannerInfo, bannerIdx) in banners"
              :key="bannerIdx"
              :name="bannerIdx"
              :img-src="
                bannerInfo.bannerUrl === undefined
                  ? bannerInfo.url
                  : configImg.API_IMAGE_ENDPOINT + bannerInfo.bannerUrl
              "
              style="aspect-ratio: 1/5"
            >
              <template v-slot:default>
                <div align="right">
                  <q-icon
                    style="
                      position: absolute;
                      right: 0px;
                      font-size: 24px;
                      top: 1px;
                      cursor: pointer;
                    "
                    color="red"
                    name="mdi-close-circle"
                    @click="deleteImage(bannerIdx)"
                    ><q-tooltip>Xóa banner</q-tooltip></q-icon
                  >
                </div>
                <div align="right">
                  <div @click="updateImage(bannerIdx)">
                    <q-icon
                      style="
                        position: absolute;
                        right: 30px;
                        font-size: 24px;
                        top: 1px;
                        cursor: pointer;
                      "
                      color="red"
                      name="mdi-pencil-circle"
                      ><q-tooltip>Cập nhập banner</q-tooltip>
                    </q-icon>
                    <input
                      ref="uploadBannerImg"
                      hidden
                      type="file"
                      accept="image/png, image/jpeg"
                      @change="updateBanner($event.target.files)"
                    />
                  </div>
                </div>
              </template>
            </q-carousel-slide>
          </q-carousel>
          <UploadImage
            v-if="banners.length === 0"
            @selectedFile="uploadBanner"
          ></UploadImage>
        </div>
        <div class="col-12">
          <q-editor
            :model-value="shortDescription"
            @update:model-value="$emit('update:shortDescription', $event)"
            ref="editorRef"
            placeholder="Thông tin Profile"
            toolbar-text-color="white"
            toolbar-toggle-color="yellow-8"
            toolbar-bg="primary"
            style="height: 100%"
            :spellcheck="false"
            :toolbar="[
              [
                {
                  label: $q.lang.editor.align,
                  icon: $q.iconSet.editor.align,
                  fixedLabel: true,
                  list: 'only-icons',
                  options: ['left', 'center', 'right', 'justify'],
                },
              ],
              [
                'bold',
                'italic',
                'strike',
                'underline',
                'subscript',
                'superscript',
              ],
              ['token', 'hr', 'link', 'custom_btn'],
              ['print', 'fullscreen'],
              [
                {
                  label: $q.lang.editor.formatting,
                  icon: $q.iconSet.editor.formatting,
                  list: 'no-icons',
                  options: ['p', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'code'],
                },
                {
                  label: $q.lang.editor.fontSize,
                  icon: $q.iconSet.editor.fontSize,
                  fixedLabel: true,
                  fixedIcon: true,
                  list: 'no-icons',
                  options: [
                    'size-1',
                    'size-2',
                    'size-3',
                    'size-4',
                    'size-5',
                    'size-6',
                    'size-7',
                  ],
                },
                {
                  label: $q.lang.editor.defaultFont,
                  icon: $q.iconSet.editor.font,
                  fixedIcon: true,
                  list: 'no-icons',
                  options: [
                    'default_font',
                    'arial',
                    'arial_black',
                    'comic_sans',
                    'courier_new',
                    'impact',
                    'lucida_grande',
                    'times_new_roman',
                    'verdana',
                  ],
                },
                'removeFormat',
              ],
              ['quote', 'unordered', 'ordered', 'outdent', 'indent'],

              ['undo', 'redo'],
              ['viewsource'],
            ]"
            :fonts="{
              arial: 'Arial',
              arial_black: 'Arial Black',
              comic_sans: 'Comic Sans MS',
              courier_new: 'Courier New',
              impact: 'Impact',
              lucida_grande: 'Lucida Grande',
              times_new_roman: 'Times New Roman',
              verdana: 'Verdana',
            }"
          />
        </div>
      </div>
    </div>
    <div class="col-12 q-mt-sm">
      <div class="row q-col-gutter-lg q-pb-md" align="center" justify="center">
        <div class="col-4" style="width: 27rem; margin-left: 9.3rem">
          <div class="flex flex-center">
            <div class="text-h6 text-weight-regular q-py-md">
              Nổi bật(Embed)
            </div>
            <q-space></q-space>
            <q-btn
              class="q-py-md"
              v-if="socialEmbedded !== null"
              @click="$emit('openDialogUploadEmbed')"
              flat
              color="primary"
              icon="mdi-pencil-circle-outline"
            >
              <q-tooltip>Cập nhập Embed</q-tooltip></q-btn
            >
            <q-btn
              class="q-py-md"
              v-if="socialEmbedded !== null"
              flat
              color="primary"
              icon="mdi-trash-can-outline"
              @click="$emit('confirmDeleteSocialEmbedded')"
            >
              <q-tooltip>Xoá Embed</q-tooltip></q-btn
            >
          </div>
          <div
            @click="$emit('openDialogUploadEmbed')"
            class="flex flex-center"
            :style="
              socialEmbedded !== null ? 'height: 35rem;' : 'height: 35rem'
            "
          >
            <iframe
              v-if="socialEmbedded !== null"
              style="height: 100%; width: 100%"
              :src="socialEmbedded"
              frameborder="0"
            ></iframe>
            <div
              v-else
              @click="$emit('openDialogUploadEmbed')"
              style="
                height: 100%;
                width: 100%;
                border: 2px dashed #5d319e;
                border-radius: 5px;
                cursor: pointer;
                flex-direction: column;
              "
              class="flex flex-center"
            >
              <q-icon
                style="color: #5d319e"
                name="mdi-cloud-upload"
                size="xl"
              ></q-icon>
              <div>{{ $t('uploadImage.uploadEmbed') }}</div>
            </div>
          </div>
        </div>

        <div class="col-4" style="width: 27rem">
          <div class="flex flex-center">
            <div class="text-h6 text-weight-regular q-py-md">Story</div>
            <q-space></q-space>
            <q-btn
              class="q-py-md"
              v-if="stories.length"
              @click="$emit('click:openAddStoryDialog')"
              flat
              style="color: #5d319e"
              icon="mdi-plus-circle-outline"
            >
              <q-tooltip>Thêm Story</q-tooltip></q-btn
            >
          </div>
          <div
            class="flex flex-center"
            :style="stories.length ? 'height: 35rem' : 'height: 35rem;'"
            bordered
            v-if="!stories.length"
          >
            <div
              @click="$emit('click:openAddStoryDialog')"
              align="center"
              class="flex flex-center"
              style="
                height: 100%;
                width: 100%;
                border: 2px dashed #5d319e;
                border-radius: 5px;
                cursor: pointer;
                flex-direction: column;
              "
            >
              <q-icon
                style="color: #5d319e"
                name="mdi-cloud-upload"
                size="xl"
              ></q-icon>
              <div>{{ $t('uploadImage.uploadStory') }}</div>
            </div>
          </div>
          <q-carousel
            v-else
            v-model="slideStory"
            :autoplay="autoplay"
            animated
            arrows
            infinite
            style="height: 35rem"
          >
            <q-carousel-slide
              v-for="(story, storyIdx) in stories"
              :key="storyIdx"
              :name="storyIdx"
              class="q-pa-none"
            >
              <div>
                <q-img
                  :src="
                    story.file === undefined
                      ? configImg.API_IMAGE_ENDPOINT + story.imageUrl
                      : story.imageUrl
                  "
                  style="height: 35rem"
                >
                  <div
                    style="
                      background: bottom;
                      text-align: start;
                      height: 100%;
                      display: flex;
                      flex-direction: column;
                      justify-content: flex-end;
                    "
                  >
                    <div style="font-size: 30px">
                      {{ story.title }}
                    </div>
                    <div>
                      {{ story.content }}
                    </div>
                  </div>
                </q-img>
                <q-icon
                  name="mdi-close-circle"
                  color="red"
                  style="
                    position: absolute;
                    right: 0px;
                    font-size: 24px;
                    cursor: pointer;
                  "
                  @click="deleteStory(storyIdx)"
                >
                  <q-tooltip>Xóa story</q-tooltip>
                </q-icon>
                <!-- <q-icon
                  v-if="stories.length"
                  style="
                    position: absolute;
                    right: 30px;
                    font-size: 24px;
                    cursor: pointer;
                  "
                  color="red"
                  name="mdi-pencil-circle"
                  ><q-tooltip>Cập nhập story</q-tooltip>
                </q-icon> -->
              </div>
            </q-carousel-slide>
          </q-carousel>
        </div>

        <div class="col-4" style="width: 27rem">
          <div class="text-h6 text-weight-regular q-py-md">Lịch</div>
          <q-date
            style="width: 100%; height: 35rem"
            :model-value="formatSchedules"
            @update:model-value="$emit('update:formatSchedules', $event)"
            multiple
            event-color="orange"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./VabAccount.ts"></script>
