<template>
  <div class="row q-col-gutter-sm flex-center q-mt-sm">
    <div class="col-auto text-h6 text-weight-regular flex flex-center q-mr-md">
      {{ $t('userPage.title') }}
      <q-separator vertical spaced />
    </div>
    <q-space></q-space>
    <div class="col-2">
      <q-input
        v-model="keyword"
        dense
        outlined
        :label="$t('userPage.tableColumns.keywordSearch')"
        clearable
      ></q-input>
    </div>
    <div class="col-auto">
      <q-btn
        color="primary"
        no-caps
        :label="$t('crudActions.search')"
        style="width: 100px"
        @click="getListUsers"
      >
      </q-btn>
    </div>
    <div class="col-auto">
      <q-btn
        color="primary"
        no-caps
        :label="$t('crudActions.add')"
        style="width: 100px"
        @click="openAddUserDialog"
      >
      </q-btn>
    </div>
    <div class="col-12">
      <q-table
        :rows="userTableRows"
        :columns="userTableColumns"
        row-key="name"
        separator="cell"
        hide-pagination
        :no-data-label="$t('emptyData')"
      >
        <template v-slot:body-cell-status="rowData">
          <q-td>
            <div align="center">
              <q-chip
                :color="rowData.value ? 'positive' : 'orange'"
                text-color="white"
                size="sm"
              >
                {{
                  rowData.value
                    ? $t('userPage.statusLabel.active')
                    : $t('userPage.statusLabel.inactive')
                }}
              </q-chip>
            </div>
          </q-td>
        </template>
        <template v-slot:body-cell-action="item">
          <q-td style="padding: 0" class="flex flex-center">
            <q-btn
              flat
              round
              color="primary"
              icon="mdi-account-edit-outline"
              @click="showDialogUpdateUser(item.row.id)"
            >
              <q-tooltip :offset="[20, 10]">{{
                $t('userPage.toolTipMessage.updateUserInfo')
              }}</q-tooltip>
            </q-btn>
            <q-btn
              flat
              round
              color="primary"
              icon="mdi-account-convert-outline"
              @click="confirmResetPassword(item.row.id)"
            >
              <q-tooltip :offset="[20, 10]">{{
                $t('userPage.toolTipMessage.resetPassword')
              }}</q-tooltip>
            </q-btn>
            <q-btn
              flat
              round
              color="primary"
              icon="mdi-delete-outline"
              @click="confirmDeleteUser(item.row.id, item.row.userName)"
            >
              <q-tooltip :offset="[20, 10]">{{
                $t('userPage.toolTipMessage.deleteUser')
              }}</q-tooltip>
            </q-btn>
          </q-td>
        </template>
      </q-table>
    </div>
    <div class="col-12 q-mt-sm">
      <Pagination
        v-model:currentPage="pageIndex"
        v-model:pageSize="pageSize"
        :totalPage="totalPage"
        @update:pageSize="changePageSize"
        @update:currentPage="getListUsers"
      />
    </div>

    <AddNewUserDialogComponent
      v-model:show-dialog="showDialog"
      v-model:user-name="userName"
      v-model:password="password"
      v-model:full-name="fullName"
      v-model:email="email"
      v-model:mobile-number="mobileNumber"
      v-model:address="address"
      v-model:phone-number="phoneNumber"
      v-model:unit="unit"
      v-model:sex="sex"
      :sex-options="sexOptions"
      v-model:birthday="birthday"
      v-model:group="group"
      :list-group="listGroup"
      v-model:schedule-access="scheduleAccess"
      :list-schedule-access="listScheduleAccess"
      v-model:status="status"
      @click:CloseBtn="showDialog = false"
      @addNewUser="addNewUser"
    ></AddNewUserDialogComponent>
    <UpdateUserDialogComponent
      v-model:show-dialog-update="showDialogUpdate"
      v-model:full-name="fullName"
      v-model:email="email"
      v-model:mobile-number="mobileNumber"
      v-model:address="address"
      v-model:phone-number="phoneNumber"
      v-model:unit="unit"
      v-model:sex="sex"
      :sex-options="sexOptions"
      v-model:birthday="birthday"
      v-model:group="group"
      :list-group="listGroup"
      v-model:status="status"
      @click:CloseBtn="showDialogUpdate = false"
      @updateUser="updateUser"
    ></UpdateUserDialogComponent>
  </div>
</template>

<script lang="ts" src="./User.ts"></script>
