<template>
  <q-dialog
    persistent
    :model-value="isOpened"
    @update:model-value="$emit('update:isOpened', $event)"
  >
    <q-card class="full-width" style="max-width: 50rem" bordered>
      <q-form
        greedy
        @submit.prevent="
          $emit('saveArtistInfo', {});
          $emit('update:isOpened', false);
        "
      >
        <q-card-section class="q-pa-none">
          <q-item>
            <q-item-section>
              <q-item-label class="text-h6 text-weight-regular">{{
                isUpdate
                  ? $t('managingUnitAdd.dialogLabel.title.add')
                  : $t('managingUnitAdd.dialogLabel.title.update')
              }}</q-item-label>
            </q-item-section>
          </q-item>
        </q-card-section>
        <q-separator />

        <q-card-section
          class="overflow-auto"
          style="max-height: calc(100vh - 10rem)"
        >
          <div class="row q-col-gutter-sm">
            <div class="col-6">
              <q-select
                :model-value="artistField"
                @update:model-value="$emit('update:artistField', $event)"
                :label="
                  $t('managingUnitAdd.dialogLabel.fieldLabels.artistField')
                "
                :options="fieldOptions"
                :rules="artistFieldRules"
                map-options
                option-value="id"
                option-label="name"
                class="q-my-sm"
                outlined
                ><template v-slot:no-option>
                  <q-item>
                    <q-item-section class="text-grey">
                      {{ $t('managingUnitAdd.noDataTable') }}
                    </q-item-section>
                  </q-item>
                </template></q-select
              >
              <q-input
                :model-value="contractTimeFrom"
                :label="
                  $t('managingUnitAdd.dialogLabel.fieldLabels.contractTimeFrom')
                "
                class="q-my-sm"
                outlined
                :rules="contractTimeFromRules"
                readonly
              >
                <template v-slot:append>
                  <q-icon name="event" class="cursor-pointer"> </q-icon>
                </template>

                <q-popup-proxy
                  ref="qDateProxy"
                  transition-show="scale"
                  transition-hide="scale"
                  :breakpoint="100000"
                >
                  <q-date
                    :model-value="contractTimeFrom"
                    @update:model-value="
                      $emit('update:contractTimeFrom', $event)
                    "
                    mask="DD/MM/YYYY"
                  >
                    <div class="row items-center justify-end">
                      <q-btn v-close-popup label="Ok" color="primary" flat />
                    </div>
                  </q-date>
                </q-popup-proxy>
              </q-input>
            </div>
            <div class="col-6">
              <div>
                <q-select
                  :model-value="artistName"
                  :disable="!artistField"
                  @update:model-value="$emit('update:artistName', $event)"
                  :label="
                    $t('managingUnitAdd.dialogLabel.fieldLabels.artistName')
                  "
                  :options="artistOptions"
                  :rules="artistNameRules"
                  map-options
                  option-value="id"
                  option-label="fullName"
                  class="q-my-sm"
                  outlined
                  ><template v-slot:no-option>
                    <q-item>
                      <q-item-section class="text-grey">
                        {{ $t('managingUnitAdd.noDataTable') }}
                      </q-item-section>
                    </q-item>
                  </template> </q-select
                ><q-tooltip v-if="!artistField"
                  >Vui lòng chọn Lĩnh vực</q-tooltip
                >
              </div>

              <q-input
                :model-value="contractTimeTo"
                :label="
                  $t('managingUnitAdd.dialogLabel.fieldLabels.contractTimeTo')
                "
                class="q-my-sm"
                outlined
                :rules="contractTimeToRules"
                readonly
                ><template v-slot:append>
                  <q-icon name="event" class="cursor-pointer"> </q-icon>
                </template>
                <q-popup-proxy
                  ref="qDateProxy"
                  transition-show="scale"
                  transition-hide="scale"
                  :breakpoint="100000"
                >
                  <q-date
                    :model-value="contractTimeTo"
                    mask="DD/MM/YYYY"
                    @update:model-value="$emit('update:contractTimeTo', $event)"
                  >
                    <div class="row items-center justify-end">
                      <q-btn v-close-popup label="Ok" color="primary" flat />
                    </div>
                  </q-date>
                </q-popup-proxy>
              </q-input>
              <div>
                <span class="text-body1">{{
                  $t('managingUnitAdd.dialogLabel.fieldLabels.status')
                }}</span
                ><q-toggle
                  :model-value="artistStatus"
                  :true-value="1"
                  :false-value="2"
                  @update:model-value="$emit('update:artistStatus', $event)"
                />
              </div>
            </div>
          </div>
        </q-card-section>
        <q-card-actions align="right">
          <div>
            <q-btn
              color="grey"
              no-caps
              style="width: 90px"
              class="q-mr-sm"
              :label="$t('managingUnitAdd.crudActions.cancel')"
              @click="$emit('update:isOpened', false)"
            />
            <q-btn
              type="submit"
              color="primary"
              no-caps
              style="width: 90px"
              :label="$t('managingUnitAdd.crudActions.save')"
            />
          </div>
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import { i18n } from 'src/boot/i18n';
import { ArtistInfoType } from 'src/assets/type';

export default defineComponent({
  props: {
    isOpened: {
      type: Boolean,
      required: true,
    },
    isUpdate: { type: Boolean, default: false },
    artistOptions: { type: Array, required: true },
    fieldOptions: { type: Array, required: true },
    artistField: { type: Number, required: true },
    artistName: { type: Object as PropType<ArtistInfoType>, required: true },
    artistStatus: { type: Number, required: true },
    contractTimeFrom: { type: String, required: true },
    contractTimeTo: { type: String, required: true },
  },
  setup() {
    const artistNameRules = [
      (val?: number) =>
        val !== undefined ||
        i18n.global.t('managingUnitAdd.validateMessages.requireArtistName'),
    ];
    const artistFieldRules = [
      (val?: number) =>
        val !== undefined ||
        i18n.global.t('managingUnitAdd.validateMessages.requireArtistField'),
    ];
    const contractTimeFromRules = [
      (val?: string) =>
        (val && val.trim().length) ||
        i18n.global.t(
          'managingUnitAdd.validateMessages.requireContractTimeFrom'
        ),
    ];
    const contractTimeToRules = [
      (val?: string) =>
        (val && val.trim().length) ||
        i18n.global.t('managingUnitAdd.validateMessages.requireContractTimeTo'),
    ];
    return {
      artistNameRules,
      artistFieldRules,
      contractTimeFromRules,
      contractTimeToRules,
    };
  },
  emits: [
    'update:isOpened',
    'update:artistName',
    'update:contractTimeTo',
    'update:contractTimeFrom',
    'update:artistField',
    'update:artistStatus',
    'saveArtistInfo',
  ],
});
</script>
