<template>
  <q-card flat bordered class="my-card">
    <q-card-section style="padding-top: 28px">
      <div class="row">
        <div class="col-8 text-h6" style="display: flex">
          <div>{{ $t('userGroupPage.title') }}</div>
        </div>
        <div class="col-4" style="display: flex; justify-content: flex-end">
          <q-btn
            @click="$emit('click:addNewGroupUsers', EditMode.add)"
            color="primary"
            :label="$t('crudActions.add')"
            style="width: 100px"
            no-caps
          />
        </div>
      </div>
    </q-card-section>

    <q-card-section class="q-pt-none">
      <q-input v-model="keyword" outlined placeholder="Tìm kiếm" />
    </q-card-section>

    <q-card-section class="q-pt-none">
      <q-btn
        v-for="(userItem, userItemIdx) in filteredListUsers"
        :key="`userItem-${userItemIdx}`"
        align="left"
        :outline="userItem.id !== selectedGroupId"
        size="large"
        class="full-width q-my-xs"
        color="primary"
        :label="userItem.groupName"
        no-caps
        square
        @click="$emit('click:groupName', userItem)"
      />

      <div v-if="!filteredListUsers.length">
        {{ $t('emptyData') }}
      </div>
    </q-card-section>
  </q-card>
</template>

<script lang="ts" src="./UserGroup.ts">
// import { UserGroupScript } from './UserGroup';
// export default UserGroupScript;
</script>
