<template>
  <q-page class="row items-center justify-evenly">
    <q-card class="login-card">
      <q-card-section class="text-center"
        ><img src="icons/logo_cms_2.png" />
      </q-card-section>
      <q-separator inset />
      <q-card-section>
        <q-form autofocus @submit="onSubmit" @reset="resetForm">
          <q-input
            filled
            v-model="user_name"
            :label="`${$t('loginPage.usernameInputLabel')} *`"
            lazy-rules
            :rules="usernameInputRules"
            class="q-my-sm"
            :disable="loggingIn"
          >
            <template v-slot:prepend>
              <q-icon name="mdi-account" />
            </template>
          </q-input>

          <q-input
            filled
            v-model="password"
            :label="`${$t('loginPage.passwordInputLabel')} *`"
            lazy-rules
            :rules="passwordInputRules"
            class="q-my-sm"
            :type="isPwd ? 'password' : 'text'"
            :disable="loggingIn"
          >
            <template v-slot:append>
              <q-icon
                :name="isPwd ? 'visibility_off' : 'visibility'"
                class="cursor-pointer"
                @click="isPwd = !isPwd"
              />
            </template>
            <template v-slot:prepend>
              <q-icon name="mdi-lock" />
            </template>
          </q-input>

          <div>
            <q-btn
              :label="$t('loginPage.submitLoginBtnLabel')"
              type="submit"
              color="primary"
              class="full-width"
              unelevated
              :loading="loggingIn"
            />
          </div>
        </q-form>
      </q-card-section>
    </q-card>
  </q-page>
</template>

<script lang="ts">
import { Login } from './Login';
export default Login;
</script>

<style lang="scss" scoped>
.login-card {
  min-width: 35rem;
}
</style>
