<template>
  <div
    class="row q-col-gutter-sm flex-center"
    style="max-height: calc(100vh - 14rem)"
  >
    <q-space></q-space>
    <div class="col-auto">
      <q-btn
        @click="clickAdd"
        color="primary"
        no-caps
        style="width: 100px"
        :label="$t('crudActions.add')"
      >
      </q-btn>
    </div>
    <div class="col-12 q-mt-sm">
      <q-table
        :rows="products"
        :columns="userTableColumnsHotProduct"
        :no-data-label="$t('emptyData')"
        row-key="name"
        separator="cell"
        :pagination="{
          rowsPerPage: 0,
        }"
        wrap-cells
        hide-pagination
        class="sticky-header-table"
        style="max-height: calc(100vh - 17rem)"
      >
        <template v-slot:body-cell-status="rowData">
          <q-td>
            <div align="center">
              <q-chip
                :color="
                  rowData.value === HotProductStatus.active
                    ? 'positive'
                    : 'primary'
                "
                text-color="white"
                size="sm"
              >
                {{
                  rowData.value === HotProductStatus.active
                    ? $t('artist.hotProduct.statusLabel.active')
                    : $t('artist.hotProduct.statusLabel.inactive')
                }}
              </q-chip>
            </div>
          </q-td>
        </template>
        <template v-slot:body-cell-STT="item">
          <q-td :item="item" style="text-align: center">
            {{ 1 + item.rowIndex + pageSize * (pageIndex - 1) }}
          </q-td>
        </template>

        <template v-slot:body-cell-action="item">
          <q-td style="padding: 0; height: 100%">
            <div align="center">
              <q-btn
                flat
                round
                color="primary"
                icon="mdi-circle-edit-outline"
                @click="updateProduct(item)"
              >
                <q-tooltip> Sửa </q-tooltip>
              </q-btn>
              <q-btn
                flat
                round
                color="primary"
                @click="deleteRow(item.rowIndex)"
                icon="mdi-delete-outline"
              >
                <q-tooltip> Xóa </q-tooltip>
              </q-btn>
            </div>
          </q-td>
        </template>
        <template v-slot:body-cell-imageUrl="data">
          <q-td style="padding: auto; height: 100%; text-align: center">
            <q-img
              style="width: 5rem; height: 6rem"
              :src="
                !data.row.file
                  ? configImg.API_IMAGE_ENDPOINT + data.value
                  : data.row.imageUrl
              "
            ></q-img>
          </q-td>
        </template>
      </q-table>
    </div>
  </div>
</template>

<script lang="ts" src="./HotProduct.ts"></script>
