<template>
  <q-dialog
    persistent
    :model-value="isOpened"
    @update:model-value="$emit('update:isOpened', $event)"
  >
    <q-card class="full-width" style="max-width: 50rem" bordered>
      <q-form
        greedy
        @submit.prevent="
          $emit('saveBankAccountInfo', {});
          $emit('update:isOpened', false);
        "
      >
        <q-card-section class="q-pa-none">
          <q-item>
            <q-item-section>
              <q-item-label class="text-h6 text-weight-regular">{{
                isUpdate
                  ? $t('infoVAB.dialogLabel.title.addBankAccount')
                  : $t('infoVAB.dialogLabel.title.updateBankAccount')
              }}</q-item-label>
            </q-item-section>
          </q-item>
        </q-card-section>
        <q-separator />

        <q-card-section
          class="overflow-auto"
          style="max-height: calc(100vh - 10rem)"
        >
          <div class="row q-col-gutter-sm">
            <div class="col-6">
              <q-select
                :model-value="bank"
                @update:model-value="$emit('update:bank', $event)"
                :label="$t('infoVAB.dialogLabel.infoVABLabels.bank')"
                :options="bankOptions"
                :rules="bankRules"
                map-options
                option-value="id"
                option-label="name"
                class="q-my-sm"
                outlined
              ></q-select>
              <q-select
                :model-value="cardType"
                @update:model-value="$emit('update:cardType', $event)"
                :label="$t('infoVAB.dialogLabel.infoVABLabels.cardType')"
                :options="cardTypeOptions"
                :rules="cardTypeRules"
                map-options
                option-value="id"
                option-label="name"
                class="q-my-sm"
                outlined
              ></q-select>
              <q-input
                :model-value="cardCode"
                @update:model-value="$emit('update:cardCode', $event)"
                :label="$t('infoVAB.dialogLabel.infoVABLabels.cardCode')"
                type="text"
                class="q-my-sm"
                outlined
                :rules="cardCodeRules"
                clearable
              ></q-input>
            </div>
            <div class="col-6">
              <q-input
                :model-value="userCard"
                @update:model-value="$emit('update:userCard', $event)"
                :label="$t('infoVAB.dialogLabel.infoVABLabels.userCard')"
                type="text"
                class="q-my-sm"
                outlined
                :rules="userCardRules"
                clearable
              ></q-input>
              <q-input
                :model-value="numberCard"
                @update:model-value="$emit('update:numberCard', $event)"
                :label="$t('infoVAB.dialogLabel.infoVABLabels.numberCard')"
                type="number"
                class="q-my-sm"
                outlined
                :rules="numberCardRules"
                clearable
              ></q-input>

              <div class="flex q-pt-sm">
                <div class="flex flex-center text-body1 q-ml-xs">Mặc định</div>
                <q-checkbox
                  :model-value="isDefault"
                  :true-value="1"
                  :false-value="2"
                  @update:model-value="$emit('update:isDefault', $event)"
                />
              </div>
            </div>
          </div>
        </q-card-section>
        <q-card-actions align="right">
          <div>
            <q-btn
              color="grey"
              no-caps
              style="width: 90px"
              class="q-mr-sm"
              :label="$t('infoVAB.crudActions.cancel')"
              @click="$emit('update:isOpened', false)"
            />
            <q-btn
              type="submit"
              color="primary"
              no-caps
              style="width: 90px"
              :label="$t('infoVAB.crudActions.save')"
            />
          </div>
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { i18n } from 'src/boot/i18n';

export default defineComponent({
  props: {
    isOpened: {
      type: Boolean,
      required: true,
    },
    isUpdate: { type: Boolean, default: false },
    bank: { type: Number, required: true },
    bankOptions: { type: Array, required: true },
    cardType: { type: Number, required: true },
    cardTypeOptions: { type: Array, required: true },
    cardCode: { type: String, required: true },
    userCard: { type: String, required: true },
    numberCard: { type: Number, required: true },
    isDefault: { type: Number, required: true },
  },
  setup() {
    const bankRules = [
      (val?: number) =>
        val !== undefined ||
        i18n.global.t('infoVAB.validateMessages.requireBank'),
    ];
    const cardTypeRules = [
      (val?: number) =>
        val !== undefined ||
        i18n.global.t('infoVAB.validateMessages.requireCardType'),
    ];
    const cardCodeRules = [
      (val?: string) =>
        (val && val.trim().length) ||
        i18n.global.t('infoVAB.validateMessages.requireCardCode'),
    ];
    const numberCardRules = [
      (val?: string) =>
        (val && val.trim().length) ||
        i18n.global.t('infoVAB.validateMessages.requireNumberCard'),
    ];
    const userCardRules = [
      (val?: string) =>
        (val && val.trim().length) ||
        i18n.global.t('infoVAB.validateMessages.requireUserCard'),
    ];
    return {
      bankRules,
      cardTypeRules,
      cardCodeRules,
      numberCardRules,
      userCardRules,
    };
  },
  emits: [
    'update:isOpened',
    'update:cardCode',
    'update:bank',
    'update:numberCard',
    'update:userCard',
    'update:cardType',
    'update:isDefault',
    'saveBankAccountInfo',
  ],
});
</script>
