<template>
  <div class="row q-col-gutter-sm flex-center q-mt-sm">
    <div class="col-auto text-h6 text-weight-regular flex flex-center q-mr-md">
      {{ $t('listHotProduct.title') }}
      <q-separator vertical spaced />
    </div>
    <q-space></q-space>
    <div class="col-2 sreach">
      <q-select
        v-model="name_artist"
        :options="artistOptions"
        option-label="artistName"
        option-value="id"
        dense
        outlined
        :label="$t('listHotProduct.titleColumnsTable.artistName')"
        clearable
      ></q-select>
    </div>
    <div class="col-2 sreach">
      <q-select
        v-model="sreachStatus"
        :options="ListStatus"
        option-label="name"
        option-value="id"
        dense
        outlined
        :label="$t('listHotProduct.titleColumnsTable.salientStatus')"
        clearable
      ></q-select>
    </div>

    <div class="col-auto">
      <q-btn
        class="q-mr-sm"
        color="primary"
        no-caps
        :label="$t('crudActions.search')"
        @click="getListConfigHotProduct"
        style="width: 100px"
      >
      </q-btn>
      <q-btn
        class="q-mr-sm"
        color="primary"
        no-caps
        :label="$t('crudActions.add')"
        @click="openAddDialog"
        style="width: 100px"
      >
      </q-btn>
    </div>

    <div class="col-12 q-mt-sm">
      <q-table
        :rows="listHotProduct"
        :columns="tableColumnsNews"
        :no-data-label="$t('emptyData')"
        row-key="name"
        separator="cell"
        :rows-per-page-label="$t('recordPerPage')"
        :pagination="{
          rowsPerPage: 0,
        }"
        wrap-cells
        hide-pagination
        class="sticky-header-table"
      >
        <template v-slot:body-cell-action="rowData">
          <q-td style="padding: 0; text-align: center">
            <q-btn
              flat
              round
              color="primary"
              icon="mdi-account-edit-outline"
              @click="openUpdateDialog(rowData.row.id)"
            >
              <q-tooltip :offset="[10, 10]">{{
                $t('listHotProduct.toolTipMessageUpdate')
              }}</q-tooltip>
            </q-btn>
            <q-btn
              flat
              round
              color="primary"
              icon="mdi-delete-outline"
              @click="confirmDeleteConfigHotProduct(rowData.row.id)"
            >
              <q-tooltip :offset="[20, 10]">{{
                $t('listHotProduct.toolTipMessageDelete')
              }}</q-tooltip>
            </q-btn>
          </q-td>
        </template>
        <template v-slot:body-cell-imageUrl="imageUrl">
          <q-td style="padding: auto; height: 100%; text-align: center">
            <q-img
              style="width: 12rem; height: 8rem"
              :src="configImg.API_IMAGE_ENDPOINT + imageUrl.row.imageUrl"
            ></q-img>
          </q-td>
        </template>

        <template v-slot:body-cell-salientStatus="rowData">
          <q-td>
            <div align="center">
              <q-chip
                :color="
                  rowData.value === SystemHotProductStatus.active
                    ? 'positive'
                    : 'orange'
                "
                text-color="white"
                size="sm"
              >
                {{
                  rowData.value === SystemHotProductStatus.active
                    ? $t('listHotProduct.statusLabel.active')
                    : $t('listHotProduct.statusLabel.inactive')
                }}
              </q-chip>
            </div>
          </q-td>
        </template>
        <template v-slot:body-cell-embeddedUrl="rowData">
          <q-td>
            <div align="center">
              <a
                :href="rowData.row.embeddedUrl"
                target="_blank"
                style="max-width: 10rem"
                >{{ rowData.row.embeddedUrl }}</a
              >
            </div>
          </q-td>
        </template>
      </q-table>
    </div>
    <div class="col-12 q-mt-sm">
      <Pagination
        v-model:currentPage="pageIndex"
        v-model:pageSize="pageSize"
        :totalPage="totalPage"
        @update:pageSize="changePageSize"
        @update:currentPage="getListConfigHotProduct"
      />
    </div>
    <AddUpdateHotProductDialog
      v-model:isOpened="showDialogAdd"
      v-model:name="name"
      v-model:embeddedUrl="embeddedUrl"
      v-model:artistName="artistName"
      v-model:salientStatus="salientStatus"
      v-model:imageUrl="imageUrl"
      :artistOptions="artistOptions"
      @SetAvatar="setAvatar($event)"
      @deleteAvatar="deleteAvatar"
      isUpdate
      @saveHotProductInfo="addConfigHotProduct"
    />

    <AddUpdateHotProductDialog
      v-model:isOpened="showDialogUpdate"
      v-model:name="name"
      v-model:embeddedUrl="embeddedUrl"
      v-model:artistName="artistName"
      v-model:salientStatus="salientStatus"
      v-model:imageUrl="imageUrl"
      :artistOptions="artistOptions"
      @SetAvatar="setAvatar($event)"
      @deleteAvatar="deleteAvatar"
      @saveHotProductInfo="updateHotProduct"
    />
  </div>
</template>

<script lang="ts">
export type AvatarType = {
  file?: File;
  url?: string | null;
};
import AddUpdateHotProductDialog from 'components/hotProduct/index.vue';
import { SystemHotProductStatus } from 'src/assets/enums';
import { i18n } from 'src/boot/i18n';
import Pagination from 'components/pagination/index.vue';
import { defineComponent, onMounted, Ref, ref } from 'vue';
import { config, API_PATHS } from 'src/assets/configurations.example';
import { AxiosResponse } from 'axios';
import { Notify, Dialog } from 'quasar';
import { api, BaseResponseBody } from 'src/boot/axios';
import {
  PaginationResponse,
  FileUploadType,
  ListConfigHotProduct,
  DetailConfigHotProduct,
  UpdateConfigHotProduct,
  AddConfigHotProduct,
  ListArrayArtist,
} from 'src/assets/type';
export default defineComponent({
  components: {
    Pagination,
    AddUpdateHotProductDialog,
  },
  setup() {
    const tableColumnsNews = [
      {
        name: 'artistName',
        field: 'artistName',
        required: true,
        label: i18n.global.t('listHotProduct.titleColumnsTable.artistName'),
        align: 'left',
        headerStyle: 'text-align: center !important; width: 15%',
        sortable: false,
      },
      {
        name: 'name',
        field: 'name',
        required: true,
        label: i18n.global.t('listHotProduct.titleColumnsTable.name'),
        align: 'left',
        headerStyle: 'text-align: center !important; width: 15%',
        sortable: false,
      },
      {
        name: 'imageUrl',
        field: 'imageUrl',
        required: true,
        label: i18n.global.t('listHotProduct.titleColumnsTable.imageUrl'),
        align: 'left',
        headerStyle: 'text-align: center !important; width: 10%',
        sortable: false,
      },
      {
        name: 'embeddedUrl',
        field: 'embeddedUrl',
        required: true,
        label: i18n.global.t('listHotProduct.titleColumnsTable.embeddedUrl'),
        align: 'left',
        headerStyle: 'text-align: center !important; width: 15%',
        sortable: false,
      },
      {
        name: 'salientStatus',
        field: 'salientStatus',
        required: true,
        label: i18n.global.t('listHotProduct.titleColumnsTable.salientStatus'),
        headerStyle: 'text-align: center !important; width: 8%',
        align: 'center',
        sortable: false,
      },
      {
        name: 'action',
        field: 'action',
        required: true,
        label: i18n.global.t('listHotProduct.titleColumnsTable.action'),
        headerStyle: 'text-align: center !important; width: 12%',
        align: 'center',
        sortable: false,
      },
    ];

    const listHotProduct: Ref<unknown[]> = ref([]);

    const name_artist = ref('');
    const pageIndex = ref(1);
    const pageSize = ref(20);
    const totalPage = ref(1);
    const changePageSize = () => {
      pageIndex.value = 1;
      void getListConfigHotProduct();
    };
    const showDialogAdd = ref(false);
    const showDialogUpdate = ref(false);
    const name: Ref<string | null> = ref(null);
    const artistName: Ref<ListArrayArtist | undefined> = ref();
    const embeddedUrl: Ref<string | null> = ref(null);
    const salientStatus: Ref<number> = ref(SystemHotProductStatus.active);
    const imageUrl: Ref<string | null> = ref(null);
    const avatarFile: Ref<File | null> = ref(null);
    const avatarUploaded: Ref<string> = ref('');
    const imageChange: Ref<string> = ref('');
    const configImg = config;
    const configHotProductId: Ref<number | undefined> = ref(undefined);
    const artistOptions: Ref<ListArrayArtist[]> = ref([]);
    const ListStatus = ref([
      { id: 1, name: 'Hiển thị' },
      { id: 0, name: 'Không hiển thị' },
    ]);
    const sreachStatus: Ref<{ id: number; name: string } | undefined> =
      ref(undefined);

    const getArrayArtist = async () => {
      const response = (await api({
        url: API_PATHS.getArrayArtist,
        method: 'GET',
        params: {},
      })) as AxiosResponse<BaseResponseBody<ListArrayArtist[]>>;
      if (response.data.error.code === config.API_RES_CODE.OK.code) {
        artistOptions.value = response.data.data;
      }
    };
    const getListConfigHotProduct = async () => {
      const response = (await api({
        url: API_PATHS.getListConfigHotProduct,
        method: 'GET',
        params: {
          pageIndex: pageIndex.value,
          pageSize: pageSize.value,
          // artistName: name_artist.value?.id,
          salientStatus: sreachStatus.value?.id,
        },
      })) as AxiosResponse<
        BaseResponseBody<PaginationResponse<ListConfigHotProduct[]>>
      >;
      if (response.data.error.code === config.API_RES_CODE.OK.code) {
        listHotProduct.value = response.data.data.data;
        totalPage.value = response.data.data.totalPages;
      }
    };

    const openAddDialog = () => {
      name.value = '';
      artistName.value = undefined;
      embeddedUrl.value = '';
      imageUrl.value = null;
      salientStatus.value = SystemHotProductStatus.active;
      showDialogAdd.value = true;
    };

    const addConfigHotProduct = async () => {
      avatarUploaded.value = await callApiUploadAvatar(
        avatarFile.value as File
      );
      const data = {
        image: avatarUploaded.value,
        name: name.value,
        artistName: { id: artistName.value?.id },
        salientStatus: salientStatus.value,
        embeddedUrl: embeddedUrl.value,
      };
      const response = (await api({
        url: API_PATHS.addPost,
        method: 'POST',
        data,
      })) as AxiosResponse<BaseResponseBody<AddConfigHotProduct[]>>;
      if (response.data.error.code === config.API_RES_CODE.OK.code) {
        showDialogAdd.value = false;
        Notify.create({
          type: 'positive',
          message: i18n.global.t('post.actionMessages.addNewPostAccess'),
          actions: [{ icon: 'close', color: 'white' }],
        });
        void getListConfigHotProduct();
      }
    };

    const openUpdateDialog = (id: number) => {
      void getDetailConfigHotProduct(id);
      showDialogUpdate.value = true;
    };

    const getDetailConfigHotProduct = async (id: number) => {
      try {
        const response = (await api({
          url: API_PATHS.getDetailConfigHotProduct,
          method: 'GET',
          params: {
            id: id,
          },
        })) as AxiosResponse<BaseResponseBody<DetailConfigHotProduct>>;
        if (response.data.error.code === config.API_RES_CODE.OK.code) {
          configHotProductId.value = response.data.data.id;
          name.value = response.data.data.name;
          // artistName.value = response.data.data.artistName
          salientStatus.value = response.data.data.salientStatus;
          embeddedUrl.value = response.data.data.embeddedUrl;
          imageUrl.value =
            config.API_IMAGE_ENDPOINT + response.data.data.imageUrl;
          imageChange.value = response.data.data.imageUrl;
        }
      } catch (error) {}
    };

    const updateHotProduct = async () => {
      if (avatarFile.value) {
        avatarUploaded.value = await callApiUploadAvatar(avatarFile.value);
        void updateConfigHotProduct(avatarUploaded.value);
      } else {
        void updateConfigHotProduct(imageChange.value);
      }
    };

    const updateConfigHotProduct = async (imageUrl: string) => {
      const data = {
        id: configHotProductId.value,
        name: name.value,
        artistName: { id: artistName.value?.id },
        salientStatus: salientStatus.value,
        embeddedUrl: embeddedUrl.value,
        imageUrl,
      };
      const response = (await api({
        url: API_PATHS.updateConfigHotProduct,
        method: 'POST',
        data,
      })) as AxiosResponse<BaseResponseBody<UpdateConfigHotProduct[]>>;
      if (response.data.error.code === config.API_RES_CODE.OK.code) {
        showDialogUpdate.value = false;
        Notify.create({
          type: 'positive',
          message: i18n.global.t(
            'configPartner.actionMessages.updateConfigPartnerAccess'
          ),
          actions: [{ icon: 'close', color: 'white' }],
        });
        void getListConfigHotProduct();
      }
    };

    const confirmDeleteConfigHotProduct = (id: number) => {
      Dialog.create({
        title: i18n.global.t(
          'listHotProduct.confirmActionsTitle.confirmDelete'
        ),
        message: i18n.global.t(
          'listHotProduct.confirmActionsTitle.confirmDeleteContent'
        ),
        cancel: i18n.global.t(
          'listHotProduct.confirmActionsTitle.confirmDeleteCancelBtnLabel'
        ),
        color: 'negative',
      }).onOk(() => {
        void deleteConfigHotProduct(id);
      });
    };

    //gói api xóa
    const deleteConfigHotProduct = async (id: number) => {
      try {
        const deleteResult = (await api({
          url: API_PATHS.deleteConfigHotProduct,
          method: 'GET',
          params: {
            id: id,
          },
        })) as AxiosResponse<BaseResponseBody<unknown>>;
        if (deleteResult.data.error.code === config.API_RES_CODE.OK.code) {
          Notify.create({
            type: 'positive',
            message: i18n.global.t(
              'listHotProduct.actionMessages.deleteSuccess'
            ),
          });
          void getListConfigHotProduct();
        }
      } catch (error) {}
    };

    const setAvatar = (value: { file?: File; url?: string }) => {
      avatarFile.value = value.file as File;
      imageUrl.value = value.url as string;
    };

    const callApiUploadAvatar = async (file: File) => {
      try {
        const bodyFormData = new FormData();
        bodyFormData.append('file', file);
        const response = (await api({
          headers: { 'Content-Type': 'multipart/form-data' },
          url: 'https://cms.vab.xteldev.com/file/upload/', // test
          // url:'http://103.147.34.34:10700/api/upload/',  //pro
          method: 'POST',
          data: bodyFormData,
        })) as AxiosResponse<BaseResponseBody<FileUploadType>>;
        if (response.data.error.code === config.API_RES_CODE.OK.code) {
          return response.data.data.fileName;
        } else {
          return '';
        }
      } catch (error) {
        return '';
      }
    };
    const deleteAvatar = () => {
      imageUrl.value = null;
    };

    onMounted(() => {
      void getListConfigHotProduct();
      void getArrayArtist();
    });
    return {
      imageUrl,
      setAvatar,
      callApiUploadAvatar,
      configImg,
      name_artist,
      listHotProduct,
      tableColumnsNews,
      pageIndex,
      pageSize,
      totalPage,
      changePageSize,
      getDetailConfigHotProduct,
      SystemHotProductStatus,
      showDialogUpdate,
      showDialogAdd,
      name,
      artistName,
      embeddedUrl,
      salientStatus,
      openUpdateDialog,
      updateConfigHotProduct,
      updateHotProduct,
      openAddDialog,
      addConfigHotProduct,
      getListConfigHotProduct,
      configHotProductId,
      avatarUploaded,
      deleteAvatar,
      confirmDeleteConfigHotProduct,
      artistOptions,
      ListStatus,
      sreachStatus,
    };
  },
});
</script>
