<template>
  <div class="row q-col-gutter-sm flex-center q-mt-sm">
    <div class="col-auto text-h6 text-weight-regular flex flex-center q-mr-md">
      {{ $t('infoVAB.title') }}
      <q-separator vertical spaced />
    </div>
    <q-space></q-space>
    <div class="col-12 q-mt-sm">
      <q-table
        :rows="infoVABTableRows"
        :columns="infoVABTableColumns"
        row-key="infoVABName"
        separator="cell"
        wrap-cells
        :no-data-label="$t('emptyData')"
        hide-pagination
        class="sticky-header-table"
      >
        <template v-slot:body-cell-action="item">
          <q-td style="padding: 0" align="center">
            <q-btn
              flat
              round
              color="primary"
              icon="mdi-account-edit-outline"
              @click="openUpdateInfoVABDialog(item.row.id)"
            >
              <q-tooltip :offset="[10, 10]">{{
                $t('infoVAB.toolTipMessage.updateInfoVAB')
              }}</q-tooltip>
            </q-btn>
          </q-td>
        </template>
        <template v-slot:body-cell-logo="logo">
          <q-td style="padding: auto; height: 100%" class="flex flex-center">
            <q-img
              style="width: 9rem"
              fit="contain"
              :ratio="16 / 9"
              :src="configImg.API_IMAGE_ENDPOINT + logo.row.logo"
            ></q-img>
          </q-td>
        </template>
        <template v-slot:body-cell-website="rowData">
          <q-td>
            <div align="left">
              <a
                :href="rowData.row.website"
                target="_blank"
                style="max-width: 10rem"
                >{{ rowData.row.website }}</a
              >
            </div>
          </q-td>
        </template>
      </q-table>
    </div>

    <UpdateInfoVABDialog
      v-model:isOpened="updateInfoVABDialogIsOpened"
      v-model:com-name="comName"
      v-model:logo="logo"
      v-model:website="website"
      v-model:phone="phone"
      v-model:email="email"
      v-model:address="address"
      v-model:facebook="facebook"
      v-model:twitter="twitter"
      v-model:linkedin="linkedin"
      v-model:instagram="instagram"
      v-model:snapchat="snapchat"
      @SetAvatar="setAvatar($event)"
      @deleteAvatar="deleteAvatar"
      @saveInfoVAB="updateInfoVAB"
    />
  </div>
</template>

<script lang="ts">
import { i18n } from 'src/boot/i18n';
import { defineComponent, onMounted, ref, Ref } from 'vue';
import { AxiosResponse } from 'axios';
import { api, BaseResponseBody } from 'src/boot/axios';
import { Notify } from 'quasar';
import {
  FileUploadType,
  VABInfoType,
  DetailVABInfoType,
  UpdateVABInfoType,
} from 'src/assets/type';
import { config, API_PATHS } from 'src/assets/configurations.example';
import UpdateInfoVABDialog from 'components/update-info-vab/update-info-vab-dialog/index.vue';
export type AvatarType = {
  file?: File;
  url?: string | null;
};

export default defineComponent({
  components: {
    UpdateInfoVABDialog,
  },
  setup() {
    const infoVABTableColumns = [
      {
        name: 'comName',
        field: 'comName',
        required: true,
        label: i18n.global.t('infoVAB.tableColumnsInfoVAB.comName'),
        headerStyle: 'text-align: center !important;',
        align: 'left',
        sortable: false,
      },
      {
        name: 'logo',
        field: 'logo',
        required: true,
        label: i18n.global.t('infoVAB.tableColumnsInfoVAB.logo'),
        headerStyle: 'text-align: center !important;',
        align: 'center',
        sortable: false,
      },
      {
        name: 'website',
        field: 'website',
        required: true,
        label: i18n.global.t('infoVAB.tableColumnsInfoVAB.website'),
        headerStyle: 'text-align: center !important;',
        align: 'left',
        sortable: false,
      },
      {
        name: 'phone',
        field: 'phone',
        required: true,
        label: i18n.global.t('infoVAB.tableColumnsInfoVAB.phone'),
        headerStyle: 'text-align: center !important;',
        align: 'left',
        sortable: false,
      },
      {
        name: 'email',
        field: 'email',
        required: true,
        label: i18n.global.t('infoVAB.tableColumnsInfoVAB.email'),
        headerStyle: 'text-align: center !important;',
        align: 'left',
        sortable: false,
      },
      {
        name: 'address',
        field: 'address',
        required: true,
        label: i18n.global.t('infoVAB.tableColumnsInfoVAB.address'),
        headerStyle: 'text-align: center !important;',
        align: 'center',
        sortable: false,
      },
      {
        name: 'action',
        field: 'action',
        required: true,
        label: i18n.global.t('infoVAB.tableColumnsInfoVAB.action'),
        headerStyle: 'text-align: center !important;',
        align: 'center',
        sortable: false,
      },
    ];

    const infoVABTableRows: Ref<unknown[]> = ref([]);
    const updateInfoVABDialogIsOpened = ref(false);
    const comName: Ref<string | null> = ref(null);
    const phone: Ref<string> = ref('');
    const email: Ref<string> = ref('');
    const address: Ref<string> = ref('');
    const website: Ref<string> = ref('');
    const logo: Ref<string | null> = ref(null);
    const imageChange: Ref<string> = ref('');
    const infoVABId: Ref<number | undefined> = ref(undefined);
    const avatarFile: Ref<File | null> = ref(null);
    const avatarUploaded: Ref<string> = ref('');
    const VABInfoId: Ref<number | undefined> = ref(undefined);
    const facebook: Ref<string> = ref('');
    const twitter: Ref<string> = ref('');
    const linkedin: Ref<string> = ref('');
    const instagram: Ref<string> = ref('');
    const snapchat: Ref<string> = ref('');

    //gọi api ds
    const getListVABInfo = async () => {
      try {
        const response = (await api({
          url: API_PATHS.getListVABInfo,
          method: 'GET',
          params: {},
        })) as AxiosResponse<BaseResponseBody<VABInfoType[]>>;
        if (response.data.error.code === config.API_RES_CODE.OK.code) {
          infoVABTableRows.value = response.data.data;
        }
      } catch (error) {}
    };

    const openUpdateInfoVABDialog = (id: number) => {
      void getDetailInfoVAB(id);
      updateInfoVABDialogIsOpened.value = true;
    };

    //gọi api detail
    const getDetailInfoVAB = async (id: number) => {
      try {
        const response = (await api({
          url: API_PATHS.getDetailInfoVAB,
          method: 'GET',
          params: {
            id: id,
          },
        })) as AxiosResponse<BaseResponseBody<DetailVABInfoType>>;
        if (response.data.error.code === config.API_RES_CODE.OK.code) {
          VABInfoId.value = response.data.data.id;
          logo.value = config.API_IMAGE_ENDPOINT + response.data.data.logo;
          imageChange.value = response.data.data.logo;
          comName.value = response.data.data.comName;
          email.value = response.data.data.email;
          website.value = response.data.data.website;
          phone.value = response.data.data.phone;
          address.value = response.data.data.address;
          instagram.value = response.data.data.insLink;
          linkedin.value = response.data.data.linked;
          snapchat.value = response.data.data.snapchat;
          twitter.value = response.data.data.twtLink;
          facebook.value = response.data.data.fbLink;
        }
      } catch (error) {}
    };

    //gọi api update
    const updateInfoVAB = async () => {
      if (avatarFile.value) {
        avatarUploaded.value = await callApiUploadAvatar(avatarFile.value);
        void confirmUpdatePost(avatarUploaded.value);
      } else {
        void confirmUpdatePost(imageChange.value);
      }
    };

    const confirmUpdatePost = async (logo: string) => {
      const data = {
        id: VABInfoId.value,
        logo,
        comName: comName.value,
        email: email.value,
        website: website.value,
        address: address.value,
        phone: phone.value,
        insLink: instagram.value,
        linked: linkedin.value,
        snapchat: snapchat.value,
        twtLink: twitter.value,
        fbLink: facebook.value,
      };
      const response = (await api({
        url: API_PATHS.updateInfoVAB,
        method: 'POST',
        data,
      })) as AxiosResponse<BaseResponseBody<UpdateVABInfoType[]>>;
      if (response.data.error.code === config.API_RES_CODE.OK.code) {
        updateInfoVABDialogIsOpened.value = false;
        Notify.create({
          type: 'positive',
          message: i18n.global.t('post.actionMessages.updatePostAccess'),
          actions: [{ icon: 'close', color: 'white' }],
        });
        void getListVABInfo();
      }
    };

    const setAvatar = (value: { file?: File; url?: string }) => {
      avatarFile.value = value.file as File;
      logo.value = value.url as string;
    };

    const callApiUploadAvatar = async (file: File) => {
      try {
        const bodyFormData = new FormData();
        bodyFormData.append('file', file);
        const response = (await api({
          headers: { 'Content-Type': 'multipart/form-data' },
          url: 'https://cms.vab.xteldev.com/file/upload/', // test 
          // url:'http://103.147.34.34:10700/api/upload/',  // pro
          method: 'POST',
          data: bodyFormData,
        })) as AxiosResponse<BaseResponseBody<FileUploadType>>;
        if (response.data.error.code === config.API_RES_CODE.OK.code) {
          return response.data.data.fileName;
        } else {
          return '';
        }
      } catch (error) {
        return '';
      }
    };
    const deleteAvatar = () => {
      logo.value = null;
    };

    const configImg = config;

    onMounted(() => {
      void getListVABInfo();
    });
    return {
      updateInfoVABDialogIsOpened,
      infoVABTableColumns,
      infoVABTableRows,
      getListVABInfo,
      comName,
      phone,
      email,
      address,
      website,
      infoVABId,
      openUpdateInfoVABDialog,
      getDetailInfoVAB,
      updateInfoVAB,
      logo,
      setAvatar,
      callApiUploadAvatar,
      deleteAvatar,
      configImg,
      VABInfoId,
      facebook,
      twitter,
      linkedin,
      instagram,
      snapchat,
    };
  },
});
</script>
