<template>
  <q-dialog
    persistent
    :model-value="isOpened"
    @update:model-value="$emit('update:isOpened', $event)"
  >
    <q-card class="full-width" style="max-width: 60rem" bordered>
      <q-form
        greedy
        @submit.prevent="
          $emit('savePostInfo', {});
          $emit('update:isOpened', false);
        "
      >
        <q-card-section class="q-pa-none">
          <q-item>
            <q-item-section>
              <q-item-label class="text-h6 text-weight-regular">{{
                isUpdate
                  ? $t('post.dialogLabel.title.addPost')
                  : $t('post.dialogLabel.title.updatePost')
              }}</q-item-label>
            </q-item-section>
          </q-item>
        </q-card-section>
        <q-separator />

        <q-card-section
          class="overflow-auto"
          style="max-height: calc(100vh - 10rem)"
        >
          <div class="row q-col-gutter-sm">
            <div class="col-6">
              <div class="row flex-center">
                <div>
                  <q-card class="q-mb-sm" v-if="image !== null">
                    <q-img
                      @click="uploadAvatar"
                      :src="image"
                      style="height: 380px; width: 350px; cursor: pointer"
                    ></q-img>
                    <q-icon
                      name="mdi-close-circle"
                      color="red"
                      style="
                        position: absolute;
                        right: 0;
                        font-size: 18px;
                        cursor: pointer;
                      "
                      @click="deleteAvatar"
                    ></q-icon>
                  </q-card>
                  <div
                    @click="uploadAvatar"
                    v-else
                    class="q-mb-sm"
                    style="
                      height: 380px;
                      width: 350px;
                      border: 2px dashed #5d319e;
                      border-radius: 4px;
                      cursor: pointer;
                    "
                  >
                    <div
                      style="
                        height: 380px;
                        width: 350px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                      "
                    >
                      <q-icon
                        style="color: #5d319e"
                        name="mdi-cloud-upload"
                        size="xl"
                      ></q-icon>
                      Tải ảnh lên
                    </div>
                  </div>
                  <div>
                    <input
                      ref="upload"
                      hidden
                      @change="selectedFile($event.target.files)"
                      type="file"
                      accept="image/png, image/jpeg"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6">
              <q-tabs
                v-model="tab"
                dense
                align="left"
                active-color="primary"
                indicator-color="primary"
                narrow-indicator
                :breakpoint="0"
              >
                <q-tab
                  v-for="(info, index) in languageOptions"
                  :key="`${info.language.id}-${index}`"
                  :name="info.language.code"
                  :label="info.language.name"
                  no-caps
                />
              </q-tabs>
              <q-separator />
              <q-tab-panels v-model="tab" animated>
                <q-tab-panel
                  v-for="(info, index) in languageOptions"
                  :key="`${info.language.id}-${index}`"
                  :name="info.language.code"
                  class="q-pt-none; q-pa-none"
                >
                  <q-input
                    v-model="info.name"
                    :label="$t('post.dialogLabel.postLabels.name')"
                    type="text"
                    outlined
                    lazy-rules
                    :rules="nameRules"
                    clearable
                  ></q-input>
                </q-tab-panel>
              </q-tab-panels>
              <q-select
                :model-value="category"
                @update:model-value="$emit('update:category', $event)"
                :label="$t('post.dialogLabel.postLabels.category')"
                :rules="categoryRules"
                :options="categoryOptions"
                map-options
                class="q-py-sm"
                option-value="id"
                option-label="name"
                type="text"
                outlined
              ></q-select>
              <div class="q-pt-md">
                <span class="text-body1">{{
                  $t('post.dialogLabel.postLabels.status')
                }}</span
                ><q-toggle
                  :model-value="status"
                  :true-value="1"
                  :false-value="2"
                  @update:model-value="$emit('update:status', $event)"
                />
              </div>
            </div>

            <div class="col-12 q-mt-md">
              <q-tabs
                v-model="tabContent"
                dense
                active-color="primary"
                indicator-color="primary"
                align="left"
                narrow-indicator
              >
                <q-tab
                  v-for="(info, index) in languageOptions"
                  :key="`${info.language.id}-${index}`"
                  :name="info.language.code"
                  :label="info.language.name"
                  no-caps
                />
              </q-tabs>

              <q-separator />
              <q-tab-panels v-model="tabContent" animated>
                <q-tab-panel
                  v-for="(info, index) in languageOptions"
                  :key="`${info.language.id}-${index}`"
                  :name="info.language.code"
                  class="q-pt-none; q-pa-none"
                >
                  <q-editor
                    v-model="info.content"
                    ref="editorRef"
                    placeholder="Nội dung *"
                    toolbar-text-color="white"
                    toolbar-toggle-color="yellow-8"
                    toolbar-bg="primary"
                    style="height: 100%"
            
                    :toolbar="[
                      [
                        {
                          label: $q.lang.editor.align,
                          icon: $q.iconSet.editor.align,
                          fixedLabel: true,
                          list: 'only-icons',
                          options: ['left', 'center', 'right', 'justify'],
                        },
                      ],
                      [
                        'bold',
                        'italic',
                        'strike',
                        'underline',
                        'subscript',
                        'superscript',
                      ],
                      ['token', 'hr', 'link', 'custom_btn'],
                      ['print', 'fullscreen'],
                      [
                        {
                          label: $q.lang.editor.formatting,
                          icon: $q.iconSet.editor.formatting,
                          list: 'no-icons',
                          options: [
                            'p',
                            'h1',
                            'h2',
                            'h3',
                            'h4',
                            'h5',
                            'h6',
                            'code',
                          ],
                        },
                        {
                          label: $q.lang.editor.fontSize,
                          icon: $q.iconSet.editor.fontSize,
                          fixedLabel: true,
                          fixedIcon: true,
                          list: 'no-icons',
                          options: [
                            'size-1',
                            'size-2',
                            'size-3',
                            'size-4',
                            'size-5',
                            'size-6',
                            'size-7',
                          ],
                        },
                        {
                          label: $q.lang.editor.defaultFont,
                          icon: $q.iconSet.editor.font,
                          fixedIcon: true,
                          list: 'no-icons',
                          options: [
                            'default_font',
                            'arial',
                            'arial_black',
                            'comic_sans',
                            'courier_new',
                            'impact',
                            'lucida_grande',
                            'times_new_roman',
                            'verdana',
                          ],
                        },
                        'removeFormat',
                      ],
                      ['quote', 'unordered', 'ordered', 'outdent', 'indent'],

                      ['undo', 'redo'],
                      ['viewsource'],
                      ['upload']

                    ]"
                    :fonts="{
                      arial: 'Arial',
                      arial_black: 'Arial Black',
                      comic_sans: 'Comic Sans MS',
                      courier_new: 'Courier New',
                      impact: 'Impact',
                      lucida_grande: 'Lucida Grande',
                      times_new_roman: 'Times New Roman',
                      verdana: 'Verdana',
                    }"
                    > 
                    <template #upload>
                      <q-btn @click="uploadFile" flat class="text-white" dense size="sm" icon="cloud_upload">

                      </q-btn>
                    </template>
                   </q-editor>
                </q-tab-panel>
              </q-tab-panels>
            </div>
          </div>
        </q-card-section>
        <q-card-actions align="right">
          <div>
            <q-btn
              color="grey"
              no-caps
              style="width: 90px"
              class="q-mr-sm"
              :label="$t('post.crudActions.cancel')"
              @click="$emit('update:isOpened', false)"
            />
            <q-btn
              type="submit"
              color="primary"
              no-caps
              style="width: 90px"
              :label="$t('post.crudActions.save')"
            />
          </div>
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
</template>

<script lang="ts">
import { defineComponent, PropType, ref } from 'vue';
import { i18n } from 'src/boot/i18n';
export default defineComponent({
  props: {
    isOpened: {
      type: Boolean,
      required: true,
    },
    isUpdate: { type: Boolean, default: false },
    image: { type: String, required: true },
    name: { type: String, required: true },
    category: { type: Number, required: true },
    categoryOptions: { type: Array, required: true },
    content: { type: String, required: true },
    status: { type: Number, required: true },
    languageOptions: {
      type: Array as PropType<
        {
          name: string;
          title: string;
          content: string;
          status: number;
          language: {
            id: number;
            code: string;
            name: string;
          };
        }[]
      >,
      required: true,
    },
  },

  setup(_, context) {



  



   const uploadImage = ref(null);
    const uploadFile = () => {
      // eslint-disable-next-line
      // @ts-ignore
      // eslint-disable-next-line
      uploadImage.value?.click();
    };

     

    const selectedFile = (value: FileList) => {
      context.emit('SetAvatar', {
        file: value[0],
        url: URL.createObjectURL(value[0]),
      });
    };
    const deleteAvatar = () => {
      context.emit('deleteAvatar');
    };
    const upload = ref(null);
    const uploadAvatar = () => {
      // eslint-disable-next-line
      // @ts-ignore
      // eslint-disable-next-line
      upload.value?.click();
    };
    const categoryRules = [
      (val?: number) =>
        val !== undefined ||
        i18n.global.t('post.validateMessages.requireCategory'),
    ];
    const imageRules = [
      (val?: string) =>
        (val && val.trim().length) ||
        i18n.global.t('post.validateMessages.requireImage'),
    ];
    const nameRules = [
      (val?: string) =>
        (val && val.trim().length) ||
        i18n.global.t('post.validateMessages.requireName'),
    ];

    const tab = ref('vi');
    const tabContent = ref('vi');
    return {
      nameRules,
      imageRules,
      selectedFile,
      categoryRules,
      uploadImage,
      upload,
      uploadAvatar,
      deleteAvatar,
      tab,
      tabContent,
      uploadFile
    };
  },
  emits: [
    'update:isOpened',
    'update:image',
    'update:name',
    'update:category',
    'update:content',
    'update:status',
    'savePostInfo',
    'SetAvatar',
    'deleteAvatar',
  ],
});
</script>
