<template>
  <div class="row q-col-gutter-sm q-pa-sm" align="center" justify="center">
    <div class="col-4">
      <UserGroupComponent
        :list-users="userList"
        :is-disable="isDisable"
        :selected-group-id="selectedGroupId"
        @click:groupName="getGroupInfo"
        @click:addNewGroupUsers="changeValueIsDisable"
      ></UserGroupComponent>
    </div>
    <div class="col-8">
      <q-tabs
        v-model="tab"
        dense
        class="text-grey"
        active-color="primary"
        indicator-color="primary"
        align="justify"
        narrow-indicator
      >
        <q-tab
          no-caps
          name="inforGroup"
          :label="$t('userGroupPage.groupInfo.title')"
        >
        </q-tab>
        <q-tab
          no-caps
          name="accountGroup"
          :label="$t('userGroupPage.groupInfo.accountGroup')"
        />
      </q-tabs>
      <q-separator />
      <q-tab-panels v-model="tab" animated>
        <q-tab-panel name="inforGroup">
          <GroupInfoComponent
            :is-disable="isDisable"
            v-model:group-name="groupName"
            v-model:group-description="groupDescription"
            v-model:selectedPageRoles="selectedPageRoles"
            @resetGroupInfo="changeValueIsDisable"
            @saveGroupInfo="saveGroupInfo($store)"
            @deleteGroup="confirmDeleteGroup($store)"
          ></GroupInfoComponent>
        </q-tab-panel>
        <q-tab-panel name="accountGroup">
          <accountGroup></accountGroup>
        </q-tab-panel>
      </q-tab-panels>
    </div>
  </div>
</template>
<script lang="ts" src="./UserGroup.ts"></script>
