<template>
  <div class="row q-col-gutter-sm flex-center q-mt-sm">
    <div class="col-auto text-h6 text-weight-regular flex flex-center q-mr-md">
      {{ $t('managingUnit.title') }}
      <q-separator vertical spaced />
    </div>
    <q-space></q-space>
    <div class="col-2">
      <q-input
        dense
        outlined
        label="Tên đơn vị"
        v-model="unitNameKeyword"
        clearable
      ></q-input>
    </div>
    <div class="col-2">
      <q-select
        v-model="fieldSelected"
        :options="fieldsOptions"
        label="Lĩnh vực"
        option-label="name"
        option-value="id"
        dense
        outlined
        clearable
        ><template v-slot:no-option>
          <q-item>
            <q-item-section class="text-grey">
              {{ $t('managingUnitAdd.noDataTable') }}
            </q-item-section>
          </q-item>
        </template></q-select
      >
    </div>
    <div class="col-auto">
      <q-btn
        color="primary"
        no-caps
        :label="$t('crudActions.search')"
        @click="getListUnits"
        style="width: 7.14rem"
      ></q-btn>
    </div>
    <div class="col-auto">
      <q-btn
        color="primary"
        no-caps
        :label="$t('crudActions.add')"
        style="width: 7.14rem"
        @click="openAddUnitDialog"
      >
      </q-btn>
    </div>

    <div class="col-12 q-mt-sm">
      <q-table
        :rows="managingUnitTableRows"
        :columns="managingUnitTableColumns"
        row-key="unitCode"
        separator="cell"
        :no-data-label="$t('emptyData')"
        :rows-per-page-label="$t('recordPerPage')"
        :pagination="{
          rowsPerPage: 0,
        }"
        wrap-cells
        hide-pagination
        class="sticky-header-table"
      >
        <template v-slot:body-cell-stt="item">
          <q-td :item="item" style="text-align: center">
            {{ 1 + item.rowIndex + pageSize * (pageIndex - 1) }}
          </q-td>
        </template>
        <template v-slot:body-cell-action="item">
          <q-td style="padding: 0; text-align: center">
            <q-btn
              flat
              round
              color="primary"
              icon="mdi-account-edit-outline"
              @click="openUpdateUnitDialog(item.row.id)"
            >
              <q-tooltip :offset="[20, 10]">{{
                $t('managingUnit.toolTipMessage.updateInfo')
              }}</q-tooltip>
            </q-btn>
            <q-btn
              flat
              round
              color="primary"
              icon="mdi-delete-outline"
              @click="confirmDeleteManagingUnits(item.row.id)"
            >
              <q-tooltip :offset="[20, 10]">{{
                $t('managingUnit.toolTipMessage.delete')
              }}</q-tooltip>
            </q-btn>
          </q-td>
        </template>
        <template v-slot:body-cell-status="rowData">
          <q-td>
            <div align="center">
              <q-chip
                :color="
                  rowData.value === UnitStatus.active ? 'positive' : 'orange'
                "
                text-color="white"
                size="sm"
              >
                {{
                  rowData.value === UnitStatus.active
                    ? $t('managingUnit.statusLabel.active')
                    : $t('managingUnit.statusLabel.inactive')
                }}
              </q-chip>
            </div>
          </q-td>
        </template>
      </q-table>
    </div>
    <div class="col-12 q-mt-sm">
      <Pagination
        v-model:currentPage="pageIndex"
        v-model:pageSize="pageSize"
        :totalPage="totalPage"
        @update:pageSize="changePageSize"
        @update:currentPage="getListUnits"
      />
    </div>

    <AddUpdateUnitDialog
      v-model:isOpened="addUnitDialogIsOpened"
      v-model:address="unitAddress"
      v-model:code="unitCode"
      v-model:email="unitEmail"
      v-model:fields="unitField"
      v-model:fieldsOptions="fieldsOptions"
      v-model:name="unitName"
      v-model:phoneNumber="unitPhoneNumber"
      v-model:representative="unitRepresentative"
      v-model:status="unitStatus"
      v-model:artistList="unitArtistList"
      v-model:check_artistList="check_artistList"
      isUpdate
      @addNewUnit="addNewUnit"
    />

    <AddUpdateUnitDialog
      v-model:isOpened="updateUnitDialogIsOpened"
      v-model:address="unitAddress"
      v-model:code="unitCode"
      v-model:email="unitEmail"
      v-model:fields="unitField"
      v-model:fieldsOptions="fieldsOptions"
      v-model:name="unitName"
      v-model:phoneNumber="unitPhoneNumber"
      v-model:representative="unitRepresentative"
      v-model:status="unitStatus"
      v-model:artistList="unitArtistList"
      v-model:check_artistList="check_artistList"
      @addNewUnit="updateNewUnit"
    />
  </div>
</template>

<script lang="ts">
import { i18n } from 'src/boot/i18n';
import { defineComponent, onMounted, ref, Ref } from 'vue';
import Pagination from 'components/pagination/index.vue';
import { Dialog, Notify } from 'quasar';
import { AxiosResponse } from 'axios';
import { api, BaseResponseBody } from 'src/boot/axios';
import {
  PaginationResponse,
  ArtistOwner,
  FieldType,
  ArtistOwnerAdd,
  DetailUnit,
} from 'src/assets/type';
import { config, API_PATHS } from 'src/assets/configurations.example';
import AddUpdateUnitDialog from 'components/units-manager/add-update-unit-dialog/index.vue';
import { UnitStatus } from 'src/assets/enums';

export default defineComponent({
  components: {
    Pagination,
    AddUpdateUnitDialog,
  },
  setup() {
    //DS đơn vị chủ quản
    const managingUnitTableColumns = [
      {
        name: 'stt',
        field: 'stt',
        required: true,
        label: 'STT',
        align: 'center',
        sortable: false,
      },
      {
        name: 'code',
        field: 'code',
        required: true,
        label: i18n.global.t('managingUnit.tableColumns.code'),
        headerStyle: 'text-align: center !important;',
        align: 'left',
        sortable: false,
      },
      {
        name: 'name',
        field: 'name',
        required: true,
        label: i18n.global.t('managingUnit.tableColumns.name'),
        headerStyle: 'text-align: center !important;',
        align: 'left',
        sortable: false,
      },
      {
        name: 'representative',
        field: 'representative',
        required: true,
        label: i18n.global.t('managingUnit.tableColumns.representative'),
        headerStyle: 'text-align: center !important;',
        align: 'left',
        sortable: false,
      },
      {
        name: 'fields',
        field: 'fields',
        required: true,
        label: i18n.global.t('managingUnit.tableColumns.fields'),
        headerStyle: 'text-align: center !important;',
        align: 'left',
        sortable: false,
      },
      {
        name: 'email',
        field: 'email',
        required: true,
        label: i18n.global.t('managingUnit.tableColumns.email'),
        headerStyle: 'text-align: center !important;',
        align: 'left',
        sortable: false,
      },
      {
        name: 'phoneNumber',
        field: 'phoneNumber',
        required: true,
        label: i18n.global.t('managingUnit.tableColumns.phoneNumber'),
        headerStyle: 'text-align: center !important;',
        align: 'left',
        sortable: false,
      },
      {
        name: 'status',
        field: 'status',
        required: true,
        label: i18n.global.t('managingUnit.tableColumns.status'),
        headerStyle: 'text-align: center !important;',
        align: 'center',
        sortable: false,
      },
      {
        name: 'action',
        field: 'action',
        required: true,
        label: i18n.global.t('managingUnit.tableColumns.action'),
        headerStyle: 'text-align: center !important;',
        align: 'center',
        sortable: false,
      },
    ];

    const managingUnitTableRows: Ref<unknown[]> = ref([]);

    const pageIndex = ref(1);
    const pageSize = ref(20);
    const totalPage = ref(0);
    const unitNameKeyword = ref('');
    const fieldsOptions: Ref<FieldType[]> = ref([]);
    const fieldSelected: Ref<FieldType | undefined> = ref();
    const addUnitDialogIsOpened = ref(false);
    const updateUnitDialogIsOpened = ref(false);
    const unitField: Ref<FieldType[] | undefined> = ref(undefined);
    const unitCode = ref('');
    const unitName = ref('');
    const unitRepresentative = ref('');
    const unitEmail = ref('');
    const unitAddress = ref('');
    const unitPhoneNumber = ref('');
    const unitStatus: Ref<number> = ref(UnitStatus.active);
    const unitArtistList: Ref<unknown[]> = ref([]);
    const unitId: Ref<number | undefined> = ref(undefined);
    const check_artistList = ref(false);

    const getListUnits = async () => {
      try {
        const response = (await api({
          url: API_PATHS.getListUnits,
          method: 'GET',
          params: {
            pageIndex: pageIndex.value,
            pageSize: pageSize.value,
            name: unitNameKeyword.value,
            fields: fieldSelected.value?.id,
          },
        })) as AxiosResponse<BaseResponseBody<PaginationResponse<ArtistOwner>>>;
        if (response.data.error.code === config.API_RES_CODE.OK.code) {
          managingUnitTableRows.value = response.data.data.data;
          totalPage.value = response.data.data.totalPages;
        }
      } catch (error) {}
    };

    const openAddUnitDialog = () => {
      unitField.value = undefined;
      unitCode.value = '';
      unitName.value = '';
      unitRepresentative.value = '';
      unitEmail.value = '';
      unitAddress.value = '';
      unitPhoneNumber.value = '';
      unitArtistList.value = [];
      unitStatus.value = UnitStatus.active;
      addUnitDialogIsOpened.value = true;
    };

    const openUpdateUnitDialog = (id: number) => {
      updateUnitDialogIsOpened.value = true;
      void getDetailUnit(id);
    };

    const getDetailUnit = async (id: number) => {
      try {
        const response = (await api({
          url: API_PATHS.getDetailUnit,
          method: 'GET',
          params: {
            id: id,
          },
        })) as AxiosResponse<BaseResponseBody<DetailUnit>>;
        if (response.data.error.code === config.API_RES_CODE.OK.code) {
          unitId.value = response.data.data.id;
          unitName.value = response.data.data.name;
          unitCode.value = response.data.data.code;
          unitEmail.value = response.data.data.email;
          unitPhoneNumber.value = response.data.data.phoneNumber;
          unitRepresentative.value = response.data.data.representative;
          unitAddress.value = response.data.data.address;
          unitStatus.value = response.data.data.status;
          unitArtistList.value = response.data.data.contracts;
          unitField.value = response.data.data.fields;
        }
      } catch (error) {}
    };

    const changePageSize = () => {
      pageIndex.value = 1;
      void getListUnits();
    };

    //gọi API xóa đơn vị
    const confirmDeleteManagingUnits = (id: number) => {
      Dialog.create({
        title: i18n.global.t(
          'managingUnit.confirmActionsTitle.confirmDeleteManagingUnitsTitle'
        ),
        message: i18n.global.t(
          'managingUnit.confirmActionsTitle.confirmDeleteManagingUnitsContent'
        ),
        cancel: i18n.global.t(
          'managingUnit.confirmActionsTitle.confirmDeleteManagingUnitsCancelBtnLabel'
        ),
        color: 'negative',
      }).onOk(() => {
        void deleteManagingUnits(id);
      });
    };

    const deleteManagingUnits = async (id: number) => {
      try {
        const deleteResult = (await api({
          url: API_PATHS.deleteManagingUnits,
          method: 'GET',
          params: {
            id: id,
          },
        })) as AxiosResponse<BaseResponseBody<unknown>>;

        if (deleteResult.data.error.code === config.API_RES_CODE.OK.code) {
          Notify.create({
            type: 'positive',
            message: i18n.global.t(
              'managingUnit.actionMessages.deleteManagingUnitsAccess'
            ),
            actions: [{ icon: 'close', color: 'white' }],
          });
          void getListUnits();
        }
      } catch (error) {}
    };

    //gọi api lĩnh vực
    const getFieldOptions = async () => {
      const response = (await api({
        url: API_PATHS.getFieldOptions,
        method: 'GET',
        params: {},
      })) as AxiosResponse<BaseResponseBody<FieldType[]>>;
      if (response.data.error.code === config.API_RES_CODE.OK.code) {
        fieldsOptions.value = response.data.data;
      }
    };

    const updateNewUnit = async () => {
      const data = {
        id: unitId.value,
        name: unitName.value,
        code: unitCode.value,
        representative: unitRepresentative.value,
        address: unitAddress.value,
        email: unitEmail.value,
        phoneNumber: unitPhoneNumber.value,
        status: unitStatus.value,
        fields: unitField.value,
        contracts: unitArtistList.value,
      };
      const response = (await api({
        url: API_PATHS.updateUnit,
        method: 'POST',
        data,
      })) as AxiosResponse<BaseResponseBody<ArtistOwnerAdd[]>>;
      if (response.data.error.code === config.API_RES_CODE.OK.code) {
        updateUnitDialogIsOpened.value = false;
        Notify.create({
          type: 'positive',
          message: i18n.global.t(
            'managingUnit.actionMessages.updateManagingUnitsAccess'
          ),
          actions: [{ icon: 'close', color: 'white' }],
        });
        void getListUnits();
      }
    };

    //add
    const addNewUnit = async () => {
      let hasError = false;
      if (unitArtistList.value.length !== 0) {
        hasError = true;
        check_artistList.value = true;
      }
      if (hasError === false) {
        const data = {
          name: unitName.value,
          code: unitCode.value,
          representative: unitRepresentative.value,
          address: unitAddress.value,
          email: unitEmail.value,
          phoneNumber: unitPhoneNumber.value,
          status: unitStatus.value,
          fields: unitField.value,
          contracts: unitArtistList.value,
        };
        const response = (await api({
          url: API_PATHS.artistOwnerAdd,
          method: 'POST',
          data,
        })) as AxiosResponse<BaseResponseBody<ArtistOwnerAdd[]>>;
        if (response.data.error.code === config.API_RES_CODE.OK.code) {
          addUnitDialogIsOpened.value = false;
          Notify.create({
            type: 'positive',
            message: i18n.global.t(
              'managingUnit.actionMessages.addNewManagingUnitsAccess'
            ),
            actions: [{ icon: 'close', color: 'white' }],
          });
          void getListUnits();
        }
      }
    };

    onMounted(() => {
      void getListUnits();
      void getFieldOptions();
    });
    return {
      check_artistList,
      getDetailUnit,
      addUnitDialogIsOpened,
      updateUnitDialogIsOpened,
      getFieldOptions,
      updateNewUnit,
      confirmDeleteManagingUnits,
      deleteManagingUnits,
      fieldsOptions,
      status,
      managingUnitTableColumns,
      managingUnitTableRows,
      getListUnits,
      pageIndex,
      pageSize,
      unitNameKeyword,
      fieldSelected,
      totalPage,
      changePageSize,
      unitField,
      unitCode,
      unitName,
      unitRepresentative,
      unitEmail,
      unitAddress,
      unitPhoneNumber,
      unitStatus,
      openAddUnitDialog,
      unitArtistList,
      addNewUnit,
      openUpdateUnitDialog,
      UnitStatus,
    };
  },
});
</script>
