<template>
  <q-dialog
    persistent
    :model-value="isOpenUpdateStory"
    @update:model-value="$emit('update:isOpenUpdateStory', $event)"
  >
    <q-card style="min-width: 600px" bordered>
      <q-card-section>
        <q-item>
          <q-item-section>
            <q-item-label class="text-h6 text-weight-regular">{{
              $t('artist.dialogLabel.title.updateStory')
            }}</q-item-label>
          </q-item-section>
        </q-item>
      </q-card-section>
      <q-separator />

      <q-card-section>
        <div class="row q-col-gutter-sm">
          <div class="col-12">
            <!-- <div align="right">
              <UploadImage
                v-if="urlFileLocal.length !== 0"
                :isButton="false"
                :tooltipMessageStory="true"
                @selectedFile="uploadStory"
              ></UploadImage>
            </div> -->
            <q-card v-if="urlFileLocal" flat>
              <div align="center">
                <q-img
                  :src="imageAPI ? imageAPI : urlFileLocal"
                  style="aspect-ratio: 16/9"
                >
                </q-img>
              </div>
            </q-card>

            <UploadImage @selectedFile="uploadStory"></UploadImage>

            <q-input
              v-model="title"
              label="Tiêu đề"
              hide-bottom-space
              type="text"
              class="q-my-sm"
              outlined
              clearable
            ></q-input>

            <q-input
              v-model="content"
              label="Nội dung"
              hide-bottom-space
              type="textarea"
              class="q-my-sm"
              outlined
              clearable
            ></q-input>
          </div>
        </div>
      </q-card-section>
      <q-card-actions align="right">
        <q-btn
          color="grey"
          no-caps
          style="width: 90px"
          :label="$t('customer.crudActions.cancel')"
          @click="$emit('click:CloseBtnUpdateStory')"
        />
        <q-btn
          color="primary"
          no-caps
          style="width: 90px"
          :label="$t('customer.crudActions.save')"
          type="submit"
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script lang="ts">
import { defineComponent, PropType, Ref, ref, watch } from 'vue';
import UploadImage from '../../../upload-image/index.vue';
import { StoriesType } from 'src/assets/type';
import { config } from 'src/assets/configurations.example';
export default defineComponent({
  components: {
    UploadImage,
  },
  props: {
    isOpenUpdateStory: {
      type: Boolean,
      required: true,
    },
    stories: {
      type: Object as PropType<StoriesType>,
      requied: false,
    },
  },

  setup(props, context) {
    const configImg = config;
    const id: Ref<number | null> = ref(null);
    const file: Ref<File | string> = ref('');
    const title: Ref<string> = ref('');
    const content: Ref<string> = ref('');
    const urlFileLocal: Ref<string> = ref('');
    const imageAPI: Ref<string | null> = ref(null);
    const uploadStory = (value: FileList) => {
      urlFileLocal.value = URL.createObjectURL(value[0]);
      file.value = value[0];
      imageAPI.value = null;
    };
    watch(
      () => props.isOpenUpdateStory,
      (value) => {
        if (value) {
          id.value = props.stories?.id as number;
          title.value = props.stories?.title as string;
          content.value = props.stories?.content as string;
          urlFileLocal.value = props.stories?.imageUrl as string;
          imageAPI.value =
            // eslint-disable-next-line @typescript-eslint/restrict-plus-operands
            configImg.API_IMAGE_ENDPOINT + props.stories?.imageUrl;
        }
      }
    );
    const ResetData = () => {
      file.value = '';
      title.value = '';
      content.value = '';
      urlFileLocal.value = '';
    };
    const SubmitData = () => {
      context.emit('click:CloseBtnUpdateStory');
      context.emit('updateData', {
        id: id.value,
        file: file.value,
        title: title.value,
        content: content.value,
        imageUrl: urlFileLocal.value,
      });
    };

    return {
      uploadStory,
      urlFileLocal,
      file,
      title,
      content,
      ResetData,
      id,
      configImg,
      imageAPI,
      SubmitData,
    };
  },

  emits: [
    'selectedFile',
    'update:isOpenUpdateStory',
    'click:CloseBtnUpdateStory',
    'updateData',
  ],
});
</script>
