<template>
  <div class="row q-col-gutter-sm flex-center q-mt-sm">
    <div class="col-auto text-h6 text-weight-regular flex flex-center q-mr-md">
      {{ $t('field.title') }}
      <q-separator vertical spaced />
    </div>
    <q-space></q-space>
    <div class="col-2">
      <q-input
        v-model="nameField"
        type="text"
        dense
        outlined
        label="Tên lĩnh vực"
        clearable
      ></q-input>
    </div>
    <div class="col-auto">
      <q-btn
        color="primary"
        no-caps
        :label="$t('crudActions.search')"
        @click="getListField"
        style="width: 7.14rem"
      ></q-btn>
    </div>
    <div class="col-auto">
      <q-btn
        color="primary"
        no-caps
        :label="$t('crudActions.add')"
        style="width: 7.14rem"
        @click="openAddFieldDialog"
      >
      </q-btn>
    </div>

    <div class="col-12 q-mt-sm">
      <q-table
        :rows="fieldTableRows"
        :columns="fieldTableColumns"
        row-key="fieldName"
        separator="cell"
        :no-data-label="$t('emptyData')"
        hide-pagination
        wrap-cells
        class="sticky-header-table"
      >
        <template v-slot:body-cell-action="item">
          <q-td style="padding: 0; text-align: center">
            <q-btn
              flat
              round
              color="primary"
              icon="mdi-account-edit-outline"
              @click="openUpdateFieldDialog(item.row.id)"
            >
              <q-tooltip :offset="[10, 10]">{{
                $t('field.toolTipMessage.updateField')
              }}</q-tooltip>
            </q-btn>
            <q-btn
              flat
              round
              color="primary"
              icon="mdi-delete-outline"
              @click="confirmDeleteField(item.row.id)"
            >
              <q-tooltip :offset="[10, 10]">{{
                $t('field.toolTipMessage.deleteField')
              }}</q-tooltip>
            </q-btn>
          </q-td>
        </template>
        <template v-slot:body-cell-description="item">
          <td>
            <div class="ellipsis-3-lines">
              {{ !item.row.description ? '' : item.row.description }}
              <q-tooltip :offset="[10, 10]" max-width="35%">{{
                !item.row.description ? '' : item.row.description
              }}</q-tooltip>
            </div>
          </td>
        </template>
        <template v-slot:body-cell-status="rowData">
          <q-td>
            <div align="center">
              <q-chip
                :color="
                  rowData.value === FieldStatus.active ? 'positive' : 'orange'
                "
                text-color="white"
                size="sm"
              >
                {{
                  rowData.value === FieldStatus.active
                    ? $t('field.statusLabel.active')
                    : $t('field.statusLabel.inactive')
                }}
              </q-chip>
            </div>
          </q-td>
        </template>
      </q-table>
    </div>

    <AddUpdateFieldDialog
      v-model:isOpened="addFieldDialogIsOpened"
      v-model:name="name"
      v-model:description="description"
      v-model:status="status"
      isUpdate
      @saveFieldInfo="addNewField"
    />

    <AddUpdateFieldDialog
      v-model:isOpened="updateFieldDialogIsOpened"
      v-model:name="name"
      v-model:description="description"
      v-model:status="status"
      @saveFieldInfo="updateNewField"
    />
  </div>
</template>

<script lang="ts">
import { i18n } from 'src/boot/i18n';
import { defineComponent, onMounted, ref, Ref } from 'vue';
import { API_PATHS } from 'src/assets/configurations.example';
import { AxiosResponse } from 'axios';
import { api, BaseResponseBody } from 'src/boot/axios';
import { Field, AddField, DetailField, UpdateField } from 'src/assets/type';
import { config } from 'src/assets/configurations.example';
import { FieldStatus } from 'src/assets/enums';
import AddUpdateFieldDialog from 'components/add-update-field/index.vue';
import { Dialog, Notify } from 'quasar';

export default defineComponent({
  components: {
    AddUpdateFieldDialog,
  },
  setup() {
    const fieldTableColumns = [
      {
        name: 'name',
        field: 'name',
        required: true,
        label: i18n.global.t('field.tableColumnsField.name'),
        headerStyle: 'text-align: center !important; width: 20%',
        align: 'left',
        sortable: false,
      },
      {
        name: 'description',
        field: 'description',
        required: true,
        label: i18n.global.t('field.tableColumnsField.description'),
        headerStyle: 'text-align: center !important; width: 40%',
        align: 'left',
        width: '300px',
        sortable: false,
      },
      {
        name: 'status',
        field: 'status',
        required: true,
        label: i18n.global.t('field.tableColumnsField.status'),
        headerStyle: 'text-align: center !important; width: 15%',
        align: 'center',
        width: '120px',
        sortable: false,
      },
      {
        name: 'action',
        field: 'action',
        required: true,
        label: i18n.global.t('field.tableColumnsField.action'),
        headerStyle: 'text-align: center !important; width: 15%',
        align: 'center',
        width: '120px',
        sortable: false,
      },
    ];

    const fieldTableRows: Ref<unknown[]> = ref([]);
    const addFieldDialogIsOpened = ref(false);
    const updateFieldDialogIsOpened = ref(false);
    const description = ref('');
    const name = ref('');
    const status: Ref<number> = ref(FieldStatus.active);
    const fieldId: Ref<number | undefined> = ref(undefined);
    const nameField = ref('');

    //gọi api ds
    const getListField = async () => {
      const response = (await api({
        url: API_PATHS.getListField,
        method: 'GET',
        params: {
          name: nameField.value,
        },
      })) as AxiosResponse<BaseResponseBody<Field[]>>;
      if (response.data.error.code === config.API_RES_CODE.OK.code) {
        fieldTableRows.value = response.data.data;
      }
    };

    const confirmDeleteField = (id: number) => {
      Dialog.create({
        title: i18n.global.t(
          'field.confirmActionsTitle.confirmDeleteFieldTitle'
        ),
        message: i18n.global.t(
          'field.confirmActionsTitle.confirmDeleteFieldContent'
        ),
        cancel: i18n.global.t(
          'field.confirmActionsTitle.confirmDeleteFieldCancelBtnLabel'
        ),
        color: 'negative',
      }).onOk(() => {
        void deleteField(id);
      });
    };

    //gói api xóa
    const deleteField = async (id: number) => {
      try {
        const deleteResult = (await api({
          url: API_PATHS.deleteField,
          method: 'GET',
          params: {
            id: id,
          },
        })) as AxiosResponse<BaseResponseBody<unknown>>;

        if (deleteResult.data.error.code === config.API_RES_CODE.OK.code) {
          Notify.create({
            type: 'positive',
            message: i18n.global.t('field.actionMessages.deleteFieldAccess'),
            actions: [{ icon: 'close', color: 'white' }],
          });
          void getListField();
        }
      } catch (error) {}
    };

    const openAddFieldDialog = () => {
      name.value = '';
      description.value = '';
      status.value = FieldStatus.active;
      addFieldDialogIsOpened.value = true;
    };

    //gọi api add
    const addNewField = async () => {
      const data = {
        name: name.value,
        description: description.value,
        status: status.value,
      };
      const response = (await api({
        url: API_PATHS.addField,
        method: 'POST',
        data,
      })) as AxiosResponse<BaseResponseBody<AddField[]>>;
      if (response.data.error.code === config.API_RES_CODE.OK.code) {
        addFieldDialogIsOpened.value = false;
        Notify.create({
          type: 'positive',
          message: i18n.global.t('field.actionMessages.addNewFieldAccess'),
          actions: [{ icon: 'close', color: 'white' }],
        });
        void getListField();
      }
    };

    const openUpdateFieldDialog = (id: number) => {
      void getDetailField(id);
      updateFieldDialogIsOpened.value = true;
    };

    //gọi api detail
    const getDetailField = async (id: number) => {
      try {
        const response = (await api({
          url: API_PATHS.getDetailField,
          method: 'GET',
          params: {
            id: id,
          },
        })) as AxiosResponse<BaseResponseBody<DetailField>>;
        if (response.data.error.code === config.API_RES_CODE.OK.code) {
          fieldId.value = response.data.data.id;
          name.value = response.data.data.name;
          description.value = response.data.data.description;
          status.value = response.data.data.status;
        }
      } catch (error) {}
    };

    //gọi api update
    const updateNewField = async () => {
      const data = {
        id: fieldId.value,
        name: name.value,
        description: description.value,
        status: status.value,
      };
      const response = (await api({
        url: API_PATHS.updateField,
        method: 'POST',
        data,
      })) as AxiosResponse<BaseResponseBody<UpdateField[]>>;
      if (response.data.error.code === config.API_RES_CODE.OK.code) {
        updateFieldDialogIsOpened.value = false;
        Notify.create({
          type: 'positive',
          message: i18n.global.t('field.actionMessages.updateFieldAccess'),
          actions: [{ icon: 'close', color: 'white' }],
        });
        void getListField();
      }
    };

    onMounted(() => {
      void getListField();
    });
    return {
      addFieldDialogIsOpened,
      updateFieldDialogIsOpened,
      fieldTableColumns,
      fieldTableRows,
      getListField,
      FieldStatus,
      openAddFieldDialog,
      name,
      description,
      status,
      addNewField,
      confirmDeleteField,
      deleteField,
      openUpdateFieldDialog,
      getDetailField,
      updateNewField,
      nameField,
    };
  },
});
</script>
