<template>
  <q-dialog
    persistent
    :model-value="isOpenAddStory"
    @update:model-value="$emit('update:isOpenAddStory', $event)"
  >
    <q-card style="min-width: 600px" bordered>
      <q-form greedy @submit="SubmitData">
        <q-card-section>
          <q-item>
            <q-item-section>
              <q-item-label class="text-h6 text-weight-regular">{{
                $t('artist.dialogLabel.title.addStory')
              }}</q-item-label>
            </q-item-section>
          </q-item>
        </q-card-section>
        <q-separator />

        <q-card-section>
          <div class="row q-col-gutter-sm">
            <div class="col-12">
              <div align="right">
                <UploadImage
                  v-if="urlFileLocal.length !== 0"
                  :isButton="false"
                  :tooltipMessageStory="true"
                  @selectedFile="uploadStory"
                ></UploadImage>
              </div>
              <q-card v-if="urlFileLocal" flat>
                <div align="center">
                  <q-img :src="urlFileLocal" style="aspect-ratio: 16/9">
                  </q-img>
                </div>
              </q-card>

              <UploadImage
                v-if="urlFileLocal.length === 0"
                @selectedFile="uploadStory"
              ></UploadImage>

              <q-input
                v-model="title"
                label="Tiêu đề"
                hide-bottom-space
                type="text"
                class="q-my-sm"
                outlined
                clearable
              ></q-input>

              <q-input
                v-model="content"
                label="Nội dung"
                hide-bottom-space
                type="textarea"
                class="q-my-sm"
                outlined
                clearable
              ></q-input>
            </div>
          </div>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn
            color="grey"
            no-caps
            style="width: 90px"
            :label="$t('customer.crudActions.cancel')"
            @click="$emit('click:CloseBtnAddStory')"
          />
          <q-btn
            color="primary"
            no-caps
            style="width: 90px"
            :label="$t('customer.crudActions.save')"
            type="submit"
          />
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
</template>

<script lang="ts" src="./AddStory.ts"></script>
