<template>
  <div @click="uploadBanner">
    <div
      v-if="isButton"
      style="
        border: 2px dashed #5d319e;
        border-radius: 5px;
        cursor: pointer;
        flex-direction: column;
      "
      class="flex flex-center"
    >
      <q-icon
        style="color: #5d319e"
        name="mdi-cloud-upload"
        :size="isBtn ? 'md' : 'md'"
      ></q-icon>
      <span>Tải ảnh lên</span>
      <!-- <div style="font-size: 12px">(kích cỡ: 1914x448)</div> -->
    </div>

    <q-btn
      v-else
      class="q-py-md"
      flat
      style="color: #5d319e"
      icon="mdi-plus-circle-outline"
    >
      <q-tooltip v-if="tooltipMessage">Thêm banner</q-tooltip>
      <q-tooltip v-if="tooltipMessageStory">Thay ảnh</q-tooltip>
    </q-btn>
    <input
      ref="upload"
      hidden
      type="file"
      accept="image/png, image/jpeg"
      @change="$emit('selectedFile', $event.target.files)"
    />
  </div>
</template>

<script lang="ts" src="./UploadImage.ts"></script>
