<template>
  <q-list>
    <MenuItemComponent
      v-for="(menuItem, menuItemIdx) in $store.state.authentication.menuList"
      :key="`menu-item-${menuItemIdx}-${menuItem.id}`"
      :item="menuItem"
    ></MenuItemComponent>
  </q-list>
</template>

<script lang="ts">
import { MenuListScript } from './MenuList';
export default MenuListScript;
</script>
