<template>
  <q-dialog
    persistent
    :model-value="openUpdateHotProduct"
    @update:model-value="$emit('update:openUpdateHotProduct', $event)"
  >
    <q-card style="min-width: 38rem" bordered>
      <q-form greedy @submit="SubbmitDataUpdate">
        <q-card-section>
          <q-item>
            <q-item-section>
              <q-item-label class="text-h6 text-weight-regular">{{
                $t('artist.dialogLabel.title.updateHotProduct')
              }}</q-item-label>
            </q-item-section>
          </q-item>
        </q-card-section>
        <q-separator />

        <q-card-section>
          <div class="row q-col-gutter-sm">
            <div class="col-12">
              <div align="right">
                <UploadImage
                  v-if="urlFileLocal.length !== 0"
                  :isButton="false"
                  :tooltipMessageStory="true"
                  @selectedFile="uploadAvatar"
                ></UploadImage>
              </div>
              <q-card flat v-if="urlFileLocal">
                <div align="center">
                  <q-img
                    :src="imageAPI ? imageAPI : urlFileLocal"
                    style="aspect-ratio: 16/9"
                  >
                  </q-img>
                </div>
              </q-card>
              <UploadImage
                v-if="urlFileLocal.length === 0"
                @selectedFile="uploadAvatar"
              ></UploadImage>
              <q-input
                v-model="name"
                label="
                 Tên sản phẩm
                "
                :rules="product_name"
                type="text"
                class="q-my-sm"
                outlined
                hide-bottom-space
                clearable
              ></q-input>
              <q-input
                v-model="code"
                label="
                 Mã sản phẩm
                "
                :rules="product_code"
                type="text"
                class="q-my-sm"
                outlined
                hide-bottom-space
                clearable
              ></q-input>
              <q-input
                v-model="embeddedUrl"
                label="Url embed"
                :rules="url_embed"
                hide-bottom-space
                type="text"
                class="q-my-sm"
                outlined
                clearable
              ></q-input>
              <q-select
                v-model="status"
                emit-value
                label="Loại sản phẩm"
                class="q-my-sm"
                :options="statusOptions"
                option-value="id"
                option-label="name"
                outlined
                map-options
                :rules="statusRules"
                hide-bottom-space
              ></q-select>
            </div>
          </div>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn
            color="grey"
            no-caps
            style="width: 90px"
            :label="$t('customer.crudActions.cancel')"
            @click="$emit('click:CloseBtnUpdateHotProduct')"
          />
          <q-btn
            color="primary"
            no-caps
            style="width: 90px"
            :label="$t('customer.crudActions.save')"
            type="submit"
          />
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
</template>

<script lang="ts" src="./updateHotProduc.ts"></script>
