<template>
  <div class="row q-col-gutter-sm flex-center q-mt-sm">
    <div class="col-auto text-h6 text-weight-regular flex flex-center q-mr-md">
      {{ $t('postCategory.title.postCategory') }}
      <q-separator vertical spaced />
    </div>
    <q-space></q-space>
    <div class="col-2">
      <q-input
        v-model="keywordSearch"
        dense
        outlined
        :label="$t('postCategory.tableColumnsPostCategory.name')"
        clearable
      ></q-input>
    </div>
    <div class="col-auto">
      <q-btn
        color="primary"
        no-caps
        :label="$t('crudActions.search')"
        style="width: 100px"
        @click="getListCategoryPost"
      >
      </q-btn>
    </div>
    <div class="col-auto">
      <q-btn
        color="primary"
        no-caps
        :label="$t('crudActions.add')"
        style="width: 100px"
        @click="isOpenAddDialog = true"
      >
      </q-btn>
    </div>
    <div class="col-12 q-mt-sm">
      <q-table
        :rows="userTableRowsCategoryPost"
        :columns="userTableColumnsCategoryPost"
        :no-data-label="$t('emptyData')"
        row-key="name"
        separator="cell"
        hide-pagination
        class="sticky-header-table"
      >
        <template v-slot:body-cell-stt="item">
          <q-td style="padding: 0; height: 100%">
            <div align="center">
              {{ item.rowIndex + 1 }}
            </div>
          </q-td>
        </template>
        <template v-slot:body-cell-image="image">
          <q-td style="padding: 0; height: 100%" class="flex flex-center">
            <q-img
              style="width: 7rem; height: 5rem"
              fit="contain"
              :ratio="16 / 9"
              :src="
                image.row.image
                  ? configImg.API_IMAGE_ENDPOINT + image.row.image
                  : image.row.image
              "
            ></q-img>
          </q-td>
        </template>
        <template v-slot:body-cell-status="rowData">
          <q-td>
            <div align="center">
              <q-chip
                :color="rowData.value === 1 ? 'positive' : 'orange'"
                text-color="white"
                size="sm"
              >
                {{
                  rowData.value === 1
                    ? $t('customer.statusLabel.active')
                    : $t('customer.statusLabel.inactive')
                }}
              </q-chip>
            </div>
          </q-td>
        </template>
        <template v-slot:body-cell-action="item">
          <q-td style="padding: 0; height: 100%">
            <div align="center">
              <q-btn
                flat
                round
                color="primary"
                icon="mdi-account-edit-outline"
                @click="openUpdateDialog(item.row.id)"
              >
                <q-tooltip :offset="[20, 10]">{{
                  $t('customer.toolTipMessage.updateCustomerInfo')
                }}</q-tooltip>
              </q-btn>
              <q-btn
                flat
                round
                color="primary"
                icon="mdi-delete-outline"
                @click="confirmDelete(item.row.id)"
              >
                <q-tooltip :offset="[20, 10]">{{
                  $t('customer.toolTipMessage.deleteCustomer')
                }}</q-tooltip>
              </q-btn>
            </div>
          </q-td>
        </template>
      </q-table>
    </div>
    <AddCategoryPostDialog
      v-model:is-open-add-dialog="isOpenAddDialog"
      :languages="languages"
      @click:closeBtnDialog="isOpenAddDialog = false"
      @addPostCategory="addPostCategory($event)"
    />
    <UpdateCategoryPostDialog
      v-model:is-open-update-dialog="isOpenUpdateDialog"
      :languages="languages"
      :detail-data="detailPostCategory"
      @click:closeBtnDialog="isOpenUpdateDialog = false"
      @updatePostCategory="updatePostCategory($event)"
    />
  </div>
</template>
<script lang="ts" src="./CategoryPost.ts"></script>
