<template>
  <q-dialog
    persistent
    :model-value="isOpened"
    @update:model-value="$emit('update:isOpened', $event)"
  >
    <q-card class="full-width" style="max-width: 80rem" bordered>
      <q-form
        greedy
        @submit.prevent="
          $emit('saveInfoVAB', {});
          $emit('update:isOpened', false);
        "
      >
        <q-card-section class="q-pa-none">
          <q-item>
            <q-item-section>
              <q-item-label class="text-h6 text-weight-regular">{{
                isUpdate
                  ? $t('infoVAB.dialogLabel.title.addInfoVAB')
                  : $t('infoVAB.dialogLabel.title.updateInfoVAB')
              }}</q-item-label>
            </q-item-section>
          </q-item>
        </q-card-section>
        <q-separator />

        <q-card-section
          class="overflow-auto"
          style="max-height: calc(100vh - 10rem)"
        >
          <div class="row q-col-gutter-sm">
            <div class="col-6" style="margin-top: -12px">
              <div class="row flex-center">
                <div class="q-mt-lg">
                  <q-card v-if="logo !== null">
                    <q-img
                      @click="uploadAvatar"
                      :src="logo"
                      style="height: 6.8rem; width: 12.5rem; cursor: pointer"
                    ></q-img>
                    <q-icon
                      name="mdi-close-circle"
                      color="red"
                      style="
                        position: absolute;
                        right: 0;
                        font-size: 18px;
                        cursor: pointer;
                      "
                      @click="deleteAvatar"
                    ></q-icon>
                  </q-card>
                  <div
                    @click="uploadAvatar"
                    v-else
                    style="
                      height: 6.8rem;
                      width: 12.5rem;
                      border: 2px dashed #5d319e;
                      border-radius: 4px;
                      cursor: pointer;
                    "
                  >
                    <div
                      style="
                        height: 6.8rem;
                        width: 12.5rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                      "
                    >
                      <q-icon
                        style="color: #5d319e"
                        name="mdi-cloud-upload"
                        size="xl"
                      ></q-icon>
                      Tải lên logo
                      <span style="font-size: 10px"
                        >(kích cỡ: 160px x 64px)</span
                      >
                    </div>
                  </div>
                  <div>
                    <input
                      ref="upload"
                      hidden
                      @change="selectedFile($event.target.files)"
                      type="file"
                      accept="image/png, image/jpeg"
                    />
                  </div>
                </div>
              </div>
              <q-input
                :model-value="comName"
                @update:model-value="$emit('update:comName', $event)"
                :label="$t('infoVAB.dialogLabel.infoVABLabels.comName')"
                type="text"
                class="q-my-sm q-pt-xl"
                outlined
                :rules="nameRules"
                clearable
              ></q-input>
              <q-input
                :model-value="facebook"
                @update:model-value="$emit('update:facebook', $event)"
                :label="$t('infoVAB.dialogLabel.infoVABLabels.facebook')"
                type="text"
                class="q-my-sm"
                outlined
                clearable
              ></q-input>
              <q-input
                :model-value="instagram"
                @update:model-value="$emit('update:instagram', $event)"
                :label="$t('infoVAB.dialogLabel.infoVABLabels.instagram')"
                type="text"
                class="q-my-sm"
                outlined
                clearable
              ></q-input>
              <q-input
                :model-value="twitter"
                @update:model-value="$emit('update:twitter', $event)"
                :label="$t('infoVAB.dialogLabel.infoVABLabels.twitter')"
                type="text"
                class="q-my-sm"
                outlined
                clearable
              ></q-input>
            </div>
            <div class="col-6">
              <q-input
                :model-value="website"
                @update:model-value="$emit('update:website', $event)"
                :label="$t('infoVAB.dialogLabel.infoVABLabels.website')"
                :rules="websiteRules"
                type="text"
                class="q-my-sm"
                outlined
                clearable
              ></q-input>
              <q-input
                :model-value="phone"
                @update:model-value="$emit('update:phone', $event)"
                :label="$t('infoVAB.dialogLabel.infoVABLabels.phone')"
                :rules="phoneRules"
                type="number"
                class="q-my-sm"
                outlined
                clearable
              ></q-input>
              <q-input
                :model-value="email"
                @update:model-value="$emit('update:email', $event)"
                :label="$t('infoVAB.dialogLabel.infoVABLabels.email')"
                :rules="emailRules"
                type="text"
                class="q-my-sm"
                outlined
                clearable
              ></q-input>
              <q-input
                :model-value="address"
                @update:model-value="$emit('update:address', $event)"
                :label="$t('infoVAB.dialogLabel.infoVABLabels.address')"
                :rules="addressRules"
                type="text"
                class="q-my-sm"
                outlined
                clearable
                hide-bottom-space
              ></q-input>
              <q-input
                :model-value="snapchat"
                @update:model-value="$emit('update:snapchat', $event)"
                :label="$t('infoVAB.dialogLabel.infoVABLabels.snapchat')"
                type="text"
                class="q-my-sm"
                outlined
                clearable
              ></q-input>
              <q-input
                :model-value="linkedin"
                @update:model-value="$emit('update:linkedin', $event)"
                :label="$t('infoVAB.dialogLabel.infoVABLabels.linkedin')"
                type="text"
                class="q-my-sm"
                outlined
                clearable
              ></q-input>
            </div>
          </div>

          <div class="row q-pt-lg">
            <div class="col-auto text-h6 text-weight-regular flex q-ml-md">
              {{ $t('infoVAB.titleBankAccount')
              }}<span style="color: red" class="q-ml-xs">*</span>
            </div>
            <q-space></q-space>
            <div class="col-auto">
              <q-btn
                color="primary"
                no-caps
                :label="$t('managingUnitAdd.AddmanagingBankAccount')"
                class="q-mr-sm"
                @click="openAddBankAccountDialog"
              >
              </q-btn>
            </div>
          </div>
          <div class="col-12 q-mt-sm">
            <q-table
              :rows="bankAccountListInfoVAB"
              :columns="bankAccountTableColumnsInfoVAB"
              separator="cell"
              :no-data-label="$t('emptyData')"
              hide-pagination
            >
              <template v-slot:body-cell-action="">
                <q-td style="padding: 0" class="flex flex-center">
                  <q-btn flat round color="primary" icon="mdi-delete-outline">
                    <q-tooltip :offset="[10, 10]">{{
                      $t('infoVAB.toolTipMessage.deleteBankAccount')
                    }}</q-tooltip>
                  </q-btn>
                  <q-btn
                    flat
                    round
                    color="primary"
                    icon="mdi-account-edit-outline"
                  >
                    <q-tooltip :offset="[10, 10]">{{
                      $t('infoVAB.toolTipMessage.updateBankAccount')
                    }}</q-tooltip>
                  </q-btn>
                </q-td>
              </template>
              <template v-slot:body-cell-isDefault="rowData">
                <q-td>
                  <div align="center">
                    <q-checkbox
                      :true-value="1"
                      :false-value="2"
                      v-model="rowData.value"
                    />
                  </div>
                </q-td>
              </template>
            </q-table>
          </div>
        </q-card-section>
        <q-card-actions align="right">
          <div>
            <q-btn
              color="grey"
              no-caps
              style="width: 90px"
              class="q-mr-sm"
              :label="$t('infoVAB.crudActions.cancel')"
              @click="$emit('update:isOpened', false)"
            />
            <q-btn
              type="submit"
              color="primary"
              no-caps
              style="width: 90px"
              :label="$t('infoVAB.crudActions.save')"
            />
          </div>
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>

  <!-- components DS tài khoản ngân hàng -->
  <InfoVABAddUpdateBankAccountDialog
    v-model:isOpened="addBankAccountDialogIsOpened"
    v-model:bank="bank"
    v-model:cardCode="cardCode"
    v-model:numberCard="numberCard"
    v-model:userCard="userCard"
    v-model:cardType="cardType"
    v-model:isDefault="isDefault"
    :bankOptions="bankOptions"
    :cardTypeOptions="cardTypeOptions"
    isUpdate
    @saveBankAccountInfo="addNewBankAccount"
  />

  <InfoVABAddUpdateBankAccountDialog
    v-model:isOpened="updateBankAccountDialogIsOpened"
    v-model:bank="bank"
    v-model:cardCode="cardCode"
    v-model:numberCard="numberCard"
    v-model:userCard="userCard"
    v-model:cardType="cardType"
    v-model:isDefault="isDefault"
    :bankOptions="bankOptions"
    :cardTypeOptions="cardTypeOptions"
    @saveBankAccountInfo="updateNewBankAccount"
  />
</template>

<script lang="ts">
import { defineComponent, ref, Ref, PropType } from 'vue';
import InfoVABAddUpdateBankAccountDialog from 'components/update-info-vab/info-vab-add-update-bank-account/index.vue';
import { i18n } from 'src/boot/i18n';
//bankAccount
const bankAccountTableColumnsInfoVAB = [
  {
    name: 'cardCode',
    field: 'cardCode',
    required: true,
    label: i18n.global.t('infoVAB.tableColumnsInfoVAB.cardCode'),
    headerStyle: 'text-align: center !important;',
    align: 'left',
    sortable: false,
  },
  {
    name: 'numberCard',
    field: 'numberCard',
    required: true,
    label: i18n.global.t('infoVAB.tableColumnsInfoVAB.numberCard'),
    headerStyle: 'text-align: center !important;',
    align: 'left',
    sortable: false,
  },
  {
    name: 'userCard',
    field: 'userCard',
    required: true,
    label: i18n.global.t('infoVAB.tableColumnsInfoVAB.userCard'),
    headerStyle: 'text-align: center !important;',
    align: 'left',
    sortable: false,
  },
  {
    name: 'bank',
    field: 'bank',
    required: true,
    label: i18n.global.t('infoVAB.tableColumnsInfoVAB.bank'),
    headerStyle: 'text-align: center !important;',
    align: 'left',
    sortable: false,
  },
  {
    name: 'cardType',
    field: 'cardType',
    required: true,
    label: i18n.global.t('infoVAB.tableColumnsInfoVAB.cardType'),
    headerStyle: 'text-align: center !important;',
    align: 'left',
    sortable: false,
  },
  {
    name: 'isDefault',
    field: 'isDefault',
    required: true,
    label: i18n.global.t('infoVAB.tableColumnsInfoVAB.isDefault'),
    headerStyle: 'text-align: center !important;',
    align: 'center',
    sortable: false,
  },
  {
    name: 'action',
    field: 'action',
    required: true,
    label: i18n.global.t('infoVAB.tableColumnsInfoVAB.action'),
    headerStyle: 'text-align: center !important;',
    align: 'center',
    sortable: false,
  },
];

export default defineComponent({
  components: { InfoVABAddUpdateBankAccountDialog },
  props: {
    isOpened: {
      type: Boolean,
      required: true,
    },
    isUpdate: { type: Boolean, default: false },
    comName: { type: String, required: true },
    logo: { type: String, required: true },
    website: { type: String, required: true },
    phone: { type: Number, required: true },
    email: { type: String, required: true },
    address: { type: String, required: true },
    facebook: { type: String, required: true },
    instagram: { type: String, required: true },
    twitter: { type: String, required: true },
    snapchat: { type: String, required: true },
    linkedin: { type: String, required: true},
    bankAccountList: { type: Array as PropType<unknown[]>, required: true },
  },
  setup(_, context) {
    const selectedFile = (value: FileList) => {
      context.emit('SetAvatar', {
        file: value[0],
        url: URL.createObjectURL(value[0]),
      });
    };
    const deleteAvatar = () => {
      context.emit('deleteAvatar');
    };
    const upload = ref(null);
    const uploadAvatar = () => {
      console.log(1);
      // eslint-disable-next-line
      // @ts-ignore
      // eslint-disable-next-line
      upload.value?.click();
    };

    const bankAccountListInfoVAB: Ref<unknown[]> = ref([]);
    const addBankAccountDialogIsOpened = ref(false);
    const updateBankAccountDialogIsOpened = ref(false);
    const bank: Ref<number | undefined> = ref(undefined);
    const cardType: Ref<number | undefined> = ref(undefined);
    const cardCode = ref('');
    const numberCard = ref('');
    const userCard = ref('');
    const isDefault: Ref<number> = ref(2);
    const bankOptions: Ref<number | undefined> = ref(undefined);
    const cardTypeOptions: Ref<number | undefined> = ref(undefined);

    //tài khoản ngân hàng
    const openAddBankAccountDialog = () => {
      addBankAccountDialogIsOpened.value = true;
      cardCode.value = '';
      numberCard.value = '';
      bank.value = undefined;
      cardType.value = undefined;
    };

    const addNewBankAccount = () => {
      // console.log(Object);
    };

    const updateNewBankAccount = () => {
      // console.log(Object);
    };

    const websiteRules = [
      (val?: string) =>
        (val && val.trim().length) ||
        i18n.global.t('infoVAB.validateMessages.requireWebsite'),
    ];
    const nameRules = [
      (val?: string) =>
        (val && val.trim().length) ||
        i18n.global.t('infoVAB.validateMessages.requireName'),
    ];
    const phoneRules = [
      (val?: string) =>
        (val && val.trim().length) ||
        i18n.global.t('infoVAB.validateMessages.requirePhone'),
    ];
    const emailRules = [
      (val?: string) =>
        (val && val.trim().length) ||
        i18n.global.t('infoVAB.validateMessages.requireEmail'),
    ];
    const addressRules = [
      (val?: string) =>
        (val && val.trim().length) ||
        i18n.global.t('infoVAB.validateMessages.requireAddress'),
    ];
    return {
      nameRules,
      websiteRules,
      phoneRules,
      emailRules,
      addressRules,
      selectedFile,
      deleteAvatar,
      uploadAvatar,
      upload,
      bankAccountTableColumnsInfoVAB,
      addBankAccountDialogIsOpened,
      bank,
      cardCode,
      numberCard,
      userCard,
      cardType,
      isDefault,
      bankOptions,
      cardTypeOptions,
      addNewBankAccount,
      openAddBankAccountDialog,
      updateBankAccountDialogIsOpened,
      updateNewBankAccount,
      bankAccountListInfoVAB,
    };
  },
  emits: [
    'update:isOpened',
    'update:comName',
    'update:website',
    'update:phone',
    'update:email',
    'update:address',
    'update:logo',
    'update:facebook',
    'update:instagram',
    'update:twitter',
    'update:snapchat',
    'update:linkedin',
    'SetAvatar',
    'deleteAvatar',
    'saveInfoVAB',
  ],
});
</script>
