<template>
  <div class="row q-col-gutter-sm flex-center q-mt-sm">
    <q-space></q-space>
    <div class="col-2">
      <q-input
        v-model="fullNameKeyword"
        dense
        outlined
        :label="$t('artist.tableColumnsArtist.artistName')"
        clearable
      ></q-input>
    </div>
    <div class="col-2" dense outlined>
      <q-select
        v-model="fieldSelected"
        :options="fieldOptions"
        option-label="name"
        option-value="id"
        label="Lĩnh vực"
        dense
        outlined
        clearable
      ></q-select>
    </div>

    <div class="col-2" dense outlined>
      <q-select
        v-model="professionSelected"
        :options="professionOptions"
        option-label="name"
        option-value="id"
        dense
        outlined
        label="Độ chuyên"
        clearable
      ></q-select>
    </div>
    <div class="col-2" dense outlined>
      <q-select
        v-model="provinceSelected"
        :options="provinceOptions"
        option-label="fullName"
        option-value="name"
        dense
        outlined
        label="Địa chỉ"
        clearable
      ></q-select>
    </div>
    <div class="col-auto">
      <q-btn
        color="primary"
        no-caps
        style="width: 7.14rem"
        :label="$t('crudActions.search')"
        @click="getListArtists"
      >
      </q-btn>
    </div>
    <div class="col-auto">
      <q-btn
        class="q-mr-md"
        color="primary"
        no-caps
        style="width: 7.14rem"
        :label="$t('crudActions.add')"
        to="/nghe-sy/them-nghe-sy"
      ></q-btn>
    </div>

    <div class="col-12 q-mt-sm">
      <q-table
        :rows="userTableRowsArtist"
        :columns="userTableColumnsArtist"
        row-key="name"
        separator="cell"
        :no-data-label="$t('emptyData')"
        :rows-per-page-label="$t('recordPerPage')"
        :pagination="{
          rowsPerPage: 0,
        }"
        wrap-cells
        hide-pagination
        class="sticky-header-table"
      >
        <template v-slot:body-cell-stt="item">
          <q-td :item="item" style="text-align: center">
            {{ 1 + item.rowIndex + pageSize * (pageIndex - 1) }}
          </q-td>
        </template>
        <template v-slot:body-cell-avatar="avatar">
          <q-td style="padding: auto; height: 100%; text-align: center">
            <q-img
              style="width: 5rem; height: 6rem"
              :src="
                avatar.row.avatar
                  ? configImg.API_IMAGE_ENDPOINT + avatar.row.avatar
                  : avatar.row.avatar
              "
            ></q-img>
          </q-td>
        </template>
        <template v-slot:body-cell-action="item">
          <q-td style="padding: 0">
            <div align="center">
              <q-btn
                flat
                round
                color="primary"
                icon="mdi-account-edit-outline"
                :to="`/nghe-sy/cap-nhat-thong-tin-nghe-sy/${item.row.id}`"
              >
                <q-tooltip :offset="[20, 10]">{{
                  $t('userPage.toolTipMessage.updateUserInfo')
                }}</q-tooltip>
              </q-btn>
              <q-btn
                flat
                round
                color="primary"
                icon="mdi-delete-outline"
                @click="confirmDeleteArtist(item.row.id)"
              >
                <q-tooltip :offset="[20, 10]">{{
                  $t('managingUnit.toolTipMessage.delete')
                }}</q-tooltip>
              </q-btn>
            </div>
          </q-td>
        </template>
      </q-table>
    </div>
    <div class="col-12 q-mt-sm">
      <Pagination
        v-model:currentPage="pageIndex"
        v-model:pageSize="pageSize"
        :totalPage="totalPage"
        @update:pageSize="changePageSize"
        @update:currentPage="getListArtists"
      />
    </div>
    <AddNewArtistDialog
      v-model:is-open-new-artist-dialog="isOpenNewArtistDialog"
      v-model:artist-code="artistCode"
      v-model:full-name="fullName"
      v-model:artist-name="artistName"
      v-model:birthday="birthday"
      v-model:sex="sex"
      v-model:nationality="nationality"
      v-model:status="status"
      v-model:address="address"
      v-model:field="field"
      v-model:work="work"
      v-model:qualification="qualification"
      v-model:artist-level="artistLevel"
      v-model:phone-number="phoneNumber"
      v-model:email="email"
      v-model:facebook="facebook"
      v-model:facebook-message="facebookMessage"
      v-model:instagram="instagram"
      v-model:whats-app="whatsapp"
      v-model:mn-name="mnName"
      v-model:mn-phone="mnPhone"
      v-model:mnEmail="mnEmail"
      v-model:mn-booking-phone="mnBookingPhone"
      v-model:mn-booking-email="mnBookingEmail"
      v-model:mn-fbmess="mnFbmess"
      v-model:mn-ins="mnIns"
      v-model:mn-whatsapp="mnWhatsapp"
      :sex-options="sexOptions"
      :field-options="fieldOptions"
      :nationality-options="nationalityOptions"
      :profession-options="professionOptions"
      :artist-level-options="artistLevelOptions"
    
      :work-options="workOptions"
      @click:CloseBtn="isOpenNewArtistDialog = false"
    ></AddNewArtistDialog>
  </div>
</template>

<script lang="ts">
import { i18n } from 'src/boot/i18n';
import { defineComponent, onMounted, ref, Ref } from 'vue';
import { Dialog, Notify } from 'quasar';
import {
  PaginationResponse,
  ArtistInfoType,
  FieldType,
  NationalityType,
  ArtistLevelType,
  QualificationType,
  WorkType,
  ProvinceType,
  MusicType
  
} from 'src/assets/type';
import Pagination from 'components/pagination/index.vue';
import { api, BaseResponseBody } from 'src/boot/axios';
import { API_PATHS, config } from 'src/assets/configurations.example';
import { AxiosResponse } from 'axios';

export default defineComponent({
  components: {
    Pagination,
  },
  setup() {
    const userTableColumnsArtist = [
      {
        name: 'stt',
        field: 'stt',
        required: true,
        label: 'STT',
        align: 'center',
        sortable: false,
      },
      {
        name: 'artistCode',
        field: 'artistCode',
        required: true,
        label: i18n.global.t('artist.tableColumnsArtist.artistCode'),
        headerStyle: 'text-align: center !important;',
        align: 'left',
        sortable: false,
      },
            {
        name: 'accountName',
        field: 'accountName',
        required: true,
        label: 'Tên đăng nhập',
        headerStyle: 'text-align: center !important;',
        align: 'left',
        sortable: false,
      },
      {
        name: 'fullName',
        field: 'fullName',
        required: true,
        label: i18n.global.t('artist.tableColumnsArtist.fullName'),
        headerStyle: 'text-align: center !important;',
        align: 'left',
        sortable: false,
      },
      {
        name: 'artistName',
        field: 'artistName',
        required: true,
        label: i18n.global.t('artist.tableColumnsArtist.artistName'),
        headerStyle: 'text-align: center !important;',
        align: 'left',
        sortable: false,
      },
      {
        name: 'avatar',
        field: 'avatar',
        required: true,
        label: i18n.global.t('artist.tableColumnsArtist.avatar'),
        headerStyle: 'text-align: center !important;',
        align: 'left',
        sortable: false,
      },
      {
        name: 'field',
        field: 'field',
        required: true,
        label: i18n.global.t('artist.tableColumnsArtist.field'),
        headerStyle: 'text-align: center !important;',
        align: 'left',
        sortable: false,
      },
      {
        name: 'work',
        field: 'work',
        required: true,
        label: i18n.global.t('artist.tableColumnsArtist.work'),
        headerStyle: 'text-align: center !important;',
        align: 'left',
        sortable: false,
      },
      {
        name: 'qualification',
        field: 'qualification',
        required: true,
        label: i18n.global.t('artist.tableColumnsArtist.qualification'),
        headerStyle: 'text-align: center !important;',
        align: 'left',
        sortable: false,
      },
      // {
      //   name: 'artistLevel',
      //   field: 'artistLevel',
      //   required: true,
      //   label: i18n.global.t('artist.tableColumnsArtist.artistLevel'),
      //   headerStyle: 'text-align: center !important;',
      //   align: 'left',
      //   sortable: false,
      // },
      {
        name: 'favoriteScore',
        field: 'favoriteScore',
        required: true,
        label: i18n.global.t('artist.tableColumnsArtist.favoriteScore'),
        headerStyle: 'text-align: center !important;',
        align: 'center',
        sortable: false,
      },
      {
        name: 'action',
        field: 'action',
        required: true,
        label: i18n.global.t('artist.tableColumnsArtist.action'),
        headerStyle: 'text-align: center !important;',
        align: 'center',
        sortable: false,
      },
    ];

    const userTableRowsArtist: Ref<unknown[]> = ref([]);
    const pageIndex = ref(1);
    const pageSize = ref(20);
    const totalPage = ref(0);
    const fullNameKeyword = ref('');
    const sexOptions = ref([
      { id: 1, name: 'Nam' },
      { id: 2, name: 'Nữ' },
      { id: 3, name: 'Khác' },
    ]);
    const configImg = config;
    const fieldOptions: Ref<FieldType[]> = ref([]);
    const nationalityOptions: Ref<NationalityType[]> = ref([]);
    const professionOptions: Ref<QualificationType[]> = ref([]);
    const artistLevelOptions: Ref<ArtistLevelType[]> = ref([]);
    const provinceOptions: Ref<ProvinceType[]> = ref([]);
    const musicOptions: Ref<MusicType[]> = ref([]);
    const workOptions: Ref<WorkType[]> = ref([]);
    const fieldSelected: Ref<FieldType | null> = ref(null);
    const professionSelected: Ref<QualificationType | null> = ref(null);
    const artistLevelSelected: Ref<ArtistLevelType | null> = ref(null);
    const provinceSelected: Ref<ProvinceType | null> = ref(null);
    const isOpenNewArtistDialog = ref(false);
    const id: Ref<number> = ref(0);
    const artistCode: Ref<string> = ref('');
    const fullName: Ref<string> = ref('');
    const artistName: Ref<string | undefined> = ref();
    const birthday: Ref<string | undefined> = ref();
    const sex: Ref<number | undefined> = ref();
    const nationality: Ref<number | undefined> = ref();
    const address: Ref<string | undefined> = ref();
    const status: Ref<number> = ref(1);
    const field: Ref<number | undefined> = ref();
    const work: Ref<number | undefined> = ref();
    const qualification: Ref<number | undefined> = ref();
    const artistLevel: Ref<number | undefined> = ref();
    const phoneNumber: Ref<string | undefined> = ref();
    const email: Ref<string | undefined> = ref();
    const facebook: Ref<string | undefined> = ref();
    const facebookMessage: Ref<string | undefined> = ref();
    const instagram: Ref<string | undefined> = ref();
    const whatsapp: Ref<string | undefined> = ref();
    const mnName: Ref<string | null> = ref(null);
    const mnPhone: Ref<string | null> = ref(null);
    const mnEmail: Ref<string | null> = ref(null);
    const mnBookingPhone: Ref<string | null> = ref(null);
    const mnBookingEmail: Ref<string | null> = ref(null);
    const mnFbmess: Ref<string | null> = ref(null);
    const mnIns: Ref<string | null> = ref(null);
    const mnWhatsapp: Ref<string | null> = ref(null);
    

    const getListArtists = async () => {
      try {
        const response = (await api({
          url: API_PATHS.getListArtists,
          method: 'GET',
          params: {
            pageIndex: pageIndex.value,
            pageSize: pageSize.value,
            name: fullNameKeyword.value,
            field: fieldSelected.value?.id,
            qualification: professionSelected.value?.id,
            address: provinceSelected.value?.name
          },
        })) as AxiosResponse<
          BaseResponseBody<PaginationResponse<ArtistInfoType>>
        >;
        if (response.data.error.code === config.API_RES_CODE.OK.code) {
          userTableRowsArtist.value = response.data.data.data;
          totalPage.value = response.data.data.totalPages;
        }
      } catch (error) {}
    };
    const changePageSize = () => {
      pageIndex.value = 1;
      void getListArtists();
    };
    const getFieldOptions = async () => {
      const response = (await api({
        url: API_PATHS.getFieldOptions,
        method: 'GET',
        params: {},
      })) as AxiosResponse<BaseResponseBody<FieldType[]>>;
      if (response.data.error.code === config.API_RES_CODE.OK.code) {
        fieldOptions.value = response.data.data;
      }
    };
    const getNationalityOptions = async () => {
      const response = (await api({
        url: API_PATHS.getNationalityOptions,
        method: 'GET',
        params: {},
      })) as AxiosResponse<BaseResponseBody<NationalityType[]>>;
      if (response.data.error.code === config.API_RES_CODE.OK.code) {
        nationalityOptions.value = response.data.data;
      }
    };

   /// xếp hạng

    const getArtistLevelOptions = async () => {
      const response = (await api({
        url: API_PATHS.getArtistLevelOptions,
        method: 'GET',
        params: {},
      })) as AxiosResponse<BaseResponseBody<ArtistLevelType[]>>;
      if (response.data.error.code === config.API_RES_CODE.OK.code) {
        artistLevelOptions.value = response.data.data;
      }
    };
      
      // thể loại
      const getMusicTypeOptions = async () => {
       const response = (await api ({
         url: API_PATHS.getMusicTypeOptions,
         method: 'GET',
         params: {},
       })) as AxiosResponse<BaseResponseBody<MusicType[]>>;
       if(response.data.error.code === config.API_RES_CODE.OK.code) {
         musicOptions.value = response.data.data
       }

      };
     
      const getProvinceOptions = async () => {
      const response = (await api ({
        url : API_PATHS.getProvinceOptions,
        method: 'GET',
        params: {},
      })) as AxiosResponse<BaseResponseBody<ProvinceType[]>>;
      if(response.data.error.code === config.API_RES_CODE.OK.code){
 
        provinceOptions.value = response.data.data
      }
   } 

     

    const getQualificationOptions = async () => {
      const response = (await api({
        url: API_PATHS.getQualificationOptions,
        method: 'GET',
        params: {},
      })) as AxiosResponse<BaseResponseBody<QualificationType[]>>;
      if (response.data.error.code === config.API_RES_CODE.OK.code) {
        professionOptions.value = response.data.data;
      }
    };
    const getWorkOptions = async () => {
      const response = (await api({
        url: API_PATHS.getWorkOptions,
        method: 'GET',
        params: {},
      })) as AxiosResponse<BaseResponseBody<WorkType[]>>;
      if (response.data.error.code === config.API_RES_CODE.OK.code) {
        workOptions.value = response.data.data;
      }
    };

    const confirmDeleteArtist = (id: number) => {
      Dialog.create({
        title: i18n.global.t(
          'artist.confirmActionsTitle.confirmDeleteArtistTitle'
        ),
        message: i18n.global.t(
          'artist.confirmActionsTitle.confirmDeleteArtistContent'
        ),
        cancel: i18n.global.t(
          'artist.confirmActionsTitle.confirmDeleteArtistBtnLabel'
        ),
        color: 'negative',
      }).onOk(() => {
        void deleteArtist(id);
      });
    };
    const deleteArtist = async (id: number) => {
      try {
        const deleteResult = (await api({
          url: API_PATHS.deleteArtist,
          method: 'GET',
          params: {
            artistId: id,
          },
        })) as AxiosResponse<BaseResponseBody<unknown>>;

        if (deleteResult.data.error.code === config.API_RES_CODE.OK.code) {
          Notify.create({
            type: 'positive',
            message: i18n.global.t('artist.actionMessages.deleteArtistAccess'),
            actions: [{ icon: 'close', color: 'white' }],
          });
          void getListArtists();
        }
      } catch (error) {}
    };
    onMounted(() => {
      void getListArtists();
      void getFieldOptions();
      void getNationalityOptions();
      void getArtistLevelOptions();
      void getQualificationOptions();
      void getWorkOptions();
      void getProvinceOptions();
      void getMusicTypeOptions();
    
    });
    return {
      configImg,
      userTableColumnsArtist,
      userTableRowsArtist,
      getListArtists,
      pageIndex,
      pageSize,
      isOpenNewArtistDialog,
      id,
      artistCode,
      fullName,
      artistName,
      birthday,
      sex,
      nationality,
      address,
      status,
      field,
      work,
      qualification,
      artistLevel,
      phoneNumber,
      email,
      facebook,
      facebookMessage,
      instagram,
      whatsapp,
      mnName,
      mnPhone,
      mnEmail,
      mnBookingPhone,
      mnBookingEmail,
      mnFbmess,
      mnIns,
      mnWhatsapp,
      sexOptions,
      totalPage,
      changePageSize,
      fullNameKeyword,
      fieldSelected,
      fieldOptions,
      professionSelected,
      professionOptions,
      artistLevelSelected,
      provinceSelected,
      artistLevelOptions,
      provinceOptions,
      getProvinceOptions,
      getMusicTypeOptions,
      getFieldOptions,
      nationalityOptions,
      getNationalityOptions,
      workOptions,
       musicOptions,
      getArtistLevelOptions,
      getQualificationOptions,
      getWorkOptions,
      confirmDeleteArtist,
      deleteArtist,
    };
  },
});
</script>
