<template>
  <div class="row q-col-gutter-sm flex-center q-mt-sm">
    <div class="col-auto text-h6 text-weight-regular flex flex-center q-mr-md">
      {{ $t('work.title') }}
      <q-separator vertical spaced />
    </div>
    <q-space></q-space>
    <div class="col-2">
      <q-input
        v-model="keywordSearch"
        dense
        outlined
        :label="$t('work.titleColumnsTable.workName')"
        clearable
      ></q-input>
    </div>
    <div class="col-auto">
      <q-btn
        color="primary"
        no-caps
        :label="$t('crudActions.search')"
        style="width: 100px"
      >
      </q-btn>
    </div>
    <div class="col-auto">
      <q-btn
        color="primary"
        no-caps
        :label="$t('crudActions.add')"
        style="width: 100px"
      >
      </q-btn>
    </div>

    <div class="col-12 q-mt-sm">
      <q-table
        :rows="listWorks"
        :columns="tableColumns"
        :no-data-label="$t('emptyData')"
        row-key="name"
        separator="cell"
        :pagination="{ rowsPerPage: pageSize }"
        hide-pagination
        class="sticky-header-table"
      >
        <template v-slot:body-cell-statusBooking="rowData">
          <q-td>
            <div align="center">
              <q-chip
                :color="
                  rowData.value === BookingStatus.active ? 'positive' : 'orange'
                "
                text-color="white"
                size="sm"
              >
                {{
                  rowData.value === BookingStatus.active
                    ? $t('listBooking.statusLabel.activeBooking')
                    : $t('listBooking.statusLabel.inactiveBooking')
                }}
              </q-chip>
            </div>
          </q-td>
        </template>
        <template v-slot:body-cell-statusActive="rowData">
          <q-td>
            <div align="center">
              <q-chip
                :color="
                  rowData.value === ActiveStatus.active ? 'positive' : 'orange'
                "
                text-color="white"
                size="sm"
              >
                {{
                  rowData.value === ActiveStatus.active
                    ? $t('listBooking.statusLabel.activeEvent')
                    : $t('listBooking.statusLabel.inactiveEvent')
                }}
              </q-chip>
            </div>
          </q-td>
        </template>
        <template v-slot:body-cell-action>
          <q-td style="padding: 0" class="flex flex-center">
            <q-btn flat round color="primary" icon="mdi-information-outline">
              <q-tooltip :offset="[20, 10]">{{
                $t('listBooking.toolTipMessage')
              }}</q-tooltip>
            </q-btn>
          </q-td>
        </template>
      </q-table>
    </div>
  </div>
</template>

<script lang="ts" src="./work.ts"></script>
