<template>
  <q-dialog
    persistent
    :model-value="isOpened"
    @update:model-value="$emit('update:isOpened', $event)"
  >
    <q-card class="full-width" style="max-width: 85.71rem" bordered>
      <q-form
        greedy
        @submit.prevent="
          $emit('addNewUnit', {});
          $emit('update:isOpened', false);
        "
      >
        <q-card-section class="q-pa-none">
          <q-item>
            <q-item-section>
              <q-item-label class="text-h6 text-weight-regular">{{
                isUpdate
                  ? $t('managingUnit.dialogLabel.title.add')
                  : $t('managingUnit.dialogLabel.title.update')
              }}</q-item-label>
            </q-item-section>
          </q-item>
        </q-card-section>
        <q-separator />

        <q-card-section
          class="overflow-auto"
          style="max-height: calc(100vh - 10rem)"
        >
          <div class="row q-col-gutter-sm">
            <div class="col-6">
              <q-input
                :model-value="code"
                @update:model-value="$emit('update:code', $event)"
                :label="$t('managingUnit.dialogLabel.fieldLabels.code')"
                :rules="codeRules"
                type="text"
                class="q-my-sm"
                outlined
                clearable
              ></q-input>
              <q-input
                :model-value="name"
                @update:model-value="$emit('update:name', $event)"
                :label="$t('managingUnit.dialogLabel.fieldLabels.name')"
                type="text"
                class="q-my-sm"
                outlined
                :rules="nameRules"
                clearable
              ></q-input>
              <q-input
                :model-value="representative"
                @update:model-value="$emit('update:representative', $event)"
                :label="
                  $t('managingUnit.dialogLabel.fieldLabels.representative')
                "
                type="text"
                class="q-my-sm"
                outlined
                :rules="representativeRules"
                clearable
              ></q-input>
              <q-input
                :model-value="email"
                @update:model-value="$emit('update:email', $event)"
                :label="$t('managingUnit.dialogLabel.fieldLabels.email')"
                type="text"
                class="q-my-sm"
                outlined
                :rules="emailRules"
                clearable
              ></q-input>
            </div>
            <div class="col-6">
              <q-input
                :model-value="phoneNumber"
                emit-value
                @update:model-value="$emit('update:phoneNumber', $event)"
                :label="$t('managingUnit.dialogLabel.fieldLabels.phoneNumber')"
                class="q-my-sm"
                mask="##########"
                :rules="phoneNumberRules"
                outlined
                clearable
              ></q-input>

              <q-input
                :model-value="address"
                @update:model-value="$emit('update:address', $event)"
                :label="$t('managingUnit.dialogLabel.fieldLabels.address')"
                class="q-my-sm"
                type="text"
                outlined
                :rules="addressRules"
                clearable
              ></q-input>
              <q-select
                :model-value="fields"
                @update:model-value="$emit('update:fields', $event)"
                :label="$t('managingUnit.dialogLabel.fieldLabels.fields')"
                :options="fieldsOptions"
                :rules="fieldsRules"
                multiple
                map-options
                option-value="id"
                option-label="name"
                class="q-my-sm"
                outlined
                use-chips
                clearable
                ><template v-slot:no-option>
                  <q-item>
                    <q-item-section class="text-grey">
                      {{ $t('managingUnitAdd.noDataTable') }}
                    </q-item-section>
                  </q-item>
                </template></q-select
              >
              <div class="q-pt-sm q-pl-sm">
                <span class="text-body1">{{
                  $t('managingUnit.dialogLabel.fieldLabels.status')
                }}</span
                ><q-toggle
                  :model-value="status"
                  :true-value="UnitStatus.active"
                  :false-value="UnitStatus.inactive"
                  @update:model-value="$emit('update:status', $event)"
                />
              </div>
            </div>
          </div>

          <!-- nghệ sỹ -->
          <div class="row">
            <div class="col-auto text-h6 text-weight-regular flex q-ml-md">
              {{ $t('managingUnitAdd.titleAdd')
              }}<span style="color: red" class="q-ml-xs">*</span>
            </div>
            <q-space></q-space>
            <div class="col-auto">
              <q-btn
                color="primary"
                no-caps
                :label="$t('managingUnitAdd.AddmanagingUnit')"
                class="q-mr-sm"
                @click="openAddArtistDialog"
              >
              </q-btn>
            </div>
          </div>
          <div class="col-12 q-mt-sm">
            <q-table
              :rows="artistList"
              :columns="artistTableColumns"
              separator="cell"
              :no-data-label="$t('emptyData')"
              hide-pagination
            >
              <template v-slot:body-cell-action="item">
                <q-td style="padding: 0" class="flex flex-center">
                  <q-btn
                    flat
                    round
                    color="primary"
                    icon="mdi-delete-outline"
                    @click="deleteContract(item.rowIndex)"
                  >
                    <q-tooltip :offset="[10, 10]">{{
                      $t('managingUnitAdd.toolTipMessage.delete')
                    }}</q-tooltip>
                  </q-btn>
                  <q-btn
                    flat
                    round
                    color="primary"
                    icon="mdi-account-edit-outline"
                    @click="openUpdateArtistDialog(item.row, item.rowIndex)"
                  >
                    <q-tooltip :offset="[10, 10]">{{
                      $t('managingUnitAdd.toolTipMessage.updateInfo')
                    }}</q-tooltip>
                  </q-btn>
                </q-td>
              </template>
              <template v-slot:body-cell-status="rowData">
                <q-td>
                  <div align="center">
                    <q-chip
                      :color="
                        rowData.value === UnitStatus.active
                          ? 'positive'
                          : 'orange'
                      "
                      text-color="white"
                      size="sm"
                    >
                      {{
                        rowData.value === UnitStatus.active
                          ? $t('managingUnitAdd.statusLabel.active')
                          : $t('managingUnitAdd.statusLabel.inactive')
                      }}
                    </q-chip>
                  </div>
                </q-td>
              </template>
              <template v-slot:body-cell-timeAdd="rowData">
                <q-td>
                  {{ rowData.row.contractFrom.split(' ')[0] }} -
                  {{ rowData.row.contractTo.split(' ')[0] }}
                </q-td>
              </template>
            </q-table>
            {{ check_artistList }}
            <div
              v-if="check_artistList"
              style="color: #c10015; font-size: 12px"
            >
              Vui lòng chọn ảnh
            </div>
          </div>

          <div></div>

          <!-- ngân hàng -->
          <div class="row q-pt-lg">
            <div class="col-auto text-h6 text-weight-regular flex q-ml-md">
              {{ $t('managingUnitAdd.titleUnitBankAccount')
              }}<span style="color: red" class="q-ml-xs">*</span>
            </div>
            <q-space></q-space>
            <div class="col-auto">
              <q-btn
                color="primary"
                no-caps
                :label="$t('managingUnitAdd.AddmanagingBankAccount')"
                class="q-mr-sm"
                @click="openAddBankAccountDialog"
              >
              </q-btn>
            </div>
          </div>

          <div class="col-12 q-mt-sm">
            <q-table
              :rows="bankAccountList"
              :columns="bankAccountTableColumns"
              separator="cell"
              :no-data-label="$t('emptyData')"
              hide-pagination
            >
              <template v-slot:body-cell-action="">
                <q-td style="padding: 0" class="flex flex-center">
                  <q-btn flat round color="primary" icon="mdi-delete-outline">
                    <q-tooltip :offset="[10, 10]">{{
                      $t('managingUnitAdd.toolTipMessage.deleteBankAccount')
                    }}</q-tooltip>
                  </q-btn>
                  <q-btn
                    flat
                    round
                    color="primary"
                    icon="mdi-account-edit-outline"
                  >
                    <q-tooltip :offset="[10, 10]">{{
                      $t('managingUnitAdd.toolTipMessage.updateBankAccount')
                    }}</q-tooltip>
                  </q-btn>
                </q-td>
              </template>
              <template v-slot:body-cell-isDefault="rowData">
                <q-td>
                  <div align="center">
                    <q-checkbox
                      :true-value="1"
                      :false-value="2"
                      v-model="rowData.value"
                    />
                  </div>
                </q-td>
              </template>
            </q-table>
          </div>
        </q-card-section>

        <q-card-actions align="right">
          <div>
            <q-btn
              color="grey"
              no-caps
              style="width: 90px"
              class="q-mr-sm"
              :label="$t('managingUnit.crudActions.cancel')"
              @click="$emit('update:isOpened', false)"
            />
            <q-btn
              type="submit"
              color="primary"
              no-caps
              style="width: 90px"
              :label="$t('managingUnit.crudActions.save')"
            />
          </div>
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>

  <!-- components DS nghệ sỹ -->
  <UnitAddUpdateArtistDialog
    v-model:isOpened="addArtistDialogIsOpened"
    v-model:artistField="artistField"
    v-model:artistName="artistName"
    v-model:artistStatus="artistStatus"
    v-model:contractTimeFrom="contractTimeFrom"
    v-model:contractTimeTo="contractTimeTo"
    :artistOptions="artistOptions"
    :fieldOptions="fieldsOptions"
    isUpdate
    @saveArtistInfo="addNewArtist"
  />

  <UnitAddUpdateArtistDialog
    v-model:isOpened="updateArtistDialogIsOpened"
    v-model:artistField="artistField"
    v-model:artistName="artistName"
    v-model:artistStatus="artistStatus"
    v-model:contractTimeFrom="contractTimeFrom"
    v-model:contractTimeTo="contractTimeTo"
    :artistOptions="artistOptions"
    :fieldOptions="fieldsOptions"
    @saveArtistInfo="updateArtistContract"
  />

  <!-- components DS tài khoản ngân hàng -->
  <UnitAddUpdateBankAccountDialog
    v-model:isOpened="addBankAccountDialogIsOpened"
    v-model:bank="bank"
    v-model:cardCode="cardCode"
    v-model:numberCard="numberCard"
    v-model:userCard="userCard"
    v-model:cardType="cardType"
    v-model:isDefault="isDefault"
    :bankOptions="bankOptions"
    :cardTypeOptions="cardTypeOptions"
    isUpdate
    @saveBankAccountInfo="addNewBankAccount"
  />

  <UnitAddUpdateBankAccountDialog
    v-model:isOpened="updateBankAccountDialogIsOpened"
    v-model:bank="bank"
    v-model:cardCode="cardCode"
    v-model:numberCard="numberCard"
    v-model:userCard="userCard"
    v-model:cardType="cardType"
    v-model:isDefault="isDefault"
    :bankOptions="bankOptions"
    :cardTypeOptions="cardTypeOptions"
    @saveBankAccountInfo="updateNewBankAccount"
  />
</template>

<script lang="ts">
import { defineComponent, Ref, ref, onMounted, watch, PropType } from 'vue';
import { i18n } from 'src/boot/i18n';
import { isEmail } from '../../../boot/functions';
import { isMobilePhone } from '../../../boot/functions';
import { API_PATHS } from 'src/assets/configurations.example';
import { AxiosResponse } from 'axios';
import { api, BaseResponseBody } from 'src/boot/axios';
import { FieldType, ArtistInfoType, Contract } from 'src/assets/type';
import { config } from 'src/assets/configurations.example';
import UnitAddUpdateArtistDialog from '../unit-add-update-artist/index.vue';
import UnitAddUpdateBankAccountDialog from '../unit-add-update-bank-account/index.vue';
import moment from 'moment';
import { Dialog, Notify } from 'quasar';
import { UnitStatus } from 'src/assets/enums';

//contract
const artistTableColumns = [
  {
    name: 'nameAdd',
    field: 'artistFullName',
    required: true,
    label: i18n.global.t('managingUnitAdd.tableColumns.nameAdd'),
    headerStyle: 'text-align: center !important;',
    align: 'left',
    sortable: false,
  },
  {
    name: 'myedityAdd',
    field: 'artistName',
    required: true,
    label: i18n.global.t('managingUnitAdd.tableColumns.myedityAdd'),
    headerStyle: 'text-align: center !important;',
    align: 'left',
    sortable: false,
  },
  {
    name: 'fieldsAdd',
    field: 'field',
    required: true,
    label: i18n.global.t('managingUnitAdd.tableColumns.fieldsAdd'),
    headerStyle: 'text-align: center !important;',
    align: 'left',
    sortable: false,
  },
  {
    name: 'timeAdd',
    field: 'timeAdd',
    required: true,
    label: i18n.global.t('managingUnitAdd.tableColumns.timeAdd'),
    headerStyle: 'text-align: center !important;',
    align: 'left',
    sortable: false,
  },
  {
    name: 'status',
    field: 'status',
    required: true,
    label: i18n.global.t('managingUnitAdd.tableColumns.status'),
    headerStyle: 'text-align: center !important;',
    align: 'center',
    sortable: false,
  },
  {
    name: 'action',
    field: 'action',
    required: true,
    label: i18n.global.t('managingUnitAdd.tableColumns.action'),
    headerStyle: 'text-align: center !important;',
    align: 'center',
    sortable: false,
  },
];

//bankAccount
const bankAccountTableColumns = [
  {
    name: 'cardCode',
    field: 'cardCode',
    required: true,
    label: i18n.global.t('managingUnitAdd.tableColumns.cardCode'),
    headerStyle: 'text-align: center !important;',
    align: 'left',
    sortable: false,
  },
  {
    name: 'numberCard',
    field: 'numberCard',
    required: true,
    label: i18n.global.t('managingUnitAdd.tableColumns.numberCard'),
    headerStyle: 'text-align: center !important;',
    align: 'left',
    sortable: false,
  },
  {
    name: 'userCard',
    field: 'userCard',
    required: true,
    label: i18n.global.t('managingUnitAdd.tableColumns.userCard'),
    headerStyle: 'text-align: center !important;',
    align: 'left',
    sortable: false,
  },
  {
    name: 'bank',
    field: 'bank',
    required: true,
    label: i18n.global.t('managingUnitAdd.tableColumns.bank'),
    headerStyle: 'text-align: center !important;',
    align: 'left',
    sortable: false,
  },
  {
    name: 'cardType',
    field: 'cardType',
    required: true,
    label: i18n.global.t('managingUnitAdd.tableColumns.cardType'),
    headerStyle: 'text-align: center !important;',
    align: 'left',
    sortable: false,
  },
  {
    name: 'isDefault',
    field: 'isDefault',
    required: true,
    label: i18n.global.t('managingUnitAdd.tableColumns.isDefault'),
    headerStyle: 'text-align: center !important;',
    align: 'center',
    sortable: false,
  },
  {
    name: 'action',
    field: 'action',
    required: true,
    label: i18n.global.t('managingUnitAdd.tableColumns.action'),
    headerStyle: 'text-align: center !important;',
    align: 'center',
    sortable: false,
  },
];

export default defineComponent({
  components: { UnitAddUpdateArtistDialog, UnitAddUpdateBankAccountDialog },
  props: {
    isOpened: {
      type: Boolean,
      required: true,
    },
    check_artistList: { type: Boolean, required: true },
    isUpdate: { type: Boolean, default: false },
    fieldsOptions: { type: Array, required: true },
    fields: { type: Number, required: true },
    code: { type: String, required: true },
    name: { type: String, required: true },
    representative: { type: String, required: true },
    email: { type: String, required: true },
    address: { type: String, required: true },
    phoneNumber: { type: String, required: true },
    status: { type: Number, required: true },
    artistList: { type: Array as PropType<unknown[]>, required: true },
    bankAccountList: { type: Array as PropType<unknown[]>, required: true },
  },
  setup(props, context) {
    const addArtistDialogIsOpened = ref(false);
    const updateArtistDialogIsOpened = ref(false);
    const fieldsAddOptions: Ref<FieldType[]> = ref([]);
    const artistOptions: Ref<ArtistInfoType[]> = ref([]);
    const artistField: Ref<{ id: number; name: string } | undefined> =
      ref(undefined);
    const artistName: Ref<ArtistInfoType | undefined> = ref(undefined);
    const artistStatus = ref(1);
    const contractTimeFrom = ref('');
    const contractTimeTo = ref('');
    const selectedContract: Ref<
      { artist: Contract; index: number } | undefined
    > = ref(undefined);

    const addBankAccountDialogIsOpened = ref(false);
    const updateBankAccountDialogIsOpened = ref(false);
    const bank: Ref<number | undefined> = ref(undefined);
    const cardType: Ref<number | undefined> = ref(undefined);
    const cardCode = ref('');
    const numberCard = ref('');
    const userCard = ref('');
    const isDefault: Ref<number> = ref(2);
    const bankOptions: Ref<number | undefined> = ref(undefined);
    const cardTypeOptions: Ref<number | undefined> = ref(undefined);

    const codeRules = [
      (val?: string) =>
        (val && val.trim().length) ||
        i18n.global.t('managingUnit.validateMessages.requireCode'),
      (val?: string) =>
        (val && val.trim().length < 20) ||
        i18n.global.t('managingUnit.validateMessages.requireLengthCode'),
    ];
    const nameRules = [
      (val?: string) =>
        (val && val.trim().length) ||
        i18n.global.t('managingUnit.validateMessages.requireName'),
    ];
    const representativeRules = [
      (val?: string) =>
        (val && val.trim().length) ||
        i18n.global.t('managingUnit.validateMessages.requireRepresentative'),
      (val?: string) =>
        (val && val.trim().length < 30) ||
        i18n.global.t(
          'managingUnit.validateMessages.requireLengthRepresentative'
        ),
    ];
    const fieldsRules = [
      (val?: Array<unknown>) =>
        val?.length ||
        i18n.global.t('managingUnit.validateMessages.requireFields'),
    ];
    const phoneNumberRules = [
      (val?: string) =>
        (val && val.trim().length) ||
        i18n.global.t('managingUnit.validateMessages.requirePhoneNumber'),
      (val: string) =>
        isMobilePhone(val) ||
        i18n.global.t('managingUnit.validateMessages.isPhone'),
    ];
    const emailRules = [
      (val?: string) =>
        (val && val.trim().length) ||
        i18n.global.t('managingUnit.validateMessages.requireEmail'),
      (val: string) =>
        isEmail(val) || i18n.global.t('managingUnit.validateMessages.isEmail'),
    ];
    const addressRules = [
      (val?: string) =>
        (val && val.trim().length) ||
        i18n.global.t('managingUnit.validateMessages.requireAddress'),
    ];

    watch(
      () => artistField.value,
      (value) => {
        artistName.value = undefined;
        if (value) {
          void getArtistDicitionaryOptions(
            value,
            selectedContract.value
              ? selectedContract.value.artist.artistId
              : undefined
          );
        }
      }
    );

    watch(
      () => contractTimeFrom.value,
      (value) => {
        if (value) {
          const fromDate = moment(value, 'DD/MM/YYYY', true).toDate();
          const toDate = contractTimeTo.value
            ? moment(contractTimeTo.value, 'DD/MM/YYYY', true).toDate()
            : undefined;
          if (toDate && moment(fromDate).isAfter(toDate)) {
            contractTimeFrom.value = moment(toDate).format('DD/MM/YYYY');
            contractTimeTo.value = moment(fromDate).format('DD/MM/YYYY');
          }
        }
      }
    );

    watch(
      () => contractTimeTo.value,
      (value) => {
        if (value) {
          const toDate = moment(value, 'DD/MM/YYYY', true).toDate();
          const fromDate = contractTimeFrom.value
            ? moment(contractTimeFrom.value, 'DD/MM/YYYY', true).toDate()
            : undefined;
          if (fromDate && moment(fromDate).isAfter(toDate)) {
            contractTimeFrom.value = moment(toDate).format('DD/MM/YYYY');
            contractTimeTo.value = moment(fromDate).format('DD/MM/YYYY');
          }
        }
      }
    );

    //gọi api lĩnh vực
    const getFieldOptions = async () => {
      const response = (await api({
        url: API_PATHS.getFieldOptions,
        method: 'GET',
        params: {},
      })) as AxiosResponse<BaseResponseBody<FieldType[]>>;
      if (response.data.error.code === config.API_RES_CODE.OK.code) {
        fieldsAddOptions.value = response.data.data;
      }
    };

    //gọi api nghệ sỹ
    const getArtistDicitionaryOptions = async (
      data: {
        id: number;
        name: string;
      },
      artistId?: number
    ) => {
      artistOptions.value = [];
      const response = (await api({
        url: API_PATHS.getArtistDicitionaryOptions,
        method: 'GET',
        params: {
          field: data.id,
        },
      })) as AxiosResponse<BaseResponseBody<ArtistInfoType[]>>;
      if (response.data.error.code === config.API_RES_CODE.OK.code) {
        artistOptions.value = response.data.data;
        if (artistId || artistId === 0) {
          artistName.value = artistOptions.value.find(
            (artist) => artist.id === artistId
          );
        }
      }
    };

    //tài khoản ngân hàng
    const openAddBankAccountDialog = () => {
      addBankAccountDialogIsOpened.value = true;
      cardCode.value = '';
      numberCard.value = '';
      bank.value = undefined;
      cardType.value = undefined;
    };

    const addNewBankAccount = () => {
      // console.log(Object);
    };

    const updateNewBankAccount = () => {
      // console.log(Object);
    };

    //nghệ sỹ
    const openAddArtistDialog = () => {
      addArtistDialogIsOpened.value = true;
      artistField.value = undefined;
      artistName.value = undefined;
      artistStatus.value = 1;
      contractTimeFrom.value = '';
      contractTimeTo.value = '';
    };

    const openUpdateArtistDialog = (artist: Contract, index: number) => {
      selectedContract.value = { artist, index };
      updateArtistDialogIsOpened.value = true;
      artistField.value = { id: artist.fieldId, name: artist.field };
      artistStatus.value = artist.status;
      contractTimeFrom.value = moment(
        artist.contractFrom,
        'DD/MM/YYYY HH:mm:ss'
      ).format('DD/MM/YYYY');
      contractTimeTo.value = moment(
        artist.contractTo,
        'DD/MM/YYYY HH:mm:ss'
      ).format('DD/MM/YYYY');
    };

    const updateArtistContract = () => {
      const newArtistList = [...props.artistList];
      if (selectedContract.value) {
        newArtistList[selectedContract.value.index] = {
          contractFrom: contractTimeFrom.value,
          contractTo: contractTimeTo.value,
          timeAdd: `${contractTimeFrom.value} - ${contractTimeTo.value}`,
          status: artistStatus.value,
          artistId: artistName.value?.id,
          artistName: artistName.value?.artistName,
          artistFullName: artistName.value?.fullName,
          field: artistField.value?.name,
        };
        context.emit('update:artistList', [...newArtistList]);
        Notify.create({
          type: 'positive',
          message: i18n.global.t(
            'managingUnitAdd.actionMessages.unitUpdateArtistSuccess'
          ),
          actions: [{ icon: 'close', color: 'white' }],
        });
      }
    };

    const addNewArtist = () => {
      const newArtistList = [...props.artistList];
      newArtistList.push({
        contractFrom: `${contractTimeFrom.value} 00:00:00`,
        contractTo: `${contractTimeTo.value} 00:00:00`,
        timeAdd: `${contractTimeFrom.value} - ${contractTimeTo.value}`,
        status: artistStatus.value,
        artistId: artistName.value?.id,
        artistName: artistName.value?.artistName,
        artistFullName: artistName.value?.fullName,
        field: artistField.value?.name,
      });
      context.emit('update:artistList', [...newArtistList]);
      Notify.create({
        type: 'positive',
        message: i18n.global.t(
          'managingUnitAdd.actionMessages.unitAddArtistSuccess'
        ),
        actions: [{ icon: 'close', color: 'white' }],
      });
    };

    const deleteContract = (index: number) => {
      Dialog.create({
        title: i18n.global.t(
          'managingUnit.confirmActionsTitle.confirmDeleteManagingUnitsTitle'
        ),
        message: i18n.global.t(
          'managingUnitAdd.confirmActionsTitle.confirmDelete'
        ),
        cancel: i18n.global.t(
          'managingUnit.confirmActionsTitle.confirmDeleteManagingUnitsCancelBtnLabel'
        ),
        color: 'negative',
      }).onOk(() => {
        const newArtistList = [...props.artistList];
        newArtistList.splice(index, 1);
        context.emit('update:artistList', [...newArtistList]);
        Notify.create({
          type: 'positive',
          message: i18n.global.t(
            'managingUnitAdd.actionMessages.unitDeleteArtistSuccess'
          ),
          actions: [{ icon: 'close', color: 'white' }],
        });
      });
    };

    onMounted(() => {
      void getFieldOptions();
    });

    return {
      getFieldOptions,
      getArtistDicitionaryOptions,
      addArtistDialogIsOpened,
      codeRules,
      nameRules,
      representativeRules,
      addressRules,
      phoneNumberRules,
      emailRules,
      fieldsRules,
      artistOptions,
      artistTableColumns,
      artistField,
      artistName,
      artistStatus,
      contractTimeFrom,
      contractTimeTo,
      addNewArtist,
      openAddArtistDialog,
      updateArtistContract,
      updateArtistDialogIsOpened,
      openUpdateArtistDialog,
      UnitStatus,
      deleteContract,
      bankAccountTableColumns,
      addBankAccountDialogIsOpened,
      bank,
      cardCode,
      numberCard,
      userCard,
      cardType,
      isDefault,
      bankOptions,
      cardTypeOptions,
      addNewBankAccount,
      openAddBankAccountDialog,
      updateBankAccountDialogIsOpened,
      updateNewBankAccount,
    };
  },
  emits: [
    'update:isOpened',
    'click:CloseBtn',
    'update:code',
    'update:name',
    'update:representative',
    'update:fields',
    'update:email',
    'update:phoneNumber',
    'update:address',
    'update:status',
    'update:artistList',
    'update:check_artistList',
    'addNewUnit',
  ],
});
</script>
