<template>
  <q-dialog
    persistent
    :model-value="showDialog"
    @update:model-value="$emit('update:showDialog', $event)"
  >
    <q-card style="min-width: 56rem" bordered>
      <q-form greedy>
        <q-card-section>
          <q-item>
            <q-item-section>
              <q-item-label
                class="text-h6 text-weight-regular"
                style="text-align: center"
                >{{ $t('listBooking.dialogLabel.title') }}</q-item-label
              >
            </q-item-section>
          </q-item>
        </q-card-section>
        <q-separator />

        <q-card-section>
          <div class="col-12 q-px-xl">
            <div class="row q-col-gutter-sm">
              <div class="col-4 fs-14 color">
                {{ $t('listBooking.titleColumnsTable.bookingCode') }}:
              </div>
              <div class="col-8 fs-14">
                {{ detailInfoBooking.bookingCode }}
              </div>

              <div class="col-4 fs-14 color">
                {{ $t('listBooking.titleColumnsTable.artistName') }}:
              </div>
              <div class="col-8 fs-14">
                {{ detailInfoBooking.artistName }}
              </div>

              <div class="col-4 fs-14 color">
                {{ $t('listBooking.titleColumnsTable.userName') }}:
              </div>
              <div class="col-8 fs-14">{{ detailInfoBooking.userName }}</div>

              <div class="col-4 fs-14 color">
                {{ $t('listBooking.titleColumnsTable.address') }}:
              </div>
              <div class="col-8 fs-14">{{ detailInfoBooking.address }}</div>

              <div class="col-4 fs-14 color">
                {{ $t('listBooking.titleColumnsTable.fromTime') }}:
              </div>
              <div class="col-8 fs-14">{{ detailInfoBooking.fromTime }}</div>

              <div class="col-4 fs-14 color">
                {{ $t('listBooking.titleColumnsTable.toTime') }}:
              </div>
              <div class="col-8 fs-14">{{ detailInfoBooking.toTime }}</div>

              <div class="col-4 fs-14 color">
                {{ $t('listBooking.titleColumnsTable.fee') }}:
              </div>
              <div class="col-8 fs-14">{{ detailInfoBooking.fee }}</div>

              <div class="col-4 fs-14 color">
                {{ $t('listBooking.titleColumnsTable.favoriteScore') }}:
              </div>
              <div class="col-8 fs-14">
                {{ detailInfoBooking.favoriteScore }}
              </div>

              <div class="col-4 fs-14 color">
                {{ $t('listBooking.titleColumnsTable.status') }}:
              </div>
              <div class="col-8 fs-14">
                <q-chip
                  size="sm"
                  color="secondary"
                  v-if="detailInfoBooking.status === 0"
                  >Chờ nhận</q-chip
                >
                <q-chip
                  size="sm"
                  color="info"
                  v-else-if="detailInfoBooking.status === 1"
                  >Đã nhận</q-chip
                >
                <q-chip size="sm" color="warning" v-else>Từ chối</q-chip>
              </div>

              <div class="col-4 fs-14 color">
                {{ $t('listBooking.titleColumnsTable.performStatus') }}:
              </div>
              <div class="col-8 fs-14">
                <q-chip
                  size="sm"
                  color="secondary"
                  v-if="detailInfoBooking.performStatus === 0"
                  >Chờ nhận</q-chip
                >
                <q-chip
                  size="sm"
                  color="info"
                  v-else-if="detailInfoBooking.performStatus === 1"
                  >Đã thực hiện</q-chip
                >
                <q-chip
                  size="sm"
                  color="warning"
                  v-else-if="detailInfoBooking.performStatus === 2"
                  >Chưa thực hiện</q-chip
                >
                <q-chip
                  size="sm"
                  color="warning"
                  v-else-if="detailInfoBooking.performStatus === 3"
                  >Hoãn lịch</q-chip
                >
                <q-chip
                  size="sm"
                  color="warning"
                  v-else-if="detailInfoBooking.performStatus === 4"
                  >Hủy lịch</q-chip
                >
                <q-chip size="sm" color="secondary" v-else
                  >Thay đổi lịch</q-chip
                >
              </div>

              <div class="col-4 fs-14 color">
                {{ $t('listBooking.titleColumnsTable.content') }}:
              </div>
              <div class="col-8 fs-14">{{ detailInfoBooking.content }}</div>
            </div>
          </div>
        </q-card-section>
        <q-separator />
        <q-card-actions align="right">
          <q-btn
            color="grey"
            no-caps
            style="width: 90px"
            :label="$t('listBooking.crudActions.cancel')"
            @click="$emit('click:CloseBtn')"
          />
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
</template>

<script lang="ts">
import { defineComponent, PropType, watch } from 'vue';
import { ListBooking } from 'src/assets/type';
export default defineComponent({
  props: {
    showDialog: {
      type: Boolean,
      required: true,
    },
    detailInfoBooking: {
      type: Object as PropType<ListBooking>,
      required: true,
    },
  },
  setup(props) {
    watch(
      () => props.showDialog,
      (value) => {
        if (value) {
        }
      }
    );

    return {};
  },
  emits: ['update:showDialog', 'click:CloseBtn'],
});
3;
</script>
<style scoped>
.fs-14 {
  font-size: 14px;
}
.color {
  color: #5d319e;
}
</style>
