<template>
  <q-card flat bordered class="my-card">
    <q-form greedy @submit.prevent="$emit('saveGroupInfo', isDisable)">
      <q-card-section style="padding-top: 28px">
        <div class="row">
          <div class="col-12" style="display: flex; justify-content: flex-end">
            <q-btn
              v-if="isDisable === EditMode.edit"
              style="margin-right: 8px"
              color="red"
              icon="delete"
              no-caps
              :label="$t('crudActions.delete')"
              @click="$emit('deleteGroup')"
            />
            <q-btn
              v-if="isDisable"
              color="primary"
              no-caps
              :label="
                isDisable === EditMode.edit
                  ? $t('crudActions.update')
                  : $t('crudActions.add')
              "
              type="submit"
            />
          </div>
          <div v-if="isDisable" style="position: absolute; top: 0; right: 0">
            <q-btn
              @click="$emit('resetGroupInfo', EditMode.default)"
              size="x-small"
              flat
              round
              no-caps
              color="primary"
              icon="close"
            />
          </div>
        </div>
      </q-card-section>
      <q-card-section class="q-pt-none">
        <q-input
          :model-value="groupName"
          :disable="!isDisable ? true : false"
          outlined
          :label="$t('userGroupPage.groupInfo.fieldLabels.groupName')"
          :rules="groupNameRules"
          hide-bottom-space
          @update:model-value="$emit('update:groupName', $event)"
        />
      </q-card-section>
      <q-card-section class="q-pt-none">
        <q-input
          :model-value="groupDescription"
          :disable="!isDisable ? true : false"
          outlined
          :label="$t('userGroupPage.groupInfo.fieldLabels.groupDescription')"
          :rules="groupDescriptionRules"
          hide-bottom-space
          @update:model-value="$emit('update:groupDescription', $event)"
        />
      </q-card-section>
    </q-form>
    <q-card-section v-if="isDisable === EditMode.edit">
      <q-scroll-area
        class="full-width"
        style="height: calc(100vh - 25rem) !important"
      >
        <q-tree
          class="col-12 col-sm-6"
          :nodes="pagesRoles"
          node-key="id"
          tick-strategy="leaf"
          label-key="name"
          children-key="formatted_role_list"
          :ticked="selectedPageRoles"
          @update:ticked="$emit('update:selectedPageRoles', $event)"
        />
      </q-scroll-area>
    </q-card-section>
  </q-card>
</template>

<script lang="ts">
import { GroupInfoScript } from './GroupInfo';
export default GroupInfoScript;
</script>
