<template>
  <div class="row q-col-gutter-sm flex-center q-mt-sm">
    <div class="col-auto text-h6 text-weight-regular flex flex-center q-mr-md">
      {{ $t('customer.title') }}
      <q-separator vertical spaced />
    </div>
    <q-space></q-space>
    <div class="col-2">
      <q-input
        v-model="companyNameSelected"
        dense
        outlined
        :label="$t('customer.tableColumnsCustomer.businessName')"
        clearable
      ></q-input>
    </div>
    <div class="col-2">
      <q-input
        v-model="taxCodeSelected"
        dense
        outlined
        :label="$t('customer.tableColumnsCustomer.taxCode')"
        clearable
      ></q-input>
    </div>
    <div class="col-2" dense outlined>
      <q-select
        v-model="levelSelected"
        :options="levelOptions"
        option-label="name"
        option-value="id"
        dense
        outlined
        label="Xếp hạng"
        clearable
      ></q-select>
    </div>
    <div class="col-auto">
      <q-btn
        color="primary"
        no-caps
        :label="$t('crudActions.search')"
        style="width: 100px"
        @click="getListCustomers"
      >
      </q-btn>
    </div>
    <div class="col-auto">
      <q-btn
        color="primary"
        no-caps
        :label="$t('crudActions.add')"
        style="width: 100px"
        @click="openAddCustomerDialog"
      >
      </q-btn>
    </div>

    <div class="col-12 q-mt-sm">
      <q-table
        :rows="userTableRowsCustomer"
        :columns="userTableColumnsCustomer"
        :no-data-label="$t('emptyData')"
        row-key="name"
        separator="cell"
        :rows-per-page-label="$t('recordPerPage')"
        :pagination="{
          rowsPerPage: 0,
        }"
        wrap-cells
        hide-pagination
        class="sticky-header-table"
      >
        <template v-slot:body-cell-stt="item">
          <q-td :item="item" style="text-align: center">
            {{ 1 + item.rowIndex + pageSize * (pageIndex - 1) }}
          </q-td>
        </template>
        <template v-slot:body-cell-action="rowData">
          <q-td style="padding: 0; text-align: center">
            <q-btn
              flat
              round
              color="primary"
              icon="mdi-account-edit-outline"
              @click="openUpdateCustomerDialog(rowData.row.id)"
            >
              <q-tooltip :offset="[20, 10]">{{
                $t('customer.toolTipMessage.updateCustomerInfo')
              }}</q-tooltip>
            </q-btn>
               <q-btn
              flat
              round
              color="primary"
              icon="mdi-check-circle-outline"
              @click="confirmBrowserCustomer(rowData.row.id)"
            >
              <q-tooltip :offset="[20, 10]">Duyệt tài khoản</q-tooltip>
            </q-btn>
            <q-btn
              flat
              round
              color="primary"
              icon="mdi-delete-outline"
              @click="confirmDeleteCustomer(rowData.row.id)"
            >
              <q-tooltip :offset="[20, 10]">{{
                $t('customer.toolTipMessage.deleteCustomer')
              }}</q-tooltip>
            </q-btn>
          </q-td>
        </template>
        <template v-slot:body-cell-status="rowData">
          <q-td>
            <div align="center">
              <q-chip
                :color="rowData.value === 1 ? 'positive' : 'orange'"
                text-color="white"
                size="sm"
              >
                {{
                  rowData.value === 1
                    ? $t('customer.statusLabel.active')
                    : $t('customer.statusLabel.inactive')
                }}
              </q-chip>
            </div>
          </q-td>
        </template>

        <template v-slot:body-cell-approvalStatus="rowData">
          <q-td>
            <div align="center">
                 <q-chip
                :color="rowData.value === 1 ? 'positive' : 'orange'"
                text-color="white"
                size="sm"
              >
                {{
                  rowData.value === 1
                    ? 'Đã duyệt'
                    : 'Chờ duyệt'
                }}
              </q-chip>
            </div>
          </q-td>
        </template>
      </q-table>
      <div class="col-12 q-mt-sm">
        <Pagination
          v-model:currentPage="pageIndex"
          v-model:pageSize="pageSize"
          :totalPage="totalPage"
          @update:pageSize="changePageSize"
          @update:currentPage="getListCustomers"
        />

        <AddNewCustomerDialogComponent
          v-model:show-dialog="showDialog"
          :level-options="levelOptions"
          :list-customers="userTableRowsCustomer"
          @click:CloseBtn="showDialog = false"
          @addNewCustomer="addCustomer"
        ></AddNewCustomerDialogComponent>

        <UpdateNewCustomerDialogComponent
          v-model:show-dialog-update="showDialogUpdate"
          :level-options="levelOptions"
          :customer-info="customerInfo"
          @click:CloseBtn="showDialogUpdate = false"
          @editCustomer="updateCustomer"
        ></UpdateNewCustomerDialogComponent>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { i18n } from 'src/boot/i18n';
import { defineComponent, onMounted, Ref, ref } from 'vue';
import Pagination from 'components/pagination/index.vue';
import AddNewCustomerDialogComponent from '../../components/customer/add-new-customer-dialog/index.vue';
import UpdateNewCustomerDialogComponent from '../../components/customer/update-new-customer-dialog/index.vue';
import { API_PATHS, config } from 'src/assets/configurations.example';
import { AxiosResponse } from 'axios';
import { api, BaseResponseBody } from 'src/boot/axios';
import {
  CustomerType,
  PaginationResponse,
  CustomerLevelType,
} from 'src/assets/type';
import { Dialog, Notify } from 'quasar';
export default defineComponent({
  components: {
    AddNewCustomerDialogComponent,
    UpdateNewCustomerDialogComponent,
    Pagination,
  },
  setup() {
    const dataTest = ref([]);
    const userTableColumnsCustomer = [
      {
        name: 'stt',
        field: 'stt',
        required: true,
        label: i18n.global.t('customer.tableColumnsCustomer.stt'),
        align: 'center',
        sortable: false,
      },
      {
        name: 'code',
        field: 'code',
        required: true,
        label: i18n.global.t('customer.tableColumnsCustomer.customerCode'),
        align: 'center',
        headerStyle: 'text-align: center !important;',
        sortable: false,
      },
      {
        name: 'userName',
        field: 'userName',
        required: true,
        label: i18n.global.t('customer.tableColumnsCustomer.userName'),
        headerStyle: 'text-align: center !important;',
        align: 'left',
        sortable: false,
      },
      {
        name: 'fullName',
        field: 'fullName',
        required: true,
        label: i18n.global.t('customer.tableColumnsCustomer.fullName'),
        headerStyle: 'text-align: center !important;',
        align: 'left',
        sortable: false,
      },
      {
        name: 'companyName',
        field: 'companyName',
        required: true,
        label: i18n.global.t('customer.tableColumnsCustomer.businessName'),
        headerStyle: 'text-align: center !important;',
        align: 'left',
        sortable: false,
      },
      {
        name: 'taxCode',
        field: 'taxCode',
        required: true,
        label: i18n.global.t('customer.tableColumnsCustomer.taxCode'),
        headerStyle: 'text-align: center !important;',
        align: 'left',
        sortable: false,
      },
      {
        name: 'email',
        field: 'email',
        required: true,
        label: i18n.global.t('customer.tableColumnsCustomer.email'),
        headerStyle: 'text-align: center !important;',
        align: 'left',
        sortable: false,
      },
      {
        name: 'level',
        field: 'level',
        required: true,
        label: i18n.global.t('customer.tableColumnsCustomer.ratings'),
        headerStyle: 'text-align: center !important;',
        align: 'left',
        sortable: false,
      },
      {
        name: 'status',
        field: 'status',
        required: true,
        label: i18n.global.t('customer.tableColumnsCustomer.status'),
        align: 'center',
        sortable: false,
      },
       {
        name: 'approvalStatus',
        field: 'approvalStatus',
        required: true,
        label: 'T.thái duyệt',
        align: 'center',
        sortable: false,
      },
      {
        name: 'action',
        field: 'action',
        required: true,
        label: i18n.global.t('customer.tableColumnsCustomer.action'),
        align: 'center',
        sortable: false,
      },
    ];
    const userTableRowsCustomer: Ref<CustomerType[]> = ref([]);
    const customerInfo: Ref<CustomerType | null> = ref(null);
    const showDialog = ref(false);
    const showDialogUpdate = ref(false);
    const pageIndex = ref(1);
    const pageSize = ref(20);
    const totalPage = ref(0);
    const companyNameSelected: Ref<string | null> = ref(null);
    const taxCodeSelected: Ref<string | null> = ref(null);
    const levelSelected: Ref<CustomerLevelType | null> = ref(null);

    const id: Ref<number | undefined> = ref(undefined);
    const code: Ref<string | null> = ref(null);
    const userName: Ref<string | null> = ref(null);
    const fullName: Ref<string | null> = ref(null);
    const companyName: Ref<string | null> = ref(null);
    const taxCode: Ref<string | null> = ref(null);
    const email: Ref<string | null> = ref(null);
    const status: Ref<number | null> = ref(2);
    const phone: Ref<string | null> = ref(null);
    const password: Ref<string | null> = ref(null);
    const address: Ref<string | null> = ref(null);
    const type: Ref<string | null> = ref(null);
    const representative: Ref<string | null> = ref(null);
    const position: Ref<string | null> = ref(null);
    const level: Ref<CustomerLevelType | null> = ref(null);

    const levelOptions: Ref<CustomerLevelType[] | null> = ref([]);
    const getListCustomers = async () => {
      try {
        const response = (await api({
          url: API_PATHS.listCustomers,
          method: 'GET',
          params: {
            pageIndex: pageIndex.value,
            pageSize: pageSize.value,
            customerLevel: levelSelected.value?.id,
          },
        })) as AxiosResponse<
          BaseResponseBody<PaginationResponse<CustomerType>>
        >;
        if (response.data.error.code === config.API_RES_CODE.OK.code) {
          userTableRowsCustomer.value = response.data.data.data;
          totalPage.value = response.data.data.totalPages;
        }
      } catch (error) {}
    };
    const getCustomerLevelOptions = async () => {
      const response = (await api({
        url: API_PATHS.listCustomerLevel,
        method: 'GET',
        params: {},
      })) as AxiosResponse<BaseResponseBody<CustomerLevelType[]>>;
      if (response.data.error.code === config.API_RES_CODE.OK.code) {
        levelOptions.value = response.data.data;
      }
    };
    const confirmDeleteCustomer = (id: number) => {
      Dialog.create({
        title: i18n.global.t(
          'customer.confirmActionsTitle.confirmDeleteUserTitle'
        ),
        message: i18n.global.t(
          'customer.confirmActionsTitle.confirmDeleteUserContent'
        ),
        cancel: i18n.global.t(
          'customer.confirmActionsTitle.confirmDeleteUserCancelBtnLabel'
        ),
        color: 'negative',
      }).onOk(() => {
        void deleteCustomer(id);
      });
    };
     const confirmBrowserCustomer = (id: number) => {
            Dialog.create({
        title: i18n.global.t(
          'customer.confirmActionsTitle.confirmDeleteUserTitle'
        ),
        message: 'Bạn có chắc muốn duyệt khách hàng này không?',
        // i18n.global.t(
        //   'customer.confirmActionsTitle.confirmDeleteUserContent'
        // ),
        cancel: i18n.global.t(
          'customer.confirmActionsTitle.confirmDeleteUserCancelBtnLabel'
        ),
        color: 'negative',
      }).onOk(() => {
        // void deleteCustomer(id);
       void browserCustomer(id);
      });
     };
    
   const browserCustomer  =async (id:number) => {
     try {
           const browserResult = (await api({
          url: API_PATHS.browserCustomer,
          method: 'POST',
          data: {
            id: id,
            isCustomer: 1,
            approvalStatus:1
          },
        })) as AxiosResponse<BaseResponseBody<unknown>>;

        if (browserResult.data.error.code === config.API_RES_CODE.OK.code) {
          Notify.create({
            type: 'positive',
            message: 'Duyệt thành công',
            actions: [{ icon: 'close', color: 'white' }],
          });
          void getListCustomers();
        } 
     } catch (error) {
       
     }
   }

    const deleteCustomer = async (id: number) => {
      try {
        const deleteResult = (await api({
          url: API_PATHS.deleteCustomer,
          method: 'GET',
          params: {
            id: id,
          },
        })) as AxiosResponse<BaseResponseBody<unknown>>;

        if (deleteResult.data.error.code === config.API_RES_CODE.OK.code) {
          Notify.create({
            type: 'positive',
            message: i18n.global.t('customer.actionMessages.deleteUserAccess'),
            actions: [{ icon: 'close', color: 'white' }],
          });
          void getListCustomers();
        }
      } catch (error) {}
    };
    const addCustomer = async (item: CustomerType) => {
      try {
        const response = (await api({
          url: API_PATHS.addCustomer,
          method: 'POST',
          data: {
            code: item.code,
            userName: item.userName,
            fullName: item.fullName,
            companyName: item.companyName,
            taxCode: item.taxCode,
            email: item.email,
            status: item.status,
            phone: item.phone,
            password: item.password,
            address: item.address,
            type: item.type,
            representative: item.representative,
            position: item.position,
            level: item.level,
          },
        })) as AxiosResponse<BaseResponseBody<unknown>>;
        if (response.data.error.code === config.API_RES_CODE.OK.code) {
          Notify.create({
            type: 'positive',
            message: i18n.global.t('customer.actionMessages.addNewUserAccess'),
            actions: [{ icon: 'close', color: 'white' }],
          });
          void getListCustomers();
          showDialog.value = false;
        }
      } catch (error) {}
    };
    const changePageSize = () => {
      pageIndex.value = 1;
      void getListCustomers();
    };

    const openAddCustomerDialog = () => {
      showDialog.value = true;
      userName.value = null;
      fullName.value = null;
      companyName.value = null;
      taxCode.value = null;
      email.value = null;
      level.value = null;
      address.value = null;
      type.value = null;
      representative.value = null;
      position.value = null;
      phone.value = null;
      status.value = 2;
    };

    const getDetailCustomer = async (id: number) => {
      try {
        const response = (await api({
          url: API_PATHS.detailCustomer,
          method: 'GET',
          params: {
            id: id,
          },
        })) as AxiosResponse<BaseResponseBody<CustomerType>>;
        if (response.data.error.code === config.API_RES_CODE.OK.code) {
          customerInfo.value = response.data.data;
          showDialogUpdate.value = true;
        }
      } catch (error) {}
    };
    const openUpdateCustomerDialog = (id: number) => {
      void getDetailCustomer(id);
    };

    //Bấm nút lưu ở dialog update thì gọi api cập nhật trong hàm updateCustomer
    const updateCustomer = async (item: CustomerType) => {
      try {
        const response = (await api({
          url: API_PATHS.updateCustomer,
          method: 'POST',
          data: {
            id: item.id,
            code: item.code,
            userName: item.userName,
            fullName: item.fullName,
            companyName: item.companyName,
            taxCode: item.taxCode,
            email: item.email,
            status: item.status,
            phone: item.phone,
            password: item.password,
            address: item.address,
            type: item.type,
            representative: item.representative,
            position: item.position,
            level: item.level,
          },
        })) as AxiosResponse<BaseResponseBody<unknown>>;
        if (response.data.error.code === config.API_RES_CODE.OK.code) {
          Notify.create({
            type: 'positive',
            message: i18n.global.t('customer.actionMessages.updateUserAccess'),
            actions: [{ icon: 'close', color: 'white' }],
          });
          void getListCustomers();
          showDialogUpdate.value = false;
        }
      } catch (error) {}
    };

    onMounted(() => {
      void getListCustomers();
      void getCustomerLevelOptions();
    });
    return {
      openUpdateCustomerDialog,
      updateCustomer,
      openAddCustomerDialog,
      addCustomer,
      showDialogUpdate,
      showDialog,
      id,
      userName,
      fullName,
      companyName,
      taxCode,
      code,
      password,
      type,
      email,
      level,
      levelOptions,
      address,
      representative,
      position,
      levelSelected,
      phone,
      companyNameSelected,
      taxCodeSelected,
      status,
      userTableColumnsCustomer,
      userTableRowsCustomer,
      getListCustomers,
      pageIndex,
      pageSize,
      dataTest,
      totalPage,
      changePageSize,
      getCustomerLevelOptions,
      confirmDeleteCustomer,
      confirmBrowserCustomer,
      customerInfo,
    };
  },
});
</script>
