<template>
  <div class="row q-col-gutter-sm flex-center q-mt-sm">
    <div class="col-auto text-h6 text-weight-regular flex flex-center q-mr-md">
      {{ $t('listNews.title') }}
      <q-separator vertical spaced />
    </div>
    <q-space></q-space>
    <div class="col-2 sreach">
      <q-input
        v-model="sreachTitle"
        dense
        outlined
        :label="$t('listNews.titleColumnsTable.title')"
        clearable
      ></q-input>
    </div>

    <div class="col-auto">
      <q-btn
        class="q-mr-sm"
        color="primary"
        no-caps
        :label="$t('crudActions.search')"
        style="width: 100px"
      >
      </q-btn>
      <q-btn
        class="q-mr-sm"
        color="primary"
        no-caps
        :label="$t('crudActions.add')"
        @click="openAddDialog"
        style="width: 100px"
      >
      </q-btn>
    </div>

    <div class="col-12 q-mt-sm">
      <q-table
        :rows="listNews"
        :columns="tableColumnsNews"
        :no-data-label="$t('emptyData')"
        row-key="name"
        separator="cell"
        :rows-per-page-label="$t('recordPerPage')"
        :pagination="{
          rowsPerPage: 0,
        }"
        wrap-cells
        hide-pagination
        class="sticky-header-table"
      >
        <template v-slot:body-cell-action="rowData">
          <q-td style="padding: 0; text-align: center">
            <q-btn
              flat
              round
              color="primary"
              icon="mdi-account-edit-outline"
              @click="openUpdateDialog(rowData.row.id)"
            >
              <q-tooltip :offset="[10, 10]">{{
                $t('listNews.toolTipMessageUpdate')
              }}</q-tooltip>
            </q-btn>
            <q-btn flat round color="primary" icon="mdi-delete-outline">
              <q-tooltip :offset="[10, 10]">{{
                $t('listNews.toolTipMessageDelete')
              }}</q-tooltip>
            </q-btn>
          </q-td>
        </template>
        <template v-slot:body-cell-stt="item">
          <q-td :item="item" style="text-align: center">
            {{ 1 + item.rowIndex + pageSize * (pageIndex - 1) }}
          </q-td>
        </template>

        <template v-slot:body-cell-content="item">
          <td>
            <div class="ellipsis-3-lines">
              {{ !item.row.content ? '' : item.row.content }}
              <q-tooltip :offset="[10, 10]" max-width="30%">{{
                !item.row.content ? '' : item.row.content
              }}</q-tooltip>
            </div>
          </td>
        </template>

        <template v-slot:body-cell-image="image">
          <q-td style="padding: auto; height: 100%" class="flex flex-center">
            <q-img
              style="width: 9rem"
              fit="contain"
              :ratio="16 / 9"
              :src="configImg.API_IMAGE_ENDPOINT + image.row.image"
            ></q-img>
          </q-td>
        </template>

        <template v-slot:body-cell-status="rowData">
          <q-td>
            <div align="center">
              <q-chip
                :color="
                  rowData.value === NewsStatus.active ? 'positive' : 'orange'
                "
                text-color="white"
                size="sm"
              >
                {{
                  rowData.value === NewsStatus.active
                    ? $t('listNews.statusLabel.active')
                    : $t('listNews.statusLabel.inactive')
                }}
              </q-chip>
            </div>
          </q-td>
        </template>
      </q-table>
    </div>
    <AddUpdateNewsDialog
      v-model:isOpened="showDialogAdd"
      v-model:title="title"
      v-model:content="content"
      v-model:location="location"
      v-model:url-target="urlTarget"
      v-model:status="status"
      v-model:image="image"
      @SetAvatar="setAvatar($event)"
      isUpdate
      @saveNewsInfo="addNews"
    />

    <AddUpdateNewsDialog
      v-model:isOpened="showDialogUpdate"
      v-model:title="title"
      v-model:content="content"
      v-model:location="location"
      v-model:url-target="urlTarget"
      v-model:status="status"
      v-model:image="image"
      @SetAvatar="setAvatar($event)"
      @saveNewsInfo="updateNews"
    />
  </div>
</template>

<script lang="ts">
export type AvatarType = {
  file?: File;
  url?: string | null;
};
import AddUpdateNewsDialog from 'components/news/index.vue';
import { NewsStatus } from 'src/assets/enums';
import { i18n } from 'src/boot/i18n';
import { defineComponent, onMounted, Ref, ref } from 'vue';
import { config } from 'src/assets/configurations.example';
import { AxiosResponse } from 'axios';
import { api, BaseResponseBody } from 'src/boot/axios';
import { FileUploadType } from 'src/assets/type';
export default defineComponent({
  components: {
    AddUpdateNewsDialog,
  },
  setup() {
    const tableColumnsNews = [
      {
        name: 'stt',
        field: 'stt',
        required: true,
        label: i18n.global.t('listNews.titleColumnsTable.stt'),
        headerStyle: 'text-align: center !important; width: 5%',
        align: 'center',
        sortable: false,
      },
      {
        name: 'image',
        field: 'image',
        required: true,
        label: i18n.global.t('listNews.titleColumnsTable.image'),
        align: 'left',
        headerStyle: 'text-align: center !important; width: 8%',
        sortable: false,
      },
      {
        name: 'title',
        field: 'title',
        required: true,
        label: i18n.global.t('listNews.titleColumnsTable.title'),
        align: 'left',
        headerStyle: 'text-align: center !important; width: 10%',
        sortable: false,
      },
      {
        name: 'content',
        field: 'content',
        required: true,
        label: i18n.global.t('listNews.titleColumnsTable.content'),
        headerStyle: 'text-align: center !important; width: 25%',
        align: 'left',
        sortable: false,
      },
      {
        name: 'location',
        field: 'location',
        required: true,
        label: i18n.global.t('listNews.titleColumnsTable.location'),
        headerStyle: 'text-align: center !important; width: 5%',
        align: 'center',
        sortable: false,
      },
      {
        name: 'urlTarget',
        field: 'urlTarget',
        required: true,
        label: i18n.global.t('listNews.titleColumnsTable.urlTarget'),
        headerStyle: 'text-align: center !important; width: 10%',
        align: 'center',
        sortable: false,
      },
      {
        name: 'createTime',
        field: 'createTime',
        required: true,
        label: i18n.global.t('listNews.titleColumnsTable.createTime'),
        headerStyle: 'text-align: center !important; width: 10%',
        align: 'center',
        sortable: false,
      },
      {
        name: 'createBy',
        field: 'createBy',
        required: true,
        label: i18n.global.t('listNews.titleColumnsTable.createBy'),
        headerStyle: 'text-align: center !important; width: 8%',
        align: 'center',
        sortable: false,
      },
      {
        name: 'updateTime',
        field: 'updateTime',
        required: true,
        label: i18n.global.t('listNews.titleColumnsTable.updateTime'),
        headerStyle: 'text-align: center !important; width: 8%',
        align: 'center',
        sortable: false,
      },
      {
        name: 'updateBy',
        field: 'updateBy',
        required: true,
        label: i18n.global.t('listNews.titleColumnsTable.updateBy'),
        headerStyle: 'text-align: center !important; width: 12%',
        align: 'center',
        sortable: false,
      },
      {
        name: 'status',
        field: 'status',
        required: true,
        label: i18n.global.t('listNews.titleColumnsTable.status'),
        headerStyle: 'text-align: center !important; width: 8%',
        align: 'center',
        sortable: false,
      },
      {
        name: 'action',
        field: 'action',
        required: true,
        label: i18n.global.t('listNews.titleColumnsTable.action'),
        headerStyle: 'text-align: center !important; width: 8%',
        align: 'center',
        sortable: false,
      },
    ];

    const listNews: Ref<unknown[]> = ref([]);

    const sreachTitle = ref('');
    const pageIndex = ref(1);
    const pageSize = ref(20);
    const totalPage = ref(1);
    const changePageSize = () => {
      pageIndex.value = 1;
      void getlistNews();
    };
    const showDialogAdd = ref(false);
    const showDialogUpdate = ref(false);
    const title: Ref<string | null> = ref(null);
    const location: Ref<string | null> = ref(null);
    const content: Ref<string | null> = ref(null);
    const urlTarget: Ref<string | null> = ref(null);
    const status: Ref<number> = ref(NewsStatus.active);
    const image: Ref<string | null> = ref(null);
    const avatarFile: Ref<File | null> = ref(null);
    const configImg = config;

    const getlistNews = async () => {
      //   try {
      //     const response = (await api({
      //       url: API_PATHS.getlistNews,
      //       method: 'GET',
      //       params: {
      //         pageIndex: pageIndex.value,
      //         pageSize: pageSize.value,
      //       },
      //     })) as AxiosResponse<BaseResponseBody<PaginationResponse<listNews>>>;
      //     if (response.data.error.code === config.API_RES_CODE.OK.code) {
      //       listNews.value = response.data.data.data;
      //     }
      //   } catch (error) {}
    };

    const openAddDialog = () => {
      title.value = null;
      urlTarget.value = null;
      location.value = null;
      content.value = null;
      image.value = null;
      status.value = NewsStatus.active;
      showDialogAdd.value = true;
    };

    const addNews = async () => {
      // avatarUploaded.value = await callApiUploadAvatar(
      //   avatarFile.value as File
      // );
      // const data = {
      //   image: avatarUploaded.value,
      //   status: status.value,
      //   category: { id: category.value?.id },
      //   langs: languageOptions.value,
      // };
      // const response = (await api({
      //   url: API_PATHS.addPost,
      //   method: 'POST',
      //   data,
      // })) as AxiosResponse<BaseResponseBody<PostAddType[]>>;
      // if (response.data.error.code === config.API_RES_CODE.OK.code) {
      //   addPostDialogIsOpened.value = false;
      //   Notify.create({
      //     type: 'positive',
      //     message: i18n.global.t('post.actionMessages.addNewPostAccess'),
      //     actions: [{ icon: 'close', color: 'white' }],
      //   });
      //   void getlistNews();
      // }
    };

    const openUpdateDialog = (id: number) => {
      void getDetailPolicy(id);
    };

    // eslint-disable-next-line @typescript-eslint/require-await
    const getDetailPolicy = async (id: number) => {
      try {
        console.log(id);
        showDialogUpdate.value = true;
      } catch (error) {}
    };

    // const getDetailContact = async (id: number) => {
    //   try {
    //     const response = (await api({
    //       url: API_PATHS.detailContact,
    //       method: 'GET',
    //       params: {
    //         id: id,
    //       },
    //     })) as AxiosResponse<BaseResponseBody<ContactType>>;
    //     if (response.data.error.code === config.API_RES_CODE.OK.code) {
    //       customerInfo.value = response.data.data;
    // showDialogUpdate.value = true;
    // }
    //   } catch (error) {}
    // };

    const updateNews = () => {
      showDialogUpdate.value = false;
    };

    // const updateContact = async (item: ContactType) => {
    //   try {
    //     const response = (await api({
    //       url: API_PATHS.updateContact,
    //       method: 'POST',
    //       data: {
    //         id: item.id,
    //         content: item.content,
    //         status: item.status,
    //       },
    //     })) as AxiosResponse<BaseResponseBody<unknown>>;
    //     if (response.data.error.code === config.API_RES_CODE.OK.code) {
    //       Notify.create({
    //         type: 'positive',
    //         message: i18n.global.t('listNews.actionMessages.updateAccess'),
    //       });
    //       void getlistNews();
    //       showDialogUpdate.value = false;
    //     }
    //   } catch (error) {}
    // };

    const setAvatar = (value: { file?: File; url?: string }) => {
      avatarFile.value = value.file as File;
      image.value = value.url as string;
    };

    const callApiUploadAvatar = async (file: File) => {
      try {
        const bodyFormData = new FormData();
        bodyFormData.append('file', file);
        const response = (await api({
          headers: { 'Content-Type': 'multipart/form-data' },
          url: 'https://cms.vab.xteldev.com/file/upload/', // test
          // url:'http://103.147.34.34:10700/api/upload/',  // pro
          method: 'POST',
          data: bodyFormData,
        })) as AxiosResponse<BaseResponseBody<FileUploadType>>;
        if (response.data.error.code === config.API_RES_CODE.OK.code) {
          return response.data.data.fileName;
        } else {
          return '';
        }
      } catch (error) {
        return '';
      }
    };

    onMounted(() => {
      void getlistNews();
    });
    return {
      image,
      setAvatar,
      callApiUploadAvatar,
      configImg,
      sreachTitle,
      listNews,
      tableColumnsNews,
      pageIndex,
      pageSize,
      totalPage,
      changePageSize,
      getDetailPolicy,
      NewsStatus,
      showDialogUpdate,
      showDialogAdd,
      title,
      content,
      location,
      urlTarget,
      status,
      openUpdateDialog,
      updateNews,
      openAddDialog,
      addNews,
    };
  },
});
</script>
