<template>
  <q-dialog
    persistent
    :model-value="isOpenListPost"
    @update:model-value="$emit('update:isOpenListPost', $event)"
  >
    <q-card class="full-width" style="max-width: 60rem" bordered>
      <q-form greedy @submit.prevent="$emit('submitData', selected)">
        <q-card-section class="q-pa-none">
          <q-item>
            <q-item-section>
              <q-item-label class="text-h6 text-weight-medium">
                {{ $t('postCategory.title.addPostDialog') }}
              </q-item-label>
            </q-item-section>
          </q-item>
        </q-card-section>
        <q-separator />
        <q-card-section>
          <div class="row q-col-gutter-sm flex-center q-mt-sm">
            <div
              class="
                col-auto
                text-body1 text-weight-regular
                flex flex-center
                q-mr-md
              "
            >
              {{ $t('postCategory.title.listPosts') }}
              <q-separator vertical spaced />
            </div>
            <q-space></q-space>
            <div class="col-2">
              <q-input
                v-model="keywordSearch"
                dense
                outlined
                :label="$t('postCategory.tableColumnsPost.name')"
                clearable
              ></q-input>
            </div>
            <div class="col-auto">
              <q-btn
                color="primary"
                no-caps
                :label="$t('crudActions.search')"
                style="width: 100px"
                @click="getListPosts"
              >
              </q-btn>
            </div>
            <div class="col-12 q-mt-sm">
              <q-table
                v-model:selected="selected"
                :rows="userTableRowsPost"
                :columns="userTableColumnsPost"
                :pagination="{ rowsPerPage: pageSize }"
                :selected-rows-label="getSelectedString"
                :no-data-label="$t('emptyData')"
                row-key="name"
                separator="cell"
                selection="multiple"
                hide-pagination
              >
                <template v-slot:body-cell-stt="item">
                  <q-td style="padding: 0; height: 100%">
                    <div align="center">
                      {{ item.rowIndex + 1 }}
                    </div>
                  </q-td>
                </template>
                <template v-slot:body-cell-image="image">
                  <q-td
                    style="padding: auto; height: 100%"
                    class="flex flex-center"
                  >
                    <q-img
                      style="width: 9rem"
                      fit="contain"
                      :ratio="16 / 9"
                      :src="configImg.API_IMAGE_ENDPOINT + image.row.image"
                    ></q-img>
                  </q-td>
                </template>
              </q-table>
            </div>
            <div class="col-12 q-mt-sm">
              <Pagination
                v-model:currentPage="pageIndex"
                v-model:pageSize="pageSize"
                :totalPage="totalPage"
                @update:pageSize="changePageSize"
                @update:currentPage="getListPosts"
              />
            </div>
          </div>
        </q-card-section>

        <q-card-actions align="right">
          <div>
            <q-btn
              color="grey"
              no-caps
              style="width: 90px"
              class="q-mr-sm"
              :label="$t('post.crudActions.cancel')"
              @click="$emit('click:closeBtnDialog')"
            />

            <q-btn
              type="submit"
              color="primary"
              no-caps
              style="width: 90px"
              :label="$t('post.crudActions.save')"
            />
          </div>
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
</template>

<script lang="ts" src="./ListPostDialog.ts"></script>
