<template>
  <div class="row q-col-gutter-sm flex-center q-mt-sm">
    <div class="col-auto text-h6 text-weight-regular flex flex-center q-mr-md">
      {{ $t('configPartner.title') }}
      <q-separator vertical spaced />
    </div>
    <q-space></q-space>
    <div class="col-2">
      <q-input
        v-model="nameConfigPartner"
        type="text"
        dense
        outlined
        label="Tên"
        clearable
      ></q-input>
    </div>
    <div class="col-auto">
      <q-btn
        color="primary"
        no-caps
        :label="$t('crudActions.search')"
        @click="getListConfigPartner"
        style="width: 7.14rem"
      ></q-btn>
    </div>
    <div class="col-auto">
      <q-btn
        color="primary"
        no-caps
        :label="$t('crudActions.add')"
        style="width: 7.14rem"
        @click="openAddConfigPartnerDialog"
      >
      </q-btn>
    </div>

    <div class="col-12 q-mt-sm">
      <q-table
        :rows="configPartnerTableRows"
        :columns="configPartnerTableColumns"
        row-key="bannerName"
        separator="cell"
        :no-data-label="$t('emptyData')"
        :rows-per-page-label="$t('recordPerPage')"
        :pagination="{
          rowsPerPage: 0,
        }"
        hide-pagination
        class="sticky-header-table"
      >
        <template v-slot:body-cell-action="item">
          <q-td style="padding: 0; text-align: center">
            <q-btn
              flat
              round
              color="primary"
              icon="mdi-account-edit-outline"
              @click="openUpdateConfigPartnerDialog(item.row.id)"
            >
              <q-tooltip :offset="[20, 10]">{{
                $t('configPartner.toolTipMessage.updateConfigPartner')
              }}</q-tooltip>
            </q-btn>
            <q-btn
              flat
              round
              color="primary"
              icon="mdi-delete-outline"
              @click="confirmDeleteConfigPartner(item.row.id)"
            >
              <q-tooltip :offset="[20, 10]">{{
                $t('configPartner.toolTipMessage.deleteConfigPartner')
              }}</q-tooltip>
            </q-btn>
          </q-td>
        </template>
        <template v-slot:body-cell-status="rowData">
          <q-td>
            <div align="center">
              <q-chip
                :color="
                  rowData.value === BannerStatus.active ? 'positive' : 'orange'
                "
                text-color="white"
                size="sm"
              >
                {{
                  rowData.value === BannerStatus.active
                    ? $t('configPartner.statusLabel.active')
                    : $t('configPartner.statusLabel.inactive')
                }}
              </q-chip>
            </div>
          </q-td>
        </template>
        <template v-slot:body-cell-image="image">
          <q-td style="padding: auto; height: 100%; text-align: center">
            <q-img
              style="width: 12rem; height: 8rem"
              :src="configImg.API_IMAGE_ENDPOINT + image.row.image"
            ></q-img>
          </q-td>
        </template>
      </q-table>
    </div>

    <div class="col-12 q-mt-sm">
      <Pagination
        v-model:currentPage="pageIndex"
        v-model:pageSize="pageSize"
        :totalPage="totalPage"
        @update:pageSize="changePageSize"
        @update:currentPage="getListConfigPartner"
      />
    </div>

    <AddUpdateConfigPartnerDialog
      v-model:isOpened="addConfigPartnerDialogIsOpened"
      v-model:name="name"
      v-model:image="image"
      v-model:numIndex="numIndex"
      v-model:status="status"
      @SetAvatar="setAvatar($event)"
      @deleteAvatar="deleteAvatar"
      isUpdate
      @saveConfigPartnerInfo="addConfigPartner"
    />

    <AddUpdateConfigPartnerDialog
      v-model:isOpened="updateConfigPartnerDialogIsOpened"
      v-model:name="name"
      v-model:image="image"
      v-model:numIndex="numIndex"
      v-model:status="status"
      @SetAvatar="setAvatar($event)"
      @deleteAvatar="deleteAvatar"
      @saveConfigPartnerInfo="updateConfigPartner"
    />
  </div>
</template>

<script lang="ts">
import { i18n } from 'src/boot/i18n';
import { defineComponent, onMounted, ref, Ref } from 'vue';
import { AxiosResponse } from 'axios';
import Pagination from 'components/pagination/index.vue';
import { api, BaseResponseBody } from 'src/boot/axios';
import {
  PaginationResponse,
  FileUploadType,
  ListConfigPartner,
  DetailConfigPartner,
  updateConfigPartnerConfig,
  addConfigPartnerConfig,
} from 'src/assets/type';
import { config, API_PATHS } from 'src/assets/configurations.example';
import { BannerStatus } from 'src/assets/enums';
import AddUpdateConfigPartnerDialog from 'components/add-update-cau-hinh-doi-tac-truyen-thong/index.vue';
import { Dialog, Notify } from 'quasar';

export type AvatarType = {
  file?: File;
  url?: string | null;
};

export default defineComponent({
  components: {
    Pagination,
    AddUpdateConfigPartnerDialog,
  },
  setup() {
    const configPartnerTableColumns = [
      {
        name: 'name',
        field: 'name',
        required: true,
        label: i18n.global.t('configPartner.tableColumnsConfigPartner.name'),
        headerStyle: 'text-align: center !important;',
        align: 'left',
        sortable: false,
      },
      {
        name: 'image',
        field: 'image',
        required: true,
        label: i18n.global.t('configPartner.tableColumnsConfigPartner.image'),
        headerStyle: 'text-align: center !important;',
        align: 'center',
        sortable: false,
      },
      {
        name: 'numIndex',
        field: 'numIndex',
        required: true,
        label: i18n.global.t(
          'configPartner.tableColumnsConfigPartner.numIndex'
        ),
        headerStyle: 'text-align: center !important;',
        align: 'center',
        sortable: false,
      },
      {
        name: 'status',
        field: 'status',
        required: true,
        label: i18n.global.t('configPartner.tableColumnsConfigPartner.status'),
        headerStyle: 'text-align: center !important;',
        align: 'center',
        sortable: false,
      },
      {
        name: 'action',
        field: 'action',
        required: true,
        label: i18n.global.t('configPartner.tableColumnsConfigPartner.action'),
        headerStyle: 'text-align: center !important;',
        align: 'center',
        sortable: false,
      },
    ];

    const pageIndex = ref(1);
    const pageSize = ref(20);
    const totalPage = ref(1);
    const changePageSize = () => {
      pageIndex.value = 1;
      void getListConfigPartner();
    };
    const configPartnerTableRows: Ref<unknown[]> = ref([]);
    const addConfigPartnerDialogIsOpened = ref(false);
    const updateConfigPartnerDialogIsOpened = ref(false);
    const name = ref('');
    const image: Ref<string | null> = ref(null);
    const numIndex: Ref<number | undefined> = ref(undefined);
    const status: Ref<number> = ref(BannerStatus.active);
    const configPartnerId: Ref<number | undefined> = ref(undefined);
    const nameConfigPartner = ref('');
    const avatarFile: Ref<File | null> = ref(null);
    const avatarUploaded: Ref<string> = ref('');
    const imageChange: Ref<string> = ref('');

    //gọi api ds
    const getListConfigPartner = async () => {
      const response = (await api({
        url: API_PATHS.getListConfigPartner,
        method: 'GET',
        params: {
          pageIndex: pageIndex.value,
          pageSize: pageSize.value,
          name: nameConfigPartner.value,
        },
      })) as AxiosResponse<
        BaseResponseBody<PaginationResponse<ListConfigPartner[]>>
      >;
      if (response.data.error.code === config.API_RES_CODE.OK.code) {
        configPartnerTableRows.value = response.data.data.data;
        totalPage.value = response.data.data.totalPages;
      }
    };

    const confirmDeleteConfigPartner = (id: number) => {
      Dialog.create({
        title: i18n.global.t(
          'configPartner.confirmActionsTitle.confirmDeleteConfigPartnerTitle'
        ),
        message: i18n.global.t(
          'configPartner.confirmActionsTitle.confirmDeleteConfigPartnerContent'
        ),
        cancel: i18n.global.t(
          'configPartner.confirmActionsTitle.confirmDeleteConfigPartnerCancelBtnLabel'
        ),
        color: 'negative',
      }).onOk(() => {
        void deleteConfigPartner(id);
      });
    };

    //gói api xóa
    const deleteConfigPartner = async (id: number) => {
      try {
        const deleteResult = (await api({
          url: API_PATHS.deleteConfigPartner,
          method: 'GET',
          params: {
            id: id,
          },
        })) as AxiosResponse<BaseResponseBody<unknown>>;
        if (deleteResult.data.error.code === config.API_RES_CODE.OK.code) {
          Notify.create({
            type: 'positive',
            message: i18n.global.t(
              'configPartner.actionMessages.deleteConfigPartnerAccess'
            ),
          });
          void getListConfigPartner();
        }
      } catch (error) {}
    };

    const openAddConfigPartnerDialog = () => {
      name.value = '';
      numIndex.value = undefined;
      image.value = null;
      status.value = BannerStatus.active;
      addConfigPartnerDialogIsOpened.value = true;
    };

    //gọi api add
    const addConfigPartner = async () => {
      avatarUploaded.value = await callApiUploadAvatar(
        avatarFile.value as File
      );
      const data = {
        name: name.value,
        image: avatarUploaded.value,
        numIndex: numIndex.value,
        status: status.value,
      };
      const response = (await api({
        url: API_PATHS.addConfigPartner,
        method: 'POST',
        data,
      })) as AxiosResponse<BaseResponseBody<addConfigPartnerConfig[]>>;
      if (response.data.error.code === config.API_RES_CODE.OK.code) {
        addConfigPartnerDialogIsOpened.value = false;
        Notify.create({
          type: 'positive',
          message: i18n.global.t(
            'configPartner.actionMessages.addNewBannerAccess'
          ),
          actions: [{ icon: 'close', color: 'white' }],
        });
        void getListConfigPartner();
      }
    };

    const openUpdateConfigPartnerDialog = (id: number) => {
      void getDetailConfigPartner(id);
      updateConfigPartnerDialogIsOpened.value = true;
    };

    //gọi api detail
    const getDetailConfigPartner = async (id: number) => {
      try {
        const response = (await api({
          url: API_PATHS.getDetailConfigPartner,
          method: 'GET',
          params: {
            id: id,
          },
        })) as AxiosResponse<BaseResponseBody<DetailConfigPartner>>;
        if (response.data.error.code === config.API_RES_CODE.OK.code) {
          configPartnerId.value = response.data.data.id;
          name.value = response.data.data.name;
          numIndex.value = response.data.data.numIndex;
          status.value = response.data.data.status;
          image.value = config.API_IMAGE_ENDPOINT + response.data.data.image;
          imageChange.value = response.data.data.image;
        }
      } catch (error) {}
    };

    //gọi api update
    const updateConfigPartner = async () => {
      if (avatarFile.value) {
        avatarUploaded.value = await callApiUploadAvatar(avatarFile.value);
        void confirmUpdate(avatarUploaded.value);
      } else {
        void confirmUpdate(imageChange.value);
      }
    };

    const confirmUpdate = async (image: string) => {
      const data = {
        id: configPartnerId.value,
        name: name.value,
        numIndex: numIndex.value,
        status: status.value,
        image,
      };
      const response = (await api({
        url: API_PATHS.updateConfigPartner,
        method: 'POST',
        data,
      })) as AxiosResponse<BaseResponseBody<updateConfigPartnerConfig[]>>;
      if (response.data.error.code === config.API_RES_CODE.OK.code) {
        updateConfigPartnerDialogIsOpened.value = false;
        Notify.create({
          type: 'positive',
          message: i18n.global.t(
            'configPartner.actionMessages.updateConfigPartnerAccess'
          ),
          actions: [{ icon: 'close', color: 'white' }],
        });
        void getListConfigPartner();
      }
    };

    const setAvatar = (value: { file?: File; url?: string }) => {
      avatarFile.value = value.file as File;
      image.value = value.url as string;
    };

    const callApiUploadAvatar = async (file: File) => {
      try {
        const bodyFormData = new FormData();
        bodyFormData.append('file', file);
        const response = (await api({
          headers: { 'Content-Type': 'multipart/form-data' },
          url: 'https://cms.vab.xteldev.com/file/upload/', // test
          // url:'http://103.147.34.34:10700/api/upload/',   // pro
          method: 'POST',
          data: bodyFormData,
        })) as AxiosResponse<BaseResponseBody<FileUploadType>>;
        if (response.data.error.code === config.API_RES_CODE.OK.code) {
          return response.data.data.fileName;
        } else {
          return '';
        }
      } catch (error) {
        return '';
      }
    };
    const deleteAvatar = () => {
      image.value = null;
    };

    const configImg = config;

    onMounted(() => {
      void getListConfigPartner();
    });
    return {
      addConfigPartnerDialogIsOpened,
      updateConfigPartnerDialogIsOpened,
      configPartnerTableColumns,
      configPartnerTableRows,
      getListConfigPartner,
      pageIndex,
      pageSize,
      totalPage,
      changePageSize,
      BannerStatus,
      openAddConfigPartnerDialog,
      name,
      status,
      addConfigPartner,
      confirmDeleteConfigPartner,
      deleteConfigPartner,
      openUpdateConfigPartnerDialog,
      getDetailConfigPartner,
      updateConfigPartner,
      nameConfigPartner,
      image,
      numIndex,
      setAvatar,
      callApiUploadAvatar,
      deleteAvatar,
      configImg,
      avatarUploaded,
      configPartnerId,
      confirmUpdate,
    };
  },
});
</script>
