<template>
  <q-dialog
    persistent
    :model-value="isOpened"
    @update:model-value="$emit('update:isOpened', $event)"
  >
    <q-card class="full-width" style="max-width: 80rem" bordered>
      <q-form
        greedy
        @submit.prevent="
          $emit('addUpdateConfigSystem', {});
          $emit('update:isOpened', false);
        "
      >
        <q-card-section>
          <q-item>
            <q-item-section>
              <q-item-label class="text-h6 text-weight-regular">{{
                isUpdate
                  ? $t('listConfigSystem.dialogLabel.titleAdd')
                  : $t('listConfigSystem.dialogLabel.titleUpdate')
              }}</q-item-label>
            </q-item-section>
          </q-item>
        </q-card-section>
        <q-separator />

        <q-card-section
          class="overflow-auto"
          style="max-height: calc(100vh - 15rem)"
        >
          <div class="row q-col-gutter-sm">
            <div class="col-6">
              <q-input
                :model-value="namePage"
                @update:model-value="$emit('update:namePage', $event)"
                :label="$t('listConfigSystem.dialogLabel.fieldLabels.namePage')"
                type="text"
                outlined
                lazy-rules
                :rules="namePageRules"
                clearable
              ></q-input>
              <!-- <q-tabs
                v-model="tabNamePage"
                dense
                align="left"
                active-color="primary"
                indicator-color="primary"
                narrow-indicator
                :breakpoint="0"
              >
                <q-tab
                  v-for="(info, index) in languageOptions"
                  :key="`${info.language.id}-${index}`"
                  :name="info.language.code"
                  :label="info.language.name"
                  no-caps
                />
              </q-tabs>
              <q-separator />
              <q-tab-panels v-model="tabNamePage" animated>
                <q-tab-panel
                  v-for="(info, index) in languageOptions"
                  :key="`${info.language.id}-${index}`"
                  :name="info.language.code"
                  class="q-pt-none; q-pa-none"
                >
                  <q-input
                    :model-value="info.namePage"
                    @update:model-value="$emit('update:namePage', $event)"
                    :label="
                      $t('listConfigSystem.dialogLabel.fieldLabels.namePage')
                    "
                    type="text"
                    outlined
                    lazy-rules
                    :rules="namePageRules"
                    clearable
                  ></q-input>
                </q-tab-panel>
              </q-tab-panels> -->
              <q-input
                :model-value="numIndex"
                @update:model-value="$emit('update:numIndex', $event)"
                :label="$t('listConfigSystem.dialogLabel.fieldLabels.numIndex')"
                class="q-my-sm"
                type="############"
                outlined
                clearable
              ></q-input>
            </div>
            <div class="col-6">
              <!--  q-pt-xl style="margin-top: -3px" -->
              <q-select
                :model-value="nameMenu"
                @update:model-value="$emit('update:nameMenu', $event)"
                :label="$t('listConfigSystem.dialogLabel.fieldLabels.nameMenu')"
                :options="nameMenuOptions"
                multiple
                map-options
                option-value="id"
                option-label="name"
                type="text"
                lazy-rules
                outlined
                use-chips
                clearable
              ></q-select>
              <!-- :rules="nameMenuRules" -->
              <q-input
                :model-value="url"
                @update:model-value="$emit('update:url', $event)"
                :label="$t('listConfigSystem.dialogLabel.fieldLabels.url')"
                class="q-my-sm"
                type="text"
                style="margin-top: 28px"
                outlined
                :rules="urlRules"
                clearable
              ></q-input>
            </div>
            <div class="col-12 q-pb-md">
              <q-editor
                :model-value="content"
                @update:model-value="$emit('update:content', $event)"
                ref="editorRef"
                placeholder="Nội dung *"
                style="min-height: 25rem"
                toolbar-text-color="white"
                toolbar-toggle-color="yellow-8"
                toolbar-bg="primary"
                :spellcheck="false"
                :toolbar="[
                  [
                    {
                      label: $q.lang.editor.align,
                      icon: $q.iconSet.editor.align,
                      fixedLabel: true,
                      list: 'only-icons',
                      options: ['left', 'center', 'right', 'justify'],
                    },
                  ],
                  [
                    'bold',
                    'italic',
                    'strike',
                    'underline',
                    'subscript',
                    'superscript',
                  ],
                  ['token', 'hr', 'link', 'custom_btn'],
                  ['print', 'fullscreen'],
                  [
                    {
                      label: $q.lang.editor.formatting,
                      icon: $q.iconSet.editor.formatting,
                      list: 'no-icons',
                      options: [
                        'p',
                        'h1',
                        'h2',
                        'h3',
                        'h4',
                        'h5',
                        'h6',
                        'code',
                      ],
                    },
                    {
                      label: $q.lang.editor.fontSize,
                      icon: $q.iconSet.editor.fontSize,
                      fixedLabel: true,
                      fixedIcon: true,
                      list: 'no-icons',
                      options: [
                        'size-1',
                        'size-2',
                        'size-3',
                        'size-4',
                        'size-5',
                        'size-6',
                        'size-7',
                      ],
                    },
                    {
                      label: $q.lang.editor.defaultFont,
                      icon: $q.iconSet.editor.font,
                      fixedIcon: true,
                      list: 'no-icons',
                      options: [
                        'default_font',
                        'arial',
                        'arial_black',
                        'comic_sans',
                        'courier_new',
                        'impact',
                        'lucida_grande',
                        'times_new_roman',
                        'verdana',
                      ],
                    },
                    'removeFormat',
                  ],
                  ['quote', 'unordered', 'ordered', 'outdent', 'indent'],

                  ['undo', 'redo'],
                  ['viewsource'],
                ]"
                :fonts="{
                  arial: 'Arial',
                  arial_black: 'Arial Black',
                  comic_sans: 'Comic Sans MS',
                  courier_new: 'Courier New',
                  impact: 'Impact',
                  lucida_grande: 'Lucida Grande',
                  times_new_roman: 'Times New Roman',
                  verdana: 'Verdana',
                }"
              />
              <!-- <q-tabs
                v-model="tabContent"
                dense
                active-color="primary"
                indicator-color="primary"
                align="left"
                narrow-indicator
              >
                <q-tab
                  v-for="(info, index) in languageOptions"
                  :key="`${info.language.id}-${index}`"
                  :name="info.language.code"
                  :label="info.language.name"
                  no-caps
                />
              </q-tabs>

              <q-separator />
              <q-tab-panels v-model="tabContent" animated>
                <q-tab-panel
                  v-for="(info, index) in languageOptions"
                  :key="`${info.language.id}-${index}`"
                  :name="info.language.code"
                  class="q-pt-none; q-pa-none"
                >
                  <q-editor
                    :model-value="info.content"
                    @update:model-value="$emit('update:content', $event)"
                    ref="editorRef"
                    placeholder="Nội dung *"
                    style="min-height: 25rem"
                    toolbar-text-color="white"
                    toolbar-toggle-color="yellow-8"
                    toolbar-bg="primary"
                    :spellcheck="false"
                    :toolbar="[
                      [
                        {
                          label: $q.lang.editor.align,
                          icon: $q.iconSet.editor.align,
                          fixedLabel: true,
                          list: 'only-icons',
                          options: ['left', 'center', 'right', 'justify'],
                        },
                      ],
                      [
                        'bold',
                        'italic',
                        'strike',
                        'underline',
                        'subscript',
                        'superscript',
                      ],
                      ['token', 'hr', 'link', 'custom_btn'],
                      ['print', 'fullscreen'],
                      [
                        {
                          label: $q.lang.editor.formatting,
                          icon: $q.iconSet.editor.formatting,
                          list: 'no-icons',
                          options: [
                            'p',
                            'h1',
                            'h2',
                            'h3',
                            'h4',
                            'h5',
                            'h6',
                            'code',
                          ],
                        },
                        {
                          label: $q.lang.editor.fontSize,
                          icon: $q.iconSet.editor.fontSize,
                          fixedLabel: true,
                          fixedIcon: true,
                          list: 'no-icons',
                          options: [
                            'size-1',
                            'size-2',
                            'size-3',
                            'size-4',
                            'size-5',
                            'size-6',
                            'size-7',
                          ],
                        },
                        {
                          label: $q.lang.editor.defaultFont,
                          icon: $q.iconSet.editor.font,
                          fixedIcon: true,
                          list: 'no-icons',
                          options: [
                            'default_font',
                            'arial',
                            'arial_black',
                            'comic_sans',
                            'courier_new',
                            'impact',
                            'lucida_grande',
                            'times_new_roman',
                            'verdana',
                          ],
                        },
                        'removeFormat',
                      ],
                      ['quote', 'unordered', 'ordered', 'outdent', 'indent'],

                      ['undo', 'redo'],
                      ['viewsource'],
                    ]"
                    :fonts="{
                      arial: 'Arial',
                      arial_black: 'Arial Black',
                      comic_sans: 'Comic Sans MS',
                      courier_new: 'Courier New',
                      impact: 'Impact',
                      lucida_grande: 'Lucida Grande',
                      times_new_roman: 'Times New Roman',
                      verdana: 'Verdana',
                    }"
                  />
                </q-tab-panel>
              </q-tab-panels> -->
            </div>
          </div>
        </q-card-section>
        <q-separator />
        <q-card-actions align="right">
          <div>
            <q-btn
              color="grey"
              no-caps
              class="q-mr-sm"
              style="width: 90px"
              :label="$t('listConfigSystem.crudActions.cancel')"
              @click="$emit('update:isOpened', false)"
            />
            <q-btn
              type="submit"
              color="primary"
              no-caps
              style="width: 90px"
              :label="$t('listConfigSystem.crudActions.save')"
            />
          </div>
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import { i18n } from 'src/boot/i18n';

export default defineComponent({
  props: {
    isOpened: {
      type: Boolean,
      required: true,
    },
    isUpdate: { type: Boolean, default: false },
    namePage: { type: String, required: true },
    url: { type: String, required: true },
    numIndex: { type: String, required: true },
    content: { type: String, required: true },
    nameMenu: { type: Array, required: true },
    nameMenuOptions: { type: Array, required: true },
      languageOptions: {
        type: Array as PropType<
          {
            namePage: string;
            url: string;
            content: string;
            numIndex: number;
            nameMenu: [];
            language: {
              id: number;
              code: string;
              name: string;
            };
          }[]
        >,
        required: true,
      },
  },
  setup() {
    const namePageRules = [
      (val?: string) =>
        (val && val.trim().length) ||
        i18n.global.t('listConfigSystem.validateMessages.requireNamePage'),
    ];
    const urlRules = [
      (val?: string) =>
        (val && val.trim().length) ||
        i18n.global.t('listConfigSystem.validateMessages.requireUrl'),
    ];
    // const nameMenuRules = [
    //   (val?: Array<unknown>) =>
    //     val?.length ||
    //     i18n.global.t('listConfigSystem.validateMessages.requireNameMenu'),
    // ];
    // const tabNamePage = ref('vi');
    // const tabContent = ref('vi');
    return {
      namePageRules,
      urlRules,
      // nameMenuRules,
      // tabNamePage,
      // tabContent,
    };
  },
  emits: [
    'update:isOpened',
    'update:namePage',
    'update:content',
    'update:numIndex',
    'update:nameMenu',
    'update:url',
    'click:CloseBtn',
    'addUpdateConfigSystem',
  ],
});
</script>
