<template>
  <div class="row q-col-gutter-sm flex-center q-mt-sm">
    <div class="col-auto text-h6 text-weight-regular flex flex-center q-mr-md">
      {{ $t('listConfigSystem.title') }}
      <q-separator vertical spaced />
    </div>
    <q-space></q-space>
    <div class="col-2 sreach">
      <q-input
        v-model="sreachNamePage"
        dense
        outlined
        :label="$t('listConfigSystem.titleColumnsTable.namePage')"
        clearable
      ></q-input>
    </div>
    <div class="col-2 sreach">
      <q-select
        v-model="nameMenuSreach"
        :options="nameMenuOptions"
        option-label="name"
        option-value="id"
        multiple
        dense
        outlined
        label="Tên menu"
        clearable
      ></q-select>
    </div>

    <div class="col-auto">
      <q-btn
        class="q-mr-sm"
        color="primary"
        no-caps
        :label="$t('crudActions.search')"
        @click="getConfigSystem"
        style="width: 7.14rem"
      >
      </q-btn>
      <q-btn
        class="q-mr-sm"
        color="primary"
        no-caps
        :label="$t('crudActions.add')"
        @click="openAddDialog"
        style="width: 7.14rem"
      >
      </q-btn>
    </div>

    <div class="col-12 q-mt-sm">
      <q-table
        :rows="listConfigSystem"
        :columns="tableColumnsConfigSystem"
        :no-data-label="$t('emptyData')"
        row-key="name"
        separator="cell"
        :rows-per-page-label="$t('recordPerPage')"
        :pagination="{
          rowsPerPage: 0,
        }"
        wrap-cells
        hide-pagination
        class="sticky-header-table"
      >
        <template v-slot:body-cell-action="rowData">
          <q-td style="padding: 0; text-align: center">
            <q-btn
              flat
              round
              color="primary"
              icon="mdi-account-edit-outline"
              @click="openUpdateDialog(rowData.row.id)"
            >
              <q-tooltip :offset="[10, 10]">{{
                $t('listConfigSystem.toolTipMessageUpdate')
              }}</q-tooltip>
            </q-btn>
            <q-btn
              flat
              round
              color="primary"
              icon="mdi-delete-outline"
              @click="confirmDelete(rowData.row.id)"
            >
              <q-tooltip :offset="[10, 10]">{{
                $t('listConfigSystem.toolTipMessageDelete')
              }}</q-tooltip>
            </q-btn>
          </q-td>
        </template>
        <template v-slot:body-cell-stt="item">
          <q-td :item="item" style="text-align: center">
            {{ 1 + item.rowIndex + pageSize * (pageIndex - 1) }}
          </q-td>
        </template>

        <template v-slot:body-cell-content="item">
          <td>
            <div class="ellipsis-3-lines">
              <div v-html="!item.row.content ? '' : item.row.content"></div>
              <q-tooltip :offset="[10, 10]" max-width="26%"
                ><div v-html="!item.row.content ? '' : item.row.content"></div
              ></q-tooltip>
            </div>
          </td>
        </template>
      </q-table>
    </div>
    <div class="col-12 q-mt-sm">
      <Pagination
        v-model:currentPage="pageIndex"
        v-model:pageSize="pageSize"
        :totalPage="totalPage"
        @update:pageSize="changePageSize"
        @update:currentPage="getConfigSystem"
      />
    </div>

    <AddUpdatePolicyDialog
      isUpdate
      v-model:isOpened="showDialogAdd"
      v-model:namePage="namePage"
      v-model:content="content"
      v-model:numIndex="numIndex"
      v-model:url="url"
      v-model:name-menu="nameMenu"
      :nameMenuOptions="nameMenuOptions"
      @addUpdateConfigSystem="addConfigSystem"
    />
    <!-- :languageOptions="languageOptions" -->

    <AddUpdatePolicyDialog
      v-model:isOpened="showDialogUpdate"
      v-model:namePage="namePage"
      v-model:content="content"
      v-model:numIndex="numIndex"
      v-model:url="url"
      v-model:name-menu="nameMenu"
      :nameMenuOptions="nameMenuOptions"
      @addUpdateConfigSystem="updateConfigSystem"
    />
    <!-- :languageOptions="languageOptions" -->
  </div>
</template>

<script lang="ts">
import AddUpdatePolicyDialog from 'components/configSystem/index.vue';
import { i18n } from 'src/boot/i18n';
import { defineComponent, onMounted, Ref, ref } from 'vue';
import Pagination from 'components/pagination/index.vue';
import { Dialog, Notify } from 'quasar';
import { AxiosResponse } from 'axios';
import { api, BaseResponseBody } from 'src/boot/axios';
import {
  PaginationResponse,
  ListConfigSystem,
  AddConfigSystem,
  UpdateConfigSystem,
  DetailConfigSystem,
  // LanguageType,
} from 'src/assets/type';
import { config, API_PATHS } from 'src/assets/configurations.example';

export default defineComponent({
  components: {
    Pagination,
    AddUpdatePolicyDialog,
  },
  setup() {
    const tableColumnsConfigSystem = [
      {
        name: 'stt',
        field: 'stt',
        required: true,
        label: i18n.global.t('listConfigSystem.titleColumnsTable.stt'),
        headerStyle: 'text-align: center !important; width: 7%',
        align: 'center',
        sortable: false,
      },
      {
        name: 'namePage',
        field: 'namePage',
        required: true,
        label: i18n.global.t('listConfigSystem.titleColumnsTable.namePage'),
        align: 'left',
        headerStyle: 'text-align: center !important; width: 12%',
        sortable: false,
      },
      {
        name: 'nameMenu',
        field: 'nameMenu',
        required: true,
        label: i18n.global.t('listConfigSystem.titleColumnsTable.nameMenu'),
        align: 'left',
        headerStyle: 'text-align: center !important; width: 12%',
        sortable: false,
      },
      {
        name: 'url',
        field: 'url',
        required: true,
        label: i18n.global.t('listConfigSystem.titleColumnsTable.url'),
        align: 'left',
        headerStyle: 'text-align: center !important; width: 19%',
        sortable: false,
      },
      {
        name: 'numIndex',
        field: 'numIndex',
        required: true,
        label: i18n.global.t('listConfigSystem.titleColumnsTable.numIndex'),
        align: 'left',
        headerStyle: 'text-align: center !important; width: 10%',
        sortable: false,
      },
      {
        name: 'content',
        field: 'content',
        required: true,
        label: i18n.global.t('listConfigSystem.titleColumnsTable.content'),
        headerStyle: 'text-align: center !important; width: 32%',
        align: 'left',
        sortable: false,
      },
      {
        name: 'action',
        field: 'action',
        required: true,
        label: i18n.global.t('listConfigSystem.titleColumnsTable.action'),
        headerStyle: 'text-align: center !important; width: 15%',
        align: 'center',
        sortable: false,
      },
    ];

    const listConfigSystem: Ref<unknown[]> = ref([]);
    const sreachNamePage: Ref<string> = ref('');
    const pageIndex = ref(1);
    const pageSize = ref(20);
    const totalPage = ref(1);
    const changePageSize = () => {
      pageIndex.value = 1;
      void getConfigSystem();
    };
    const showDialogAdd = ref(false);
    const showDialogUpdate = ref(false);
    const namePage: Ref<string> = ref('');
    const nameMenuOptions = ref([
      { id: 1, name: 'Menu Trên' },
      { id: 2, name: 'Menu Chính sách' },
      { id: 3, name: 'Menu Liên hệ' },
    ]);
    const nameMenuSreach: Ref<{ id: number; name: string } | undefined> =
      ref(undefined);
    const nameMenu: Ref<unknown | undefined> = ref();
    const url: Ref<string> = ref('');
    const content: Ref<string> = ref('');
    const numIndex: Ref<number | undefined> = ref(undefined);
    const ConfigSystemId: Ref<number | undefined> = ref(undefined);
    // const languageOptions: Ref<FromType> = ref([]);

    const getConfigSystem = async () => {
      try {
        const response = (await api({
          url: API_PATHS.getConfigSystem,
          method: 'GET',
          params: {
            pageIndex: pageIndex.value,
            pageSize: pageSize.value,
            namePage: sreachNamePage.value,
            nameMenu: nameMenuSreach.value?.id,
          },
        })) as AxiosResponse<
          BaseResponseBody<PaginationResponse<ListConfigSystem>>
        >;
        if (response.data.error.code === config.API_RES_CODE.OK.code) {
          listConfigSystem.value = response.data.data.data;
          totalPage.value = response.data.data.totalPages;
        }
      } catch (error) {}
    };

    const openAddDialog = () => {
      // void getLanguage();
      namePage.value = '';
      content.value = '';
      url.value = '';
      numIndex.value = undefined;
      nameMenu.value = undefined;
      showDialogAdd.value = true;
    };

    const addConfigSystem = async () => {
      const data = {
        namePage: namePage.value,
        url: url.value,
        numIndex: numIndex.value,
        content: content.value,
        // nameMenu: { id: nameMenu.value?.id },
        // langs: languageOptions.value,
      };
      const response = (await api({
        url: API_PATHS.addConfigSystem,
        method: 'POST',
        data,
      })) as AxiosResponse<BaseResponseBody<AddConfigSystem>>;
      if (response.data.error.code === config.API_RES_CODE.OK.code) {
        showDialogAdd.value = false;
        Notify.create({
          type: 'positive',
          message: i18n.global.t('listConfigSystem.actionMessages.addSuccess'),
          actions: [{ icon: 'close', color: 'white' }],
        });
        void getConfigSystem();
      }
    };

    const openUpdateDialog = (id: number) => {
      showDialogUpdate.value = true;
      void getDetailConfigSystem(id);
    };

    const getDetailConfigSystem = async (id: number) => {
      try {
        const response = (await api({
          url: API_PATHS.getDetailConfigSystem,
          method: 'GET',
          params: {
            id: id,
          },
        })) as AxiosResponse<BaseResponseBody<DetailConfigSystem>>;
        if (response.data.error.code === config.API_RES_CODE.OK.code) {
          ConfigSystemId.value = response.data.data.id;
          namePage.value = response.data.data.namePage;
          url.value = response.data.data.url;
          numIndex.value = response.data.data.numIndex;
          // nameMenu.value = response.data.data.nameMenu;
          // languageOptions.value = response.data.data.langs;
          content.value = response.data.data.content;
        }
      } catch (error) {}
    };

    const updateConfigSystem = async () => {
      try {
        const response = (await api({
          url: API_PATHS.updateConfigSystem,
          method: 'POST',
          data: {
            id: ConfigSystemId.value,
            namePage: namePage.value,
            url: url.value,
            numIndex: numIndex.value,
            content: content.value,
            // nameMenu: { id: nameMenu.value?.id },
            // langs: languageOptions.value,
          },
        })) as AxiosResponse<BaseResponseBody<UpdateConfigSystem>>;
        if (response.data.error.code === config.API_RES_CODE.OK.code) {
          Notify.create({
            type: 'positive',
            message: i18n.global.t(
              'listConfigSystem.actionMessages.updateSuccess'
            ),
            actions: [{ icon: 'close', color: 'white' }],
          });
          void getConfigSystem();
          showDialogUpdate.value = false;
        }
      } catch (error) {}
    };

    const confirmDelete = (id: number) => {
      Dialog.create({
        title: i18n.global.t(
          'listConfigSystem.confirmActionsTitle.confirmDelete'
        ),
        message: i18n.global.t(
          'listConfigSystem.confirmActionsTitle.confirmDeleteContent'
        ),
        cancel: i18n.global.t(
          'listConfigSystem.confirmActionsTitle.confirmDeleteCancelBtnLabel'
        ),
        color: 'negative',
      }).onOk(() => {
        void deleteConfigSystem(id);
      });
    };

    const deleteConfigSystem = async (id: number) => {
      try {
        const deleteResult = (await api({
          url: API_PATHS.deleteConfigSystem,
          method: 'GET',
          params: {
            id: id,
          },
        })) as AxiosResponse<BaseResponseBody<unknown>>;

        if (deleteResult.data.error.code === config.API_RES_CODE.OK.code) {
          Notify.create({
            type: 'positive',
            message: i18n.global.t(
              'listConfigSystem.actionMessages.deleteSuccess'
            ),
            actions: [{ icon: 'close', color: 'white' }],
          });
          void getConfigSystem();
        }
      } catch (error) {}
    };

    // type FromType = {
    //   namePage: string;
    //   url: string;
    //   content: string;
    //   numIndex: number;
    //   nameMenu: [];
    //   language: {
    //     id: number;
    //     code: string;
    //     name: string;
    //   };
    // }[];

    // const getLanguage = async () => {
    //   const response = (await api({
    //     url: API_PATHS.getLanguage,
    //     method: 'GET',
    //     params: {},
    //   })) as AxiosResponse<BaseResponseBody<LanguageType[]>>;
    //   if (response.data.error.code === config.API_RES_CODE.OK.code) {
    //     languageOptions.value = response.data.data.reduce(
    //       (acc: FromType, info) => {
    //         acc.push({
    //           namePage: '',
    //           url: '',
    //           content: '',
    //           nameMenu: [],
    //           numIndex: 0,
    //           language: {
    //             id: info.id,
    //             code: info.code,
    //             name: info.name,
    //           },
    //         });
    //         return acc;
    //       },
    //       []
    //     );
    //   }
    // };

    onMounted(() => {
      void getConfigSystem();
    });
    return {
      getConfigSystem,
      sreachNamePage,
      listConfigSystem,
      tableColumnsConfigSystem,
      pageIndex,
      pageSize,
      totalPage,
      changePageSize,
      showDialogUpdate,
      namePage,
      content,
      url,
      numIndex,
      nameMenu,
      nameMenuOptions,
      ConfigSystemId,
      showDialogAdd,
      openAddDialog,
      addConfigSystem,
      openUpdateDialog,
      getDetailConfigSystem,
      updateConfigSystem,
      confirmDelete,
      deleteConfigSystem,
      nameMenuSreach,
      // languageOptions,
      // getLanguage,
    };
  },
});
</script>
