<template>
  <div
    class="row q-col-gutter-sm q-mt-md"
    style="max-height: calc(100vh - 15rem)"
  >
    <div class="col-5 q-ml-xl">
      <div class="row q-mt-sm flex-center">
        <div class="col-3 text-weight-medium"></div>
        <div class="col-8 flex flex-center">
          <div>
            <q-card class="q-mb-sm" v-if="avatar !== null">
              <q-img
                @click="uploadBanner"
                :src="avatar"
                style="height: 263px; width: 195px; cursor: pointer"
              ></q-img>
              <q-icon
                name="mdi-close-circle"
                color="red"
                style="
                  position: absolute;
                  right: 0;
                  font-size: 18px;
                  cursor: pointer;
                "
                @click="deleteAvatar"
              ></q-icon>
            </q-card>
            <div
              @click="uploadBanner"
              v-else
              class="q-mb-sm"
              style="
                height: 263px;
                width: 195px;
                border: 2px dashed #5d319e;
                border-radius: 4px;
                cursor: pointer;
              "
            >
              <div
                style="
                  height: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  flex-direction: column;
                "
              >
                <q-icon
                  style="color: #5d319e"
                  name="mdi-cloud-upload"
                  size="xl"
                ></q-icon>
                Tải ảnh lên
              </div>
            </div>
            <div>
              <input
                ref="upload"
                hidden
                type="file"
                accept="image/png, image/jpeg"
                @change="selectedFile($event.target.files)"
              />
            </div>
            <!-- <div v-if="hidden_img" style="color: #c10015; font-size: 12px">
              Vui lòng chọn ảnh
            </div> -->
          </div>
        </div>
      </div>
    <div class="row flex-center">
     <div class="col-3 text-weight-medium" >
      <div>Tên đăng nhập <span style="color: red">*</span></div>
    </div>
  <div class="col-8">
      <q-input
      v-if="id"
        :model-value="account"
        @update:model-value="$emit('update:account', $event)"
        readonly
         class="q-my-sm"
        dense
        hide-bottom-space
       outlined
      ></q-input>
      <q-input
      v-else
        :model-value="account"
        @update:model-value="$emit('update:account', $event)"
         :error="accountRules"
        :error-message="errorMessAccount"
         class="q-my-sm"
        dense
        hide-bottom-space
       outlined
      ></q-input>
  </div>

    </div>
    <!-- <div class="col-auto" style="margin-top: 2px">
      <q-btn color="primary" no-caps label="Reset Pass"></q-btn>
    </div> -->

      <div class="row flex-center">
        <div class="col-3 text-weight-medium">
          {{ $t('artist.artistInformation.titleDataField.artistCode') }}
          <span style="color: red">*</span>
        </div>

        <div class="col-8">
          
          <q-input
            :model-value="artistCode"
            @update:model-value="$emit('update:artistCode', $event)"
            :error="artistCodeRules"
            :error-message="errorMessArtistCode"
            class="q-my-sm"
            outlined
            dense
            hide-bottom-space
          ></q-input>
        </div>
      </div>
      <div class="row flex-center">
        <div class="col-3 text-weight-medium">
          {{ $t('artist.artistInformation.titleDataField.fullName') }}
          <span style="color: red">*</span>
        </div>
        <div class="col-8">
          <q-input
            :model-value="fullName"
            @update:model-value="$emit('update:fullName', $event)"
            :error="fullNameRules"
            :error-message="errorMessFullName"
            class="q-my-sm"
            outlined
            dense
            hide-bottom-space
          ></q-input>
        </div>
      </div>
      <div class="row flex-center">
        <div class="col-3 text-weight-medium">
          {{ $t('artist.artistInformation.titleDataField.artistName') }}
          <!-- <span style="color: red">*</span> -->
        </div>
        <div class="col-8">
            <!-- :error-message="errorMessArtistName" -->
             <!-- :error="artistNameRules" -->
          <q-input
            :model-value="artistName"
            @update:model-value="$emit('update:artistName', $event)"
           
          
            class="q-my-sm"
            outlined
            dense
            hide-bottom-space
          ></q-input>
        </div>
      </div>
      <div class="row flex-center">
        <div class="col-3 text-weight-medium">
          {{ $t('artist.artistInformation.titleDataField.birthday') }}
          <!-- <span style="color: red">*</span> -->
        </div>
        <div class="col-8">
          <!-- :error="birthdayRules" -->
            <!-- :error-message="errorMessBirthday" -->
          <q-input
            :model-value="birthday"
            @update:model-value="$emit('update:birthday', $event)"
            
            class="q-my-sm"
            outlined
            @click="openDialog = true"
            dense
            hide-bottom-space
          >
            <template v-slot:default>
              <q-dialog ref="dialogRef" v-model="openDialog">
                <q-card class="q-dialog-plugin">
                  <q-date
                    style="width: 100%"
                    v-model="BirthdayDatePicker"
                    first-day-of-week="1"
                  ></q-date>

                  <q-card-actions align="right">
                    <q-btn
                      color="primary"
                      label="Cancel"
                      @click="onCancelClick"
                    />
                    <q-btn color="primary" label="OK" @click="onOKClick" />
                  </q-card-actions>
                </q-card>
              </q-dialog>
            </template>
          </q-input>
        </div>
      </div>
      <div class="row flex-center">
        <div class="col-3 text-weight-medium">
          {{ $t('artist.artistInformation.titleDataField.sex') }}
          <!-- <span style="color: red">*</span> -->
        </div>
        <div class="col-8">
           <!-- :error="sexRules"
            :error-message="errorMessSex" -->
          <q-select
            :model-value="sex"
            @update:model-value="$emit('update:sex', $event)"
            :options="sexOptions"
           
            emit-value
            map-options
            option-value="id"
            option-label="name"
            type="text"
            class="q-my-sm"
            outlined
            hide-bottom-space
            clearable
            dense
          ></q-select>
        </div>
      </div>
      <div class="row flex-center">
        <div class="col-3 text-weight-medium">
          {{ $t('artist.artistInformation.titleDataField.nationality') }}
          <!-- <span style="color: red">*</span> -->
        </div>
        <div class="col-8">
          <!-- :error="nationalityRules"
            :error-message="errorMessNationality" -->
          
          <q-select
            :model-value="nationality"
            @update:model-value="$emit('update:nationality', $event)"
            :options="nationalityOptions"
            
            map-options
            option-value="id"
            option-label="name"
            type="text"
            class="q-my-sm"
            outlined
            hide-bottom-space
            dense
          ></q-select>
        </div>
      </div>
      
      <div class="row flex-center">
        <div class="col-3 text-weight-medium">
          {{ $t('artist.artistInformation.titleDataField.address') }}
          <!-- <span style="color: red">*</span> -->
        </div>

        <div class="col-8">
          <!-- {{address}} -->
           <!-- :error="addressRules"
            :error-message="errorMessAddress" -->
          <q-select
            :model-value="address"
            @update:model-value="$emit('update:address', $event)"
            
            :options="provinceOptions1"
            option-value="fullName"
            option-label="fullName"
            type="text"
            class="q-my-sm"
            outlined
            hide-bottom-space
            clearable
            dense
            use-input
            input-debounce="0"
            map-options
            @filter="filterFn"
          >
          <template v-slot:no-option>
          <q-item>
            <q-item-section class="text-grey">
              Không có dữ liệu
            </q-item-section>
          </q-item>
          </template>
          </q-select>
  

        </div>
      </div>
      
      <div class="row flex-center">
        <div class="col-3 text-weight-medium">
          {{ $t('artist.artistInformation.titleDataField.field') }}
          <!-- <span style="color: red">*</span> -->
        </div>
        
        <div class="col-8">
           <!-- :error="fieldRules"
            :error-message="errorMessFields" -->
          <q-select
            :model-value="fields"
            @update:model-value="$emit('update:fields', $event)"
           
            :options="fieldOptions"
            multiple
            map-options
            option-value="id"
            option-label="name"
            type="text"
            class="q-my-sm"
            outlined
            hide-bottom-space
            clearable
            dense
            use-input
            use-chips
          ></q-select>
        </div>
      </div>
 <!-- thể loại -->
       <div class="row flex-center">
        <div class="col-3 text-weight-medium">
          {{ $t('artist.artistInformation.titleDataField.type') }}
          <!-- <span style="color: red">*</span> -->
        </div>
          
            <!-- :error="musicsRules"
            :error-message="errorMessTypes" -->
          
            
        <div class="col-8">
          <q-select
           :model-value="musics"
            @update:model-value="$emit('update:musics', $event)"
            :options="musicOptions"
            multiple
            map-options
            option-value="id"
            option-label="name"
            type="text"
            class="q-my-sm"
            outlined
            hide-bottom-space
            clearable
            dense
            use-input
            use-chips
          ></q-select>
        </div>
      </div>
       
      <div class="row flex-center">
        <div class="col-3 text-weight-medium">
          {{ $t('artist.artistInformation.titleDataField.work') }}
          <!-- <span style="color: red">*</span> -->
        </div>
        <div class="col-8">
          <q-select
            :model-value="works"
            @update:model-value="$emit('update:works', $event)"
        
            :options="workOptions"
            map-options
            option-value="id"
            option-label="name"
            type="text"
            class="q-my-sm"
            outlined
            hide-bottom-space
            clearable
            dense
            multiple
            use-input
            use-chips
          ></q-select>
        </div>
      </div>
      
      <div class="row flex-center">
        <div class="col-3 text-weight-medium">
          {{ $t('artist.artistInformation.titleDataField.qualification') }}
          <!-- <span style="color: red">*</span> -->
        </div>
        <div class="col-8">
            <!-- :error="qualificationRules"
            :error-message="errorMessQualification" -->
          <q-select
            :model-value="qualification"
            @update:model-value="$emit('update:qualification', $event)"
            :options="professionOptions"
          
            map-options
            option-value="id"
            option-label="name"
            type="text"
            class="q-my-sm"
            outlined
            hide-bottom-space
            clearable
            dense
          ></q-select>
        </div>
      </div>
      
      <div class="row flex-center">
        <div class="col-3 text-weight-medium">
          {{ $t('artist.artistInformation.titleDataField.favoriteScore') }}
        </div>
        <div class="col-8">
          <q-input
            :model-value="favoriteScore"
            @update:model-value="$emit('update:favoriteScore', $event)"
            mask="#############"
            class="q-my-sm"
            outlined
            dense
            hide-bottom-space
          ></q-input>
        </div>
      </div>
    </div>
    
    <div class="col-5 q-ml-xl">
      <!-- <div class="row flex-center">
        <div class="col-3 text-weight-medium">
          {{ $t('artist.artistInformation.titleDataField.artistLevel') }}
          <span style="color: red">*</span>
        </div>
        <div class="col-8">
          1
        <q-rating
         :model-value="artistLevel"
          @update:model-value="$emit('update:artistLevel', $event)"
          max="5"
          size="3em"
          color="orange"
          icon="star_border"
          icon-selected="star"
          icon-half="star_half"
          no-dimming
          />
    
        </div>
      </div> -->
      <div class="row flex-center">
        <div class="col-3 text-weight-medium">
          {{ $t('artist.artistInformation.titleDataField.phoneNumber') }}
          <!-- <span style="color: red">*</span> -->
        </div>
        <div class="col-8">
           <!-- :error="phoneNumberRules"
            :error-message="errorMessPhoneNumber" -->
          <q-input
            :model-value="phoneNumber"
            @update:model-value="$emit('update:phoneNumber', $event)"
          
            mask="##########"
            class="q-my-sm"
            outlined
            dense
            hide-bottom-space
          ></q-input>
        </div>
      </div>
      <div class="row flex-center">
        <div class="col-3 text-weight-medium">
          {{ $t('artist.artistInformation.titleDataField.email') }}
          <!-- <span style="color: red">*</span> -->
        </div>
        <div class="col-8">
            <!-- :error="emailRules"
            :error-message="errorMessEmail" -->
          <q-input
            :model-value="email"
            @update:model-value="$emit('update:email', $event)"
          
            outlined
            class="q-my-sm"
            dense
            hide-bottom-space
          ></q-input>
        </div>
      </div>

      <div class="row flex-center">
        <div class="col-3 text-weight-medium">
          {{ $t('artist.artistInformation.titleDataField.facebook') }}
        </div>
        <div class="col-8">
          <q-input
            :model-value="facebook"
            @update:model-value="$emit('update:facebook', $event)"
            outlined
            class="q-my-sm"
            dense
          ></q-input>
        </div>
      </div>
      <div class="row flex-center">
        <div class="col-3 text-weight-medium">
          {{ $t('artist.artistInformation.titleDataField.facebookMessage') }}
        </div>
        <div class="col-8">
          <q-input
            :model-value="facebookMessage"
            @update:model-value="$emit('update:facebookMessage', $event)"
            outlined
            class="q-my-sm"
            dense
          ></q-input>
        </div>
      </div>
      <div class="row flex-center">
        <div class="col-3 text-weight-medium">
          {{ $t('artist.artistInformation.titleDataField.instagram') }}
        </div>
        <div class="col-8">
          <q-input
            :model-value="instagram"
            @update:model-value="$emit('update:instagram', $event)"
            outlined
            class="q-my-sm"
            dense
          ></q-input>
        </div>
      </div>
      <div class="row flex-center">
        <div class="col-3 text-weight-medium">
          {{ $t('artist.artistInformation.titleDataField.whatsapp') }}
        </div>
        <div class="col-8">
          <q-input
            :model-value="whatsapp"
            @update:model-value="$emit('update:whatsapp', $event)"
            outlined
            class="q-my-sm"
            dense
          ></q-input>
        </div>
      </div>
      <div class="row flex-center">
        <div class="col-3 text-weight-medium">
          {{ $t('artist.artistInformation.titleDataField.userAdminister') }}
        </div>
        <div class="col-8">
          <q-input
            :model-value="mnName"
            @update:model-value="$emit('update:mnName', $event)"
            class="q-my-sm"
            outlined
            dense
          ></q-input>
        </div>
      </div>
      <div class="row flex-center">
        <div class="col-3 text-weight-medium">
          {{
            $t('artist.artistInformation.titleDataField.phoneNumberAdminister')
          }}
        </div>
        <div class="col-8">
          <q-input
            :model-value="mnPhone"
            @update:model-value="$emit('update:mnPhone', $event)"
            mask="##########"
            class="q-my-sm"
            outlined
            dense
          ></q-input>
        </div>
      </div>
      <div class="row flex-center">
        <div class="col-3 text-weight-medium">
          {{ $t('artist.artistInformation.titleDataField.emailAdminister') }}
        </div>
        <div class="col-8">
          <q-input
            :model-value="mnEmail"
            @update:model-value="$emit('update:mnEmail', $event)"
            outlined
            class="q-my-sm"
            dense
          ></q-input>
        </div>
      </div>

      <!-- check_infoBooking -->
      <div class="row flex-center">
        <div class="col-3 text-weight-medium">
          {{ $t('artist.artistInformation.titleDataField.infoBooking') }}
        </div>
        <div class="col-8">
          <q-checkbox
            v-model="check_infoBooking"
            @update:model-value="$emit('update:check_infoBooking', $event)"
            class="q-my-sm"
          ></q-checkbox>
        </div>
      </div>
      <div class="row flex-center" v-if="check_infoBooking">
        <div class="col-3 text-weight-medium">
          {{ $t('artist.artistInformation.titleDataField.phoneNumberBooking') }}
          <!-- <span style="color: red">*</span> -->
        </div>
        <div class="col-8">
           <!-- :error="mnBookingPhoneRules"
            :error-message="errorMessmnBookingPhone" -->
          <q-input
            :model-value="mnBookingPhone"
            @update:model-value="$emit('update:mnBookingPhone', $event)"
            mask="##########"
            class="q-my-sm"
           
            outlined
            dense
            hide-bottom-space
          ></q-input>
        </div>
      </div>
      <div class="row flex-center" v-if="check_infoBooking">
        <div class="col-3 text-weight-medium">
          {{ $t('artist.artistInformation.titleDataField.emailBooking') }}
          <!-- <span style="color: red">*</span> -->
        </div>
        <div class="col-8">
            <!-- :error="mnBookingEmailRules"
            :error-message="errorMessmnBookingEmail" -->
          <q-input
            :model-value="mnBookingEmail"
            @update:model-value="$emit('update:mnBookingEmail', $event)"
          
            outlined
            class="q-my-sm"
            dense
            hide-bottom-space
          ></q-input>
        </div>
      </div>
      <div class="row flex-center" v-if="check_infoBooking">
        <div class="col-3 text-weight-medium">
          {{
            $t('artist.artistInformation.titleDataField.facebookMessageBooking')
          }}
        </div>
        <div class="col-8">
          <q-input
            :model-value="mnFbmess"
            @update:model-value="$emit('update:mnFbmess', $event)"
            outlined
            class="q-my-sm"
            dense
          ></q-input>
        </div>
      </div>
      <div class="row flex-center" v-if="check_infoBooking">
        <div class="col-3 text-weight-medium">
          {{ $t('artist.artistInformation.titleDataField.instagramBooking') }}
        </div>
        <div class="col-8">
          <q-input
            :model-value="mnIns"
            @update:model-value="$emit('update:mnIns', $event)"
            outlined
            class="q-my-sm"
            dense
          ></q-input>
        </div>
      </div>
      <div class="row flex-center" v-if="check_infoBooking">
        <div class="col-3 text-weight-medium">
          {{ $t('artist.artistInformation.titleDataField.whatsappBooking') }}
        </div>
        <div class="col-8">
          <q-input
            :model-value="mnWhatsapp"
            @update:model-value="$emit('update:mnWhatsapp', $event)"
            outlined
            class="q-my-sm"
            dense
          ></q-input>
        </div>
      </div>
    </div>
  </div>
</template>
 <script lang="ts">
import { defineComponent, onMounted ,PropType, ref, Ref } from 'vue';
import { i18n } from 'src/boot/i18n';
// import UploadImage from '../../upload-image/index.vue';
import moment from 'moment';
import { FieldType, NationalityType } from 'src/assets/type';
import { API_PATHS, config } from 'src/assets/configurations.example';
import { api, BaseResponseBody } from 'src/boot/axios';
import { AxiosResponse } from 'axios';
import {
  ProvinceType,
}  from 'src/assets/type'
export default defineComponent({

  props: {
    mnBookingPhone: { type: String, required: true },
    mnBookingEmail: { type: String, required: true },
    mnFbmess: { type: String, required: true },
    mnIns: { type: String, required: true },
    mnWhatsapp: { type: String, required: true },
    mnName: { type: String, required: true },
    mnPhone: { type: String, required: true },
    mnEmail: { type: String, required: true },
    hidden_img: { type: Boolean, required: true },
    id: { type: Number, required: true },
    artistCode: { type: String, required: true },
    avatar: { type: String, required: true },
    fullName: { type: String, required: true },
    artistName: { type: String, required: true },
    birthday: { type: String, required: true },
    sex: { type: Number, required: true },
    nationality: { type: Object as PropType<NationalityType>, required: true },
    status: { type: Number, required: true },
    address: { type: String ,required: true },
    fields: { type: Object as PropType<FieldType>, required: true },
    musics: {type: String, required: true },
    works: { type: Number, required: true },
    qualification: { type: Number, required: true },
    artistLevel: { type: Number, required: true },
    phoneNumber: { type: String, required: true },
    email: { type: String, required: true },
    phoneNumberAdminister: { type: String, required: true },
    emailAdminister: { type: String, required: true },
    facebook: { type: String, required: true },
    facebookMessage: { type: String, required: true },
    instagram: { type: String, required: true },
    whatsapp: { type: String, required: true },
    sexOptions: { type: Array, required: true },
    fieldOptions: { type: Array, required: true },
    nationalityOptions: { type: Array, required: true },

    professionOptions: { type: Array, required: true },
    artistLevelOptions: { type: Array, required: true },
    workOptions: { type: Array, required: true },
    musicOptions: { type:Array, required: true},
    favoriteScore: { type: Number, required: true },
    artistCodeRules: { type: Boolean, required: true },
    fullNameRules: { type: Boolean, required: true },
    // artistNameRules: { type: Boolean, required: true },
    // birthdayRules: { type: Boolean, required: true },
    // emailRules: { type: Boolean, required: true },
    emailAdministerRules: { type: Boolean, required: true },
    phoneNumberAdministerRules: { type: Boolean, required: true },
    // addressRules: { type: Boolean, required: true },
    account: { type: String, required: true },
    accountRules:{type:Boolean, required: true},
    // phoneNumberRules: { type: Boolean, required: true },
    // sexRules: { type: Boolean, required: true },
    // nationalityRules: { type: Boolean, required: true },
    // fieldRules: { type: Boolean, required: true },
    // musicsRules: { type: Boolean, required: true },
    // workRules: { type: Boolean, required: true },
    // qualificationRules: { type: Boolean, required: true },
    artistLevelRules: { type: Boolean, required: true },
    // errorMessPhoneNumber: { type: String, required: true },
    // errorMessEmail: { type: String, required: true },
    // errorMessmnBookingPhone: { type: String, required: true },
    // errorMessmnBookingEmail: { type: String, required: true },
    // mnBookingEmailRules: { type: Boolean, required: true },
    // mnBookingPhoneRules: { type: Boolean, required: true },
   
    // options:  { type: String, required: true },
    provinceOptions: {type: Array,
      required: true,},
  },
  // components: {
  //   UploadImage,
  // },
  
  

  setup(_, context) {
    const BirthdayDatePicker = ref(moment().format('YYYY/MM/DD'));
    const selectedFile = (value: FileList) => {
      if (value.length !== 0) {
        context.emit('SetAvatar', {
          file: value[0],
          url: URL.createObjectURL(value[0]),
        });
        context.emit('update:hidden_img', false);
      }
    };
  
     const provinceOptions1:Ref<ProvinceType[]> = ref([]);

   
   const getProvinceOptions = async () => {
      const response = (await api ({
        url : API_PATHS.getProvinceOptions,
        method: 'GET',
        params: {},
      })) as AxiosResponse<BaseResponseBody<ProvinceType[]>>;
      if(response.data.error.code === config.API_RES_CODE.OK.code){
        provinceOptions1.value = response.data.data
      
      }
   } 

  const options = ref(provinceOptions1)
                            
    const filterFn = (val:string, update:(fn: () => void) => void) => {
        
      if (!val) {
        update(() => {
          options.value = [...provinceOptions1.value]
        });
        return ;
      }
       else {
        update(() => { 
          const needle = val.toLowerCase();
            options.value = provinceOptions1.value.filter(
              (v: {  name: string }) =>
                v.name.toLowerCase().indexOf(needle) > 1 
            );
        });
      }
    }

    const upload = ref(null);
    const uploadBanner = () => {
      // eslint-disable-next-line
      // @ts-ignore
      // eslint-disable-next-line
      upload.value?.click();
    };
    const deleteAvatar = () => {
      context.emit('deleteAvatar');
    };
    const selectDatePicker = (value: string) => {
      context.emit('UpdateBirtday', formatDatePicker(value));
    };
    const formatDatePicker = (value: string) => {
      return moment(value).format('DD/MM/YYYY');
    };
    const openDialog: Ref<boolean> = ref(false);
    const onOKClick = () => {
      selectDatePicker(BirthdayDatePicker.value);
      openDialog.value = false;
    };
    // const onOKClick = () => {};
    const onCancelClick = () => {
      openDialog.value = false;
    };
      
 
   const errorMessAccount = i18n.global.t( 'artist.artistInformation.validateMessages.requireAccount'
   );
    const errorMessArtistCode = i18n.global.t(
      'artist.artistInformation.validateMessages.requireArtistCode'
    );
    const errorMessFullName = i18n.global.t(
      'artist.artistInformation.validateMessages.requireFullName'
    );
    // const errorMessArtistName = i18n.global.t(
    //   'artist.artistInformation.validateMessages.requireArtistName'
    // );
    // const errorMessBirthday = i18n.global.t(
    //   'artist.artistInformation.validateMessages.requireBirthday'
    // );
  
    // const errorMessSex = i18n.global.t(
    //   'artist.artistInformation.validateMessages.requireSex'
    // );
    // const errorMessNationality = i18n.global.t(
    //   'artist.artistInformation.validateMessages.requireNationality'
    // );
    // const errorMessAddress = i18n.global.t(
    //   'artist.artistInformation.validateMessages.requireAddress'
    // );
    // const errorMessFields = i18n.global.t(
    //   'artist.artistInformation.validateMessages.requireField'
    // );
    const errorMessWorks = i18n.global.t(
      'artist.artistInformation.validateMessages.requiredWork'
    );
    // const errorMessQualification = i18n.global.t(
    //   'artist.artistInformation.validateMessages.requireQualification'
    // );
    const errorMessArtistLevel = i18n.global.t(
      'artist.artistInformation.validateMessages.requireArtistLevel'
    );
    onMounted(() => {
    void getProvinceOptions()
    });
    return {
      check_infoBooking: ref(false),
      upload,
      uploadBanner,
      filterFn,
      selectedFile,
      deleteAvatar,
      BirthdayDatePicker,
      selectDatePicker,
      formatDatePicker,
      openDialog,
      onOKClick,
      onCancelClick,
      errorMessArtistCode,
      errorMessFullName,
      errorMessAccount,
      // errorMessArtistName,
      // errorMessBirthday,
      // errorMessSex,
      // errorMessNationality,
  
      // errorMessAddress,
      // errorMessFields,
      errorMessWorks,
      // errorMessQualification,
      errorMessArtistLevel,
      provinceOptions1,
      options,
     
      // filterArrayOrganizational,
      getProvinceOptions
    };
  },

  emits: [
    'update:emailAdminister',
    'update:phoneNumberAdminister',
    'update:artistCode',
    'update:fullName',
    'update:avatar',
    'update:artistName',
    'update:birthday',
    'update:email',
    'update:facebook',
    'update:facebookMessage',
    'update:instagram',
    'update:whatsapp',
    'update:address',
    'update:phoneNumber',
    'update:sex',
    'update:nationality',
    'update:fields',
    'update:works',
    'update:favoriteScore',
    'update:check_infoBooking',
    'update:qualification',
    'update:artistLevel',
    'update:hidden_img',
    'update:status',
    'update:mnName',
    'update:mnPhone',
    'update:mnEmail',
    'update:mnBookingPhone',
    'update:mnBookingEmail',
    'update:mnFbmess',
    'update:mnIns',
    'update:mnWhatsapp',
    'update:musics',
    'update:account',
    'addNewArtist',
    'SetAvatar',
    'deleteAvatar',
    'UpdateBirtday',
   
  ],
   
});
 </script>







