<template>
  <div class="q-mt-sm row q-col-gutter-sm">
    <div class="col-12" width="100%">
      <q-tabs
        v-model="tab"
        dense
        class="text-grey"
        active-color="primary"
        indicator-color="primary"
        align="justify"
        narrow-indicator
      >
        <q-tab
          name="information"
          :label="$t('artist.artistInformation.tabLabel.personalInformation')"
        >
        </q-tab>
        <q-tab
          name="vabAccount"
          :label="$t('artist.artistInformation.tabLabel.vabAccout')"
        />
        <q-tab
          name="bankAccount"
          :label="$t('artist.artistInformation.tabLabel.bankAcount')"
        />
        <q-tab
          name="hotProduct"
          :label="$t('artist.artistInformation.tabLabel.hotProduct')"
        />
      </q-tabs>
      <q-separator />
      <q-tab-panels v-model="tab" animated>
        <q-tab-panel name="information">
          <PersonalInformation
           v-model:musics="musics"
            :id="id"
           v-model:account="account"
            v-model:artist-code="artistCode"
            :avatar="avatar"
            v-model:full-name="fullName"
            v-model:artist-name="artistName"
            v-model:birthday="birthday"
            v-model:sex="sex"
            v-model:nationality="nationality"
            v-model:status="status"
            v-model:address="address"
            v-model:fields="fields"
            v-model:works="works"
            v-model:qualification="qualification"
            v-model:artist-level="artistLevel"
            v-model:phone-number="phoneNumber"
            v-model:email="email"
            v-model:facebook="facebook"
            v-model:facebook-message="facebookMessage"
            v-model:instagram="instagram"
            v-model:whatsapp="whatsapp"
            v-model:hidden_img="hidden_img"
            v-model:mn-name="mnName"
            v-model:mn-phone="mnPhone"
            v-model:mn-email="mnEmail"
            v-model:mn-booking-phone="mnBookingPhone"
            v-model:mn-booking-email="mnBookingEmail"
            v-model:mn-fbmess="mnFbmess"
            v-model:mn-ins="mnIns"
            v-model:mn-whatsapp="mnWhatsapp"
            v-model:favorite-score="favoriteScore"
            v-model:check_infoBooking="check_infoBooking"
             :accountRules="accountRules"
            :errorMessmnBookingPhone="errorMessmnBookingPhone"
            :errorMessmnBookingEmail="errorMessmnBookingEmail"
            :mnBookingEmailRules="mnBookingEmailRules"
            :mnBookingPhoneRules="mnBookingPhoneRules"
            :errorMessPhoneNumber="errorMessPhoneNumber"
            :errorMessEmail="errorMessEmail"
            :artistCodeRules="artistCodeRules"
            :fullNameRules="fullNameRules"
            :artistNameRules="artistNameRules"
            :birthdayRules="birthdayRules"
            :emailRules="emailRules"
            :addressRules="addressRules"
            :phoneNumberRules="phoneNumberRules"
            :sexRules="sexRules"
            :nationalityRules="nationalityRules"
            :fieldRules="fieldRules"
           
            :qualificationRules="qualificationRules"
            :artistLevelRules="artistLevelRules"
            :sex-options="sexOptions"
            :field-options="fieldOptions"
            :nationality-options="nationalityOptions"
            :profession-options="professionOptions"
            :artist-level-options="artistLevelOptions"
            :work-options="workOptions"
             :province-options="provinceOptions"
             :music-options="musicOptions"
            @SetAvatar="setAvatar($event)"
            @deleteAvatar="deleteAvatar"
            @UpdateBirtday="UpdateBirtday($event)"
          ></PersonalInformation>
        </q-tab-panel>
        <q-tab-panel name="vabAccount">
          <VabAccount
          
            v-model:short-description="shortDescription"
            v-model:format-schedules="formatSchedules"
            :id="route.params.id"
            :social-embedded="socialEmbedded"
            :banners="banners"
            :stories="stories"
            @confirmDeleteSocialEmbedded="confirmDeleteSocialEmbedded"
            @selectedFile="selectedFile"
            @deleteBanner="banners.splice($event, 1)"
            @openDialogUploadEmbed="isOpenDialogEmbed = true"
            @editBanner="editBanner"
            @deleteStories="DeleteItemStories"
            @click:openAddStoryDialog="isOpenAddStory = true"
            @click:openUpdateStoryDialog="isOpenUpdateStory = true"
            @confirmDeleteStory="deleteStory"
          ></VabAccount>
        </q-tab-panel>
        <q-tab-panel name="bankAccount">
          <BankAccount
            :bank-accounts="bankAccounts"
            @confirmDeleteAccBank="confirmDeleteAccBank"
            @confirmChangeIsDefault="confirmChangeIsDefault($event)"
            @click:addBankBtn="isOpenAddAccountBankDialog = true"
            @clickEditAccBankBtn="openDialogEditAccBank"
          ></BankAccount>
        </q-tab-panel>
        <q-tab-panel name="hotProduct">
          <HotProduct
            :products="products"
            @deleteRow="confirmDeleteRow($event)"
            @reset="resetOldData"
            :DataInsertHotProduct="DataInsertHotProduct"
            @click:addHotProduct="openAddHotProduct = true"
            @click:openUpdateHotProduct="openUpdateHotProduct = true"
            @setDataUpdate="SetProduct($event)"
          ></HotProduct>
        </q-tab-panel>
      </q-tab-panels>
    </div>
    <AddNewBankAccountDialog
      v-model:is-open-add-account-bank-dialog="isOpenAddAccountBankDialog"
      :card-bank-options="cardBankOptions"
      :type-bank-options="typeBankOptions"
      :bank-accounts="bankAccounts"
      @addNewBankAccount="addAccBank"
      @click:CloseBtn="isOpenAddAccountBankDialog = false"
    ></AddNewBankAccountDialog>

    <EditBankAccountDialog
      v-model:is-open-edit-account-bank-dialog="isOpenEditAccountBankDialog"
      :card-bank-options="cardBankOptions"
      :type-bank-options="typeBankOptions"
      :row-bank-acc-idx="rowBankAccIdx"
      :bank-accounts="bankAccounts"
      :row-data-acc-bank="rowDataAccBank"
      @editBankAccount="editAccBank"
      @click:CloseBtn="isOpenEditAccountBankDialog = false"
    ></EditBankAccountDialog>

    <UploadEmbedDialog
      v-model:is-open-dialog-embed="isOpenDialogEmbed"
      :social-embedded="socialEmbedded"
      @uploadEmbed="changeEmbed"
      @click:CloseBtn="isOpenDialogEmbed = false"
    ></UploadEmbedDialog>

    <AddHotProductDialog
      @insertData="pushData"
      v-model:status-hot-product="statusHotProduct"
      v-model:open-add-hot-product="openAddHotProduct"
      @click:CloseBtnAddHotProduct="openAddHotProduct = false"
    ></AddHotProductDialog>

    <UpdateHotProduct
      :dataUpdate="DataUpdateHotProduct"
      @UpdateData="UpdateData($event)"
      @click:CloseBtnUpdateHotProduct="openUpdateHotProduct = false"
      v-model:open-update-hot-product="openUpdateHotProduct"
    ></UpdateHotProduct>
    <AddStory
      @insertData="addStory"
      v-model:is-open-add-story="isOpenAddStory"
      @click:CloseBtnAddStory="isOpenAddStory = false"
    ></AddStory>
    <UpdateStory
      v-model:is-open-update-story="isOpenUpdateStory"
      @click:CloseBtnUpdateStory="isOpenUpdateStory = false"
    ></UpdateStory>
    <div class="col-12 q-mt-md">
      <div class="row">
        <q-space></q-space>
        <div class="col-auto">
          <q-btn
            to="/nghe-sy"
            color="grey"
            no-caps
            :label="$t('crudActions.back')"
          ></q-btn>
        </div>
        <div class="col-auto q-mr-lg q-ml-sm">
          <q-btn
            color="primary"
            no-caps
            :label="$t('crudActions.update')"
            @click="checkValidate"
          ></q-btn>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts" src="./updateInformationArtist.ts"></script>
