<template>
  <div
    class="row q-col-gutter-sm flex-center"
    style="max-height: calc(100vh - 14rem)"
  >
    <q-space></q-space>
    <div class="col-auto">
      <q-btn
        @click="$emit('click:addBankBtn')"
        color="primary"
        no-caps
        style="width: 100px"
        :label="$t('crudActions.add')"
      >
      </q-btn>
    </div>
    <div class="col-12 q-mt-sm">
      <q-table
        :rows="dataBankAccount"
        :columns="userTableColumnsBankAccount"
        :no-data-label="$t('emptyData')"
        row-key="name"
        separator="cell"
        :pagination="{
          rowsPerPage: 0,
        }"
        wrap-cells
        hide-pagination
        class="sticky-header-table"
        style="max-height: calc(100vh - 17rem)"
      >
        <template v-slot:body-cell-bank="rowData">
          <q-td>
            <div align="center">
              {{ rowData.value.name }}
            </div>
          </q-td>
        </template>
        <template v-slot:body-cell-cardType="rowData">
          <q-td>
            <div align="center">
              {{ rowData.value.name }}
            </div>
          </q-td>
        </template>
        <template v-slot:body-cell-isDefault="rowData">
          <q-td>
            <div align="center">
              <q-checkbox
                :model-value="rowData.value"
                :true-value="1"
                :false-value="2"
                @click="changeIsDefault(rowData.value, rowData.rowIndex)"
              />
            </div>
          </q-td>
        </template>
        <template v-slot:body-cell-action="item">
          <q-td style="padding: 0; height: 100%">
            <div align="center">
              <q-btn
                @click="$emit('clickEditAccBankBtn', item.row, item.rowIndex)"
                flat
                round
                color="primary"
                icon="mdi-circle-edit-outline"
              >
              </q-btn>
              <q-btn
                flat
                round
                color="primary"
                icon="mdi-delete-outline"
                @click="$emit('confirmDeleteAccBank', item.rowIndex)"
              >
              </q-btn>
            </div>
          </q-td>
        </template>
      </q-table>
    </div>
  </div>
</template>

<script lang="ts" src="./BankAccount.ts"></script>
