<template>
  <q-expansion-item
    v-if="item.children && item.children.length"
    :label="item.pageName"
    :icon="item.pageIcon"
    :header-style="`padding-left: ${item.level * 1.8}rem`"
    :model-value="isActive"
  >
    <MenuItemComponent
      v-for="(menuItem, menuItemIdx) in item.children"
      :key="`menu-item-${menuItemIdx}-${menuItem.id}`"
      :item="menuItem"
    ></MenuItemComponent>
  </q-expansion-item>
  <q-expansion-item
    v-else
    expand-icon-class="hidden"
    :label="item.pageName"
    :icon="item.pageIcon"
    :header-style="`padding-left: ${item.level * 1.8}rem`"
    :to="item.pageUrl || '/'"
    exact
    active-class="bg-primary text-white"
    style="max-height: 45px"
  ></q-expansion-item>
</template>

<script lang="ts">
import { MenuItemScript } from './MenuItem';
export default MenuItemScript;
</script>
