<template>
  <q-dialog
    persistent
    :model-value="isOpenAddDialog"
    @update:model-value="$emit('update:isOpenAddDialog', $event)"
  >
    <q-card class="full-width" style="max-width: 60rem" bordered>
      <q-form greedy @submit.prevent="confirmAddPostCategory">
        <q-card-section class="q-pa-none">
          <q-item>
            <q-item-section>
              <q-item-label class="text-h6 q-py-md text-weight-regular">
                {{ $t('postCategory.title.addPost') }}
              </q-item-label>
            </q-item-section>
          </q-item>
        </q-card-section>
        <q-separator />
        <q-card-section
          class="overflow-auto"
          style="max-height: calc(100vh - 14rem)"
        >
          <div class="text-body1 text-weight-regular">
            {{ $t('postCategory.labelInput.namePost')
            }}<span style="color: red">*</span>
          </div>
          <q-tabs
            v-model="tabName"
            dense
            class="text-grey"
            active-color="primary"
            indicator-color="primary"
            align="left"
            narrow-indicator
          >
            <q-tab
              v-for="(lang, idxLang) in langs"
              :key="`${lang.language.id}-${idxLang}`"
              :name="lang.language.code"
              :label="lang.language.name"
              no-caps
            />
          </q-tabs>
          <q-separator />
          <q-tab-panels v-model="tabName" animated>
            <q-tab-panel
              v-for="(info, index) in langs"
              :key="`${info.language.id}-${index}`"
              :name="info.language.code"
            >
              <q-input
                v-model="info.name"
                :label="$t('postCategory.labelInput.namePost')"
                type="text"
                class="q-my-sm"
                outlined
                :rules="tabName === 'vi' ? nameRules : ''"
                hide-bottom-space
              ></q-input>
            </q-tab-panel>
          </q-tab-panels>

          <div class="text-body1 text-weight-regular">
            {{ $t('postCategory.labelInput.description') }}
          </div>
          <q-tabs
            v-model="tabTitle"
            dense
            class="text-grey"
            active-color="primary"
            indicator-color="primary"
            align="left"
            narrow-indicator
          >
            <q-tab
              v-for="(lang, idxLang) in langs"
              :key="`${lang.language.id}-${idxLang}`"
              :name="lang.language.code"
              :label="lang.language.name"
              no-caps
            />
          </q-tabs>
          <q-separator />
          <q-tab-panels v-model="tabTitle" animated>
            <q-tab-panel
              v-for="(info, index) in langs"
              :key="`${info.language.id}-${index}`"
              :name="info.language.code"
            >
              <q-input
                v-model="info.title"
                :label="$t('postCategory.labelInput.description')"
                type="text"
                class="q-my-sm"
                outlined
              ></q-input>
            </q-tab-panel>
          </q-tab-panels>

          <div class="row">
            <div class="col-6">
              <q-card v-if="image" flat style="max-height: 200px">
                <div align="center">
                  <q-img
                    :src="image"
                    style="max-height: 200px; aspect-ratio: 16/9"
                  >
                  </q-img>
                </div>
              </q-card>
              <q-card v-else flat style="max-height: 200px" class="q-mt-md">
                <div align="center">
                  <q-img
                    src="~/assets/default.jpeg"
                    style="max-height: 200px; aspect-ratio: 16/9"
                  >
                  </q-img>
                </div>
              </q-card>
              <UploadImage
                class="q-mt-xs"
                :isBtn="true"
                @selectedFile="uploadImage"
              ></UploadImage>
            </div>
          </div>
          <div class="q-mt-md">
            <span class="text-body1 text-weight-regular">{{
              $t('customerRank.dialogLabel.fieldLabels.status')
            }}</span
            ><q-toggle
              v-model="status"
              :true-value="1"
              :false-value="2"
              size="50px"
            ></q-toggle>
          </div>
          <!-- <div class="row q-col-gutter-sm flex-center q-mt-sm">
            <div
              class="
                col-auto
                text-h6 text-weight-regular
                flex flex-center
                q-mr-md
              "
            >
              {{ $t('postCategory.title.listPostsSelected') }}
              <q-separator vertical spaced />
            </div>
            <q-space></q-space>
            <div class="col-auto">
              <q-btn
                color="primary"
                no-caps
                :label="$t('crudActions.add')"
                style="width: 100px"
                @click="isOpenListPost = true"
              >
              </q-btn>
            </div>
            <div class="col-12 q-mt-sm">
              <q-table
                :rows="userTableRowsPost"
                :columns="userTableColumnsPost"
                :no-data-label="$t('emptyData')"
                row-key="name"
                separator="cell"
                hide-pagination
              >
                <template v-slot:body-cell-stt="item">
                  <q-td style="padding: 0; height: 100%">
                    <div align="center">
                      {{ item.rowIndex + 1 }}
                    </div>
                  </q-td>
                </template>
                <template v-slot:body-cell-status="rowData">
                  <q-td>
                    <div align="center">
                      <q-chip
                        :color="rowData.value === 1 ? 'positive' : 'orange'"
                        text-color="white"
                        size="sm"
                      >
                        {{
                          rowData.value === 1
                            ? $t('customer.statusLabel.active')
                            : $t('customer.statusLabel.inactive')
                        }}
                      </q-chip>
                    </div>
                  </q-td>
                </template>
                <template v-slot:body-cell-action="post">
                  <q-td style="padding: 0; height: 100%">
                    <div align="center">
                      <q-btn
                        flat
                        round
                        color="primary"
                        icon="mdi-delete-outline"
                        @click="deletePostSelected(post.rowIndex)"
                      >
                        <q-tooltip :offset="[20, 10]">{{
                          $t('customer.toolTipMessage.deleteCustomer')
                        }}</q-tooltip>
                      </q-btn>
                    </div>
                  </q-td>
                </template>
              </q-table>
            </div>
          </div> -->
        </q-card-section>

        <q-card-actions align="right">
          <div>
            <q-btn
              color="grey"
              no-caps
              style="width: 90px"
              class="q-mr-sm"
              :label="$t('post.crudActions.cancel')"
              @click="$emit('click:closeBtnDialog')"
            />
            <q-btn
              type="submit"
              color="primary"
              no-caps
              style="width: 90px"
              :label="$t('post.crudActions.save')"
            />
          </div>
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
  <ListPostDialog
    v-model:is-open-list-post="isOpenListPost"
    :post-selected="userTableRowsPost"
    @click:closeBtnDialog="isOpenListPost = false"
    @submit-data="(userTableRowsPost = $event), (isOpenListPost = false)"
  ></ListPostDialog>
</template>

<script lang="ts" src="./AddPostCategory.ts"></script>
