<template>
  <q-dialog
    persistent
    :model-value="showDialog"
    @update:model-value="$emit('update:showDialog', $event)"
  >
    <q-card style="min-width: 900px" bordered>
      <q-form greedy @submit.prevent="$emit('addNewUser')">
        <q-card-section>
          <q-item>
            <q-item-section>
              <q-item-label class="text-h6 text-weight-regular">{{
                $t('userPage.dialogLabel.title.addUser')
              }}</q-item-label>
            </q-item-section>
          </q-item>
        </q-card-section>
        <q-separator />

        <q-card-section>
          <div class="row q-col-gutter-sm">
            <div class="col-6">
              <q-input
                :model-value="userName"
                @update:model-value="$emit('update:userName', $event)"
                :label="$t('userPage.dialogLabel.fieldLabels.userName')"
                :rules="userNameRules"
                hide-bottom-space
                type="text"
                class="q-my-sm"
                outlined
              ></q-input>
              <q-input
                :model-value="password"
                :rules="passwordRules"
                @update:model-value="$emit('update:password', $event)"
                :label="$t('userPage.dialogLabel.fieldLabels.password')"
                outlined
                :type="isPwd ? 'password' : 'text'"
                class="q-my-sm"
                autocomplete="new-password"
                hide-bottom-space
              >
                <template v-slot:append>
                  <q-icon
                    :name="isPwd ? 'visibility_off' : 'visibility'"
                    class="cursor-pointer"
                    @click="isPwd = !isPwd"
                  />
                </template>
              </q-input>
              <q-input
                :model-value="fullName"
                @update:model-value="$emit('update:fullName', $event)"
                :label="$t('userPage.dialogLabel.fieldLabels.fullName')"
                type="text"
                class="q-my-sm"
                outlined
                :rules="fullNameRules"
                hide-bottom-space
              ></q-input>
              <q-input
                :model-value="email"
                @update:model-value="$emit('update:email', $event)"
                :label="$t('userPage.dialogLabel.fieldLabels.email')"
                type="text"
                class="q-my-sm"
                outlined
                :rules="emailRules"
                hide-bottom-space
              ></q-input>
              <q-input
                :model-value="mobileNumber"
                @update:model-value="$emit('update:mobileNumber', $event)"
                :label="$t('userPage.dialogLabel.fieldLabels.mobileNumber')"
                mask="#############"
                class="q-my-sm"
                outlined
                :rules="mobileNumberRules"
                hide-bottom-space
              ></q-input>
              <q-input
                :model-value="address"
                @update:model-value="$emit('update:address', $event)"
                :label="$t('userPage.dialogLabel.fieldLabels.address')"
                type="text"
                class="q-my-sm"
                outlined
              ></q-input>
            </div>
            <div class="col-6">
              <q-input
                :model-value="phoneNumber"
                @update:model-value="$emit('update:phoneNumber', $event)"
                :label="$t('userPage.dialogLabel.fieldLabels.phoneNumber')"
                mask="#############"
                class="q-my-sm"
                outlined
              ></q-input>
              <q-input
                :model-value="unit"
                @update:model-value="$emit('update:unit', $event)"
                :label="$t('userPage.dialogLabel.fieldLabels.unit')"
                type="text"
                class="q-my-sm"
                outlined
                :rules="unitRules"
                hide-bottom-space
              ></q-input>

              <q-select
                :model-value="sex"
                emit-value
                @update:model-value="$emit('update:sex', $event)"
                :label="$t('userPage.dialogLabel.fieldLabels.sex')"
                class="q-my-sm"
                :options="sexOptions"
                option-value="id"
                option-label="text"
                outlined
                map-options
                :rules="sexRules"
                hide-bottom-space
              ></q-select>
              <q-input
                :model-value="birthday"
                @update:model-value="$emit('update:birthday', $event)"
                :label="$t('userPage.dialogLabel.fieldLabels.birthday')"
                outlined
                :rules="birthdayRules"
                hide-bottom-space
              >
                <template v-slot:append>
                  <q-icon name="event" class="cursor-pointer">
                    <q-popup-proxy
                      ref="qDateProxy"
                      transition-show="scale"
                      transition-hide="scale"
                    >
                      <q-date
                        :model-value="birthday"
                        @update:model-value="$emit('update:birthday', $event)"
                        mask="DD/MM/YYYY"
                        :options="
                          (birthday) =>
                            birthday >= '1900/01/01' && birthday <= today
                        "
                      >
                        <div class="row items-center justify-end">
                          <q-btn
                            v-close-popup
                            label="Close"
                            color="primary"
                            flat
                          />
                        </div>
                      </q-date>
                    </q-popup-proxy>
                  </q-icon>
                </template>
              </q-input>

              <q-select
                :model-value="group"
                @update:model-value="$emit('update:group', $event)"
                :label="$t('userPage.dialogLabel.fieldLabels.group')"
                class="q-my-sm"
                outlined
                :options="listGroup"
                option-value="id"
                option-label="groupName"
                multiple
                use-chips
                map-options
                emit-value
                :rules="groupRules"
                hide-bottom-space
              ></q-select>
              <div class="q-ml-md q-mt-md">
                <span class="text-body1">{{
                  $t('userPage.dialogLabel.fieldLabels.status')
                }}</span
                ><q-toggle
                  :model-value="status"
                  @update:model-value="$emit('update:status', $event)"
                />
              </div>
            </div>
          </div>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn
            color="grey"
            no-caps
            style="width: 90px"
            :label="$t('userPage.crudActions.cancel')"
            @click="$emit('click:CloseBtn')"
          />
          <q-btn
            type="submit"
            color="primary"
            no-caps
            style="width: 90px"
            :label="$t('userPage.crudActions.save')"
          />
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
</template>

<script lang="ts" src="./AddNewUserDialog.ts"></script>
