// app global css in SCSS form
.sticky-header-table {
    // / height or max-height is important /
    max-height: calc(100vh - 13.5rem);
    // max-width: 100vw;
      .q-table__top,
      .q-table__bottom,
      thead tr:first-child th {
        // / bg color is important for th; just specify one /
        background-color: rgb(200, 226, 241);
      }
  
    thead tr th {
      position: sticky;
      z-index: 1;
      // background-color: rgb(218, 165, 165);
    }
    thead tr:first-child th {
      top: 0;
    }
  
    // / this is when the loading indicator appears /
    &.q-table--loading thead tr:last-child th {
    //   / height of all previous header rows /
      top: 48px;
    }
  }