<template>
  <div class="row q-col-gutter-sm flex-center q-mt-sm">
    <div class="col-auto text-h6 text-weight-regular flex flex-center q-mr-md">
      {{ $t('customerRank.title') }}
      <q-separator vertical spaced />
    </div>
    <q-space></q-space>
    <div class="col-2">
      <q-input
        v-model="codeCustomerRank"
        type="text"
        dense
        outlined
        label="Mã xếp hạng"
        clearable
      ></q-input>
    </div>
    <div class="col-2">
      <q-input
        v-model="nameCustomerRank"
        type="text"
        dense
        outlined
        label="Tên xếp hạng"
        clearable
      ></q-input>
    </div>
    <div class="col-2">
      <q-input
        v-model="levelCustomerRank"
        type="number"
        dense
        outlined
        label="Loại xếp hạng"
        clearable
      ></q-input>
    </div>
    <div class="col-auto">
      <q-btn
        color="primary"
        no-caps
        :label="$t('crudActions.search')"
        @click="getListCustomerRank"
        style="width: 7.14rem"
      ></q-btn>
    </div>
    <div class="col-auto">
      <q-btn
        color="primary"
        no-caps
        :label="$t('crudActions.add')"
        style="width: 7.14rem"
        @click="openAddCustomerRankDialog"
      >
      </q-btn>
    </div>

    <div class="col-12 q-mt-sm">
      <q-table
        :rows="customerRankTableRows"
        :columns="customerRankTableColumns"
        row-key="customerRankCode"
        separator="cell"
        :no-data-label="$t('emptyData')"
        :rows-per-page-label="$t('recordPerPage')"
        :pagination="{
          rowsPerPage: 0,
        }"
        wrap-cells
        hide-pagination
        class="sticky-header-table"
      >
        <template v-slot:body-cell-stt="item">
          <q-td :item="item">
            {{ 1 + item.rowIndex + pageSize * (pageIndex - 1) }}
          </q-td>
        </template>
        <template v-slot:body-cell-action="item">
          <q-td style="padding: 0" class="flex flex-center">
            <q-btn
              flat
              round
              color="primary"
              icon="mdi-account-edit-outline"
              @click="openUpdateCustomerRankDialog(item.row.id)"
            >
              <q-tooltip :offset="[20, 10]">{{
                $t('customerRank.toolTipMessage.updateCustomerRankInfo')
              }}</q-tooltip>
            </q-btn>
            <q-btn
              flat
              round
              color="primary"
              icon="mdi-delete-outline"
              @click="confirmDeleteCustomerRank(item.row.id)"
            >
              <q-tooltip :offset="[20, 10]">{{
                $t('customerRank.toolTipMessage.deleteCustomerRank')
              }}</q-tooltip>
            </q-btn>
          </q-td>
        </template>
        <template v-slot:body-cell-status="rowData">
          <q-td>
            <div align="center">
              <q-chip
                :color="
                  rowData.value === CustomerRankStatus.active
                    ? 'positive'
                    : 'orange'
                "
                text-color="white"
                size="sm"
              >
                {{
                  rowData.value === CustomerRankStatus.active
                    ? $t('customerRank.statusLabel.active')
                    : $t('customerRank.statusLabel.inactive')
                }}
              </q-chip>
            </div>
          </q-td>
        </template>
      </q-table>
    </div>

    <AddUpdateCustomerRankDialog
      v-model:isOpened="addCustomerRankDialogIsOpened"
      v-model:code="code"
      v-model:name="name"
      v-model:level="level"
      v-model:status="status"
      isUpdate
      @saveCustomerRankInfo="addNewCustomer"
    />

    <AddUpdateCustomerRankDialog
      v-model:isOpened="updateCustomerRankDialogIsOpened"
      v-model:code="code"
      v-model:name="name"
      v-model:level="level"
      v-model:status="status"
      @saveCustomerRankInfo="updateNewCustomer"
    />
  </div>
</template>

<script lang="ts">
import { i18n } from 'src/boot/i18n';
import { defineComponent, onMounted, ref, Ref } from 'vue';
import { API_PATHS } from 'src/assets/configurations.example';
import { AxiosResponse } from 'axios';
import { api, BaseResponseBody } from 'src/boot/axios';
import {
  CustomerRank,
  AddCustomerRank,
  DetailCustomerRank,
  UpdateCustomerRank,
} from 'src/assets/type';
import { config } from 'src/assets/configurations.example';
import { CustomerRankStatus } from 'src/assets/enums';
import AddUpdateCustomerRankDialog from 'components/add-update-customer-rank/index.vue';
import { Dialog, Notify } from 'quasar';

export default defineComponent({
  components: {
    AddUpdateCustomerRankDialog,
  },
  setup() {
    const customerRankTableColumns = [
      {
        name: 'stt',
        field: 'stt',
        required: true,
        label: 'STT',
        align: 'center',
        sortable: false,
      },
      {
        name: 'code',
        field: 'code',
        required: true,
        label: i18n.global.t('customerRank.tableColumnsCustomerRank.code'),
        headerStyle: 'text-align: center !important;',
        align: 'left',
        sortable: false,
      },
      {
        name: 'name',
        field: 'name',
        required: true,
        label: i18n.global.t('customerRank.tableColumnsCustomerRank.name'),
        headerStyle: 'text-align: center !important;',
        align: 'left',
        sortable: false,
      },
      {
        name: 'level',
        field: 'level',
        required: true,
        label: i18n.global.t('customerRank.tableColumnsCustomerRank.level'),
        headerStyle: 'text-align: center !important;',
        align: 'left',
        sortable: false,
      },
      {
        name: 'status',
        field: 'status',
        required: true,
        label: i18n.global.t('customerRank.tableColumnsCustomerRank.status'),
        headerStyle: 'text-align: center !important;',
        align: 'center',
        sortable: false,
      },
      {
        name: 'action',
        field: 'action',
        required: true,
        label: i18n.global.t('customerRank.tableColumnsCustomerRank.action'),
        headerStyle: 'text-align: center !important;',
        align: 'center',
        sortable: false,
      },
    ];

    const customerRankTableRows: Ref<unknown[]> = ref([]);
    const addCustomerRankDialogIsOpened = ref(false);
    const updateCustomerRankDialogIsOpened = ref(false);
    const code = ref('');
    const name = ref('');
    const pageIndex = ref(1);
    const pageSize = ref(20);
    const totalPage = ref(0);
    const level: Ref<number | undefined> = ref(undefined);
    const status: Ref<number> = ref(CustomerRankStatus.active);
    const customerRankId: Ref<number | undefined> = ref(undefined);
    const nameCustomerRank = ref('');
    const levelCustomerRank: Ref<number | undefined> = ref(undefined);
    const codeCustomerRank = ref('');
    const changePageSize = () => {
      pageIndex.value = 1;
      void getListCustomerRank();
    };
    //gọi api ds
    const getListCustomerRank = async () => {
      const response = (await api({
        url: API_PATHS.getListCustomersRank,
        method: 'GET',
        params: {
          name: nameCustomerRank.value,
          level: levelCustomerRank.value,
          code: codeCustomerRank.value,
        },
      })) as AxiosResponse<BaseResponseBody<CustomerRank[]>>;
      if (response.data.error.code === config.API_RES_CODE.OK.code) {
        customerRankTableRows.value = response.data.data;
      }
    };

    const confirmDeleteCustomerRank = (id: number) => {
      Dialog.create({
        title: i18n.global.t(
          'customerRank.confirmActionsTitle.confirmDeleteCustomerRankTitle'
        ),
        message: i18n.global.t(
          'customerRank.confirmActionsTitle.confirmDeleteCustomerRankContent'
        ),
        cancel: i18n.global.t(
          'customerRank.confirmActionsTitle.confirmDeleteCustomerRankCancelBtnLabel'
        ),
        color: 'negative',
      }).onOk(() => {
        void deleteCustomerRank(id);
      });
    };

    //gói api xóa
    const deleteCustomerRank = async (id: number) => {
      try {
        const deleteResult = (await api({
          url: API_PATHS.deleteCustomerRank,
          method: 'GET',
          params: {
            id: id,
          },
        })) as AxiosResponse<BaseResponseBody<unknown>>;

        if (deleteResult.data.error.code === config.API_RES_CODE.OK.code) {
          Notify.create({
            type: 'positive',
            message: i18n.global.t(
              'customerRank.actionMessages.deleteCustomerRankAccess'
            ),
            actions: [{ icon: 'close', color: 'white' }],
          });
          void getListCustomerRank();
        }
      } catch (error) {}
    };

    const openAddCustomerRankDialog = () => {
      code.value = '';
      name.value = '';
      level.value = undefined;
      status.value = CustomerRankStatus.active;
      addCustomerRankDialogIsOpened.value = true;
    };

    //gọi api add
    const addNewCustomer = async () => {
      const data = {
        name: name.value,
        code: code.value,
        level: level.value,
        status: status.value,
      };
      const response = (await api({
        url: API_PATHS.addCustomerRank,
        method: 'POST',
        data,
      })) as AxiosResponse<BaseResponseBody<AddCustomerRank[]>>;
      if (response.data.error.code === config.API_RES_CODE.OK.code) {
        addCustomerRankDialogIsOpened.value = false;
        Notify.create({
          type: 'positive',
          message: i18n.global.t(
            'customerRank.actionMessages.addNewCustomerRankAccess'
          ),
          actions: [{ icon: 'close', color: 'white' }],
        });
        void getListCustomerRank();
      }
    };

    const openUpdateCustomerRankDialog = (id: number) => {
      void getDetailCustomerRank(id);
      updateCustomerRankDialogIsOpened.value = true;
    };

    //gọi api detail
    const getDetailCustomerRank = async (id: number) => {
      try {
        const response = (await api({
          url: API_PATHS.getDetailCustomerRank,
          method: 'GET',
          params: {
            id: id,
          },
        })) as AxiosResponse<BaseResponseBody<DetailCustomerRank>>;
        if (response.data.error.code === config.API_RES_CODE.OK.code) {
          customerRankId.value = response.data.data.id;
          name.value = response.data.data.name;
          code.value = response.data.data.code;
          level.value = response.data.data.level;
          status.value = response.data.data.status;
        }
      } catch (error) {}
    };

    //gọi api update
    const updateNewCustomer = async () => {
      const data = {
        id: customerRankId.value,
        name: name.value,
        code: code.value,
        level: level.value,
        status: status.value,
      };
      const response = (await api({
        url: API_PATHS.updateCustomerRank,
        method: 'POST',
        data,
      })) as AxiosResponse<BaseResponseBody<UpdateCustomerRank[]>>;
      if (response.data.error.code === config.API_RES_CODE.OK.code) {
        updateCustomerRankDialogIsOpened.value = false;
        Notify.create({
          type: 'positive',
          message: i18n.global.t(
            'customerRank.actionMessages.updateCustomerRankAccess'
          ),
          actions: [{ icon: 'close', color: 'white' }],
        });
        void getListCustomerRank();
      }
    };

    onMounted(() => {
      void getListCustomerRank();
    });
    return {
      pageSize,
      totalPage,
      changePageSize,
      pageIndex,
      addCustomerRankDialogIsOpened,
      updateCustomerRankDialogIsOpened,
      customerRankTableColumns,
      customerRankTableRows,
      getListCustomerRank,
      CustomerRankStatus,
      openAddCustomerRankDialog,
      code,
      name,
      level,
      status,
      addNewCustomer,
      confirmDeleteCustomerRank,
      deleteCustomerRank,
      openUpdateCustomerRankDialog,
      getDetailCustomerRank,
      updateNewCustomer,
      nameCustomerRank,
      levelCustomerRank,
      codeCustomerRank,
    };
  },
});
</script>
