<template>
  <q-dialog
    persistent
    :model-value="isOpened"
    @update:model-value="$emit('update:isOpened', $event)"
  >
    <q-card class="full-width" style="max-width: 40rem" bordered>
      <q-form
        greedy
        @submit.prevent="
          $emit('addUpdateMenu', {});
          $emit('update:isOpened', false);
        "
      >
        <q-card-section>
          <q-item>
            <q-item-section>
              <q-item-label class="text-h6 text-weight-regular">
                {{
                  isUpdate
                    ? $t('listMenu.dialogLabel.titleAdd')
                    : $t('listMenu.dialogLabel.titleUpdate')
                }}
              </q-item-label>
            </q-item-section>
          </q-item>
        </q-card-section>
        <q-separator />

        <q-card-section>
          <div class="row q-col-gutter-sm">
            <div class="col-12">
              <q-input
                :model-value="name"
                @update:model-value="$emit('update:name', $event)"
                :label="$t('listMenu.dialogLabel.fieldLabels.name')"
                class="q-my-sm"
                type="text"
                outlined
                :rules="nameRules"
                clearable
              ></q-input>
              <!-- <q-input
                :model-value="url"
                @update:model-value="$emit('update:url', $event)"
                :label="$t('listMenu.dialogLabel.fieldLabels.url')"
                class="q-my-sm"
                type="text"
                outlined
                :rules="urlRules"
                clearable
              ></q-input>
              <q-input
                :model-value="numIndex"
                @update:model-value="$emit('update:numIndex', $event)"
                :label="$t('listMenu.dialogLabel.fieldLabels.numIndex')"
                class="q-my-sm"
                mask="##"
                outlined
                clearable
              ></q-input> -->
              <div>
                <span class="text-body1">{{
                  $t('listMenu.dialogLabel.fieldLabels.status')
                }}</span
                ><q-toggle
                  :model-value="status"
                  :true-value="MenuStatus.active"
                  :false-value="MenuStatus.inactive"
                  @update:model-value="$emit('update:status', $event)"
                />
              </div>
            </div>
          </div>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn
            color="grey"
            no-caps
            style="width: 90px"
            :label="$t('listMenu.crudActions.cancel')"
            @click="$emit('update:isOpened', false)"
          />
          <q-btn
            type="submit"
            color="primary"
            no-caps
            style="width: 90px"
            :label="$t('listMenu.crudActions.save')"
          />
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
</template>

<script lang="ts">
import { MenuStatus } from 'src/assets/enums';
import { defineComponent } from 'vue';
import { i18n } from 'src/boot/i18n';
export default defineComponent({
  props: {
    isOpened: {
      type: Boolean,
      required: true,
    },
    isUpdate: { type: Boolean, default: false },
    name: { type: String, required: true },
    // url: { type: String, required: true },
    // numIndex: { type: Number, required: true },
    status: { type: Number, required: true },
  },
  setup() {
    const nameRules = [
      (val?: string) =>
        (val && val.trim().length) ||
        i18n.global.t('listMenu.validateMessages.requireName'),
    ];
    // const urlRules = [
    //   (val?: string) =>
    //     (val && val.trim().length) ||
    //     i18n.global.t('listMenu.validateMessages.requireUrl'),
    // ];
    return {
      nameRules,
      // urlRules,
      MenuStatus,
    };
  },
  emits: [
    'update:isOpened',
    'update:name',
    // 'update:url',
    // 'update:numIndex',
    'update:status',
    'addUpdateMenu',
  ],
});
</script>
