<template>
  <q-dialog
    persistent
    :model-value="isOpened"
    @update:model-value="$emit('update:isOpened', $event)"
  >
    <q-card class="full-width" style="max-width: 40rem" bordered>
      <q-form
        greedy
        @submit.prevent="
          $emit('saveFieldInfo', {});
          $emit('update:isOpened', false);
        "
      >
        <q-card-section class="q-pa-none">
          <q-item>
            <q-item-section>
              <q-item-label class="text-h6 text-weight-regular">{{
                isUpdate
                  ? $t('field.dialogLabel.title.addField')
                  : $t('field.dialogLabel.title.updateField')
              }}</q-item-label>
            </q-item-section>
          </q-item>
        </q-card-section>
        <q-separator />

        <q-card-section
          class="overflow-auto"
          style="max-height: calc(100vh - 10rem)"
        >
          <div class="row q-col-gutter-sm">
            <div class="col-12">
              <q-input
                :model-value="name"
                @update:model-value="$emit('update:name', $event)"
                :label="$t('field.dialogLabel.fieldLabels.name')"
                type="text"
                class="q-my-sm"
                outlined
                :rules="nameRules"
                clearable
              ></q-input>
              <q-input
                :model-value="description"
                @update:model-value="$emit('update:description', $event)"
                :label="$t('field.dialogLabel.fieldLabels.description')"
                :rules="descriptionRules"
                type="textarea"
                class="q-my-sm"
                outlined
              ></q-input>
              <div class="q-pt-sm">
                <span class="text-body1">{{
                  $t('field.dialogLabel.fieldLabels.status')
                }}</span
                ><q-toggle
                  :model-value="status"
                  :true-value="1"
                  :false-value="2"
                  @update:model-value="$emit('update:status', $event)"
                />
              </div>
            </div>
          </div>
        </q-card-section>
        <q-card-actions align="right">
          <div>
            <q-btn
              color="grey"
              no-caps
              style="width: 90px"
              class="q-mr-sm"
              :label="$t('field.crudActions.cancel')"
              @click="$emit('update:isOpened', false)"
            />
            <q-btn
              type="submit"
              color="primary"
              no-caps
              style="width: 90px"
              :label="$t('field.crudActions.save')"
            />
          </div>
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { i18n } from 'src/boot/i18n';

export default defineComponent({
  props: {
    isOpened: {
      type: Boolean,
      required: true,
    },
    isUpdate: { type: Boolean, default: false },
    name: { type: String, required: true },
    description: { type: String, required: true },
    status: { type: Number, required: true },
  },
  setup() {
    const descriptionRules = [
      (val?: string) =>
        (val && val.trim().length) ||
        i18n.global.t('field.validateMessages.requireDescription'),
    ];
    const nameRules = [
      (val?: string) =>
        (val && val.trim().length) ||
        i18n.global.t('field.validateMessages.requireName'),
    ];
    return {
      descriptionRules,
      nameRules,
    };
  },
  emits: [
    'update:isOpened',
    'update:name',
    'update:description',
    'update:status',
    'saveFieldInfo',
  ],
});
</script>
