<template>
  <div class="row q-col-gutter-sm flex-center q-mt-sm">
    <div class="col-auto text-h6 text-weight-regular flex flex-center q-mr-md">
      {{ $t('banner.title') }}
      <q-separator vertical spaced />
    </div>
    <q-space></q-space>
    <div class="col-2">
      <q-input
        v-model="nameBanner"
        type="text"
        dense
        outlined
        label="Tên"
        clearable
      ></q-input>
    </div>
    <div class="col-auto">
      <q-btn
        color="primary"
        no-caps
        :label="$t('crudActions.search')"
        @click="getListBanner"
        style="width: 7.14rem"
      ></q-btn>
    </div>
    <div class="col-auto">
      <q-btn
        color="primary"
        no-caps
        :label="$t('crudActions.add')"
        style="width: 7.14rem"
        @click="openAddBannerDialog"
      >
      </q-btn>
    </div>

    <div class="col-12 q-mt-sm">
      <q-table
        :rows="bannerTableRows"
        :columns="bannerTableColumns"
        row-key="bannerName"
        separator="cell"
        :no-data-label="$t('emptyData')"
        :rows-per-page-label="$t('recordPerPage')"
        :pagination="{
          rowsPerPage: 0,
        }"
        hide-pagination
        class="sticky-header-table"
      >
        <template v-slot:body-cell-action="item">
          <q-td style="padding: 0; text-align: center">
            <q-btn
              flat
              round
              color="primary"
              icon="mdi-account-edit-outline"
              @click="openUpdateBannerDialog(item.row.id)"
            >
              <q-tooltip :offset="[20, 10]">{{
                $t('banner.toolTipMessage.updateBanner')
              }}</q-tooltip>
            </q-btn>
            <q-btn
              flat
              round
              color="primary"
              icon="mdi-delete-outline"
              @click="confirmDeleteBanner(item.row.id)"
            >
              <q-tooltip :offset="[20, 10]">{{
                $t('banner.toolTipMessage.deleteBanner')
              }}</q-tooltip>
            </q-btn>
          </q-td>
        </template>
        <template v-slot:body-cell-status="rowData">
          <q-td>
            <div align="center">
              <q-chip
                :color="
                  rowData.value === BannerStatus.active ? 'positive' : 'orange'
                "
                text-color="white"
                size="sm"
              >
                {{
                  rowData.value === BannerStatus.active
                    ? $t('banner.statusLabel.active')
                    : $t('banner.statusLabel.inactive')
                }}
              </q-chip>
            </div>
          </q-td>
        </template>
        <template v-slot:body-cell-image="image">
          <q-td style="padding: auto; height: 100%; text-align: center">
            <q-img
              style="width: 18rem; height: 6rem"
              :src="configImg.API_IMAGE_ENDPOINT + image.row.image"
            ></q-img>
          </q-td>
        </template>
      </q-table>
    </div>

    <div class="col-12 q-mt-sm">
      <Pagination
        v-model:currentPage="pageIndex"
        v-model:pageSize="pageSize"
        :totalPage="totalPage"
        @update:pageSize="changePageSize"
        @update:currentPage="getListBanner"
      />
    </div>

    <AddUpdateBannerDialog
      v-model:isOpened="addBannerDialogIsOpened"
      v-model:name="name"
      v-model:image="image"
      v-model:numIndex="numIndex"
      v-model:status="status"
      @SetAvatar="setAvatar($event)"
      @deleteAvatar="deleteAvatar"
      isUpdate
      @saveBannerInfo="addBanner"
    />

    <AddUpdateBannerDialog
      v-model:isOpened="updateBannerDialogIsOpened"
      v-model:name="name"
      v-model:image="image"
      v-model:numIndex="numIndex"
      v-model:status="status"
      @SetAvatar="setAvatar($event)"
      @deleteAvatar="deleteAvatar"
      @saveBannerInfo="updateBanner"
    />
  </div>
</template>

<script lang="ts">
import { i18n } from 'src/boot/i18n';
import { defineComponent, onMounted, ref, Ref } from 'vue';
import { AxiosResponse } from 'axios';
import Pagination from 'components/pagination/index.vue';
import { api, BaseResponseBody } from 'src/boot/axios';
import {
  PaginationResponse,
  FileUploadType,
  ListBannerConfig,
  DetailBannerConfig,
  UpdateBannerConfig,
  AddBannerConfig,
} from 'src/assets/type';
import { config, API_PATHS } from 'src/assets/configurations.example';
import { BannerStatus } from 'src/assets/enums';
import AddUpdateBannerDialog from 'components/add-update-banner/index.vue';
import { Dialog, Notify } from 'quasar';

export type AvatarType = {
  file?: File;
  url?: string | null;
};

export default defineComponent({
  components: {
    Pagination,
    AddUpdateBannerDialog,
  },
  setup() {
    const bannerTableColumns = [
      {
        name: 'name',
        field: 'name',
        required: true,
        label: i18n.global.t('banner.tableColumnsBanner.name'),
        headerStyle: 'text-align: center !important;',
        align: 'left',
        sortable: false,
      },
      {
        name: 'image',
        field: 'image',
        required: true,
        label: i18n.global.t('banner.tableColumnsBanner.image'),
        headerStyle: 'text-align: center !important;',
        align: 'center',
        sortable: false,
      },
      {
        name: 'numIndex',
        field: 'numIndex',
        required: true,
        label: i18n.global.t('banner.tableColumnsBanner.numIndex'),
        headerStyle: 'text-align: center !important;',
        align: 'center',
        sortable: false,
      },
      {
        name: 'status',
        field: 'status',
        required: true,
        label: i18n.global.t('banner.tableColumnsBanner.status'),
        headerStyle: 'text-align: center !important;',
        align: 'center',
        sortable: false,
      },
      {
        name: 'action',
        field: 'action',
        required: true,
        label: i18n.global.t('banner.tableColumnsBanner.action'),
        headerStyle: 'text-align: center !important;',
        align: 'center',
        sortable: false,
      },
    ];

    const pageIndex = ref(1);
    const pageSize = ref(20);
    const totalPage = ref(1);
    const changePageSize = () => {
      pageIndex.value = 1;
      void getListBanner();
    };
    const bannerTableRows: Ref<unknown[]> = ref([]);
    const addBannerDialogIsOpened = ref(false);
    const updateBannerDialogIsOpened = ref(false);
    const name = ref('');
    const image: Ref<string | null> = ref(null);
    const numIndex: Ref<number | undefined> = ref(undefined);
    const status: Ref<number> = ref(BannerStatus.active);
    const bannerId: Ref<number | undefined> = ref(undefined);
    const nameBanner = ref('');
    const avatarFile: Ref<File | null> = ref(null);
    const avatarUploaded: Ref<string> = ref('');
    const imageChange: Ref<string> = ref('');

    //gọi api ds
    const getListBanner = async () => {
      const response = (await api({
        url: API_PATHS.getListBanner,
        method: 'GET',
        params: {
          pageIndex: pageIndex.value,
          pageSize: pageSize.value,
          name: nameBanner.value,
        },
      })) as AxiosResponse<
        BaseResponseBody<PaginationResponse<ListBannerConfig[]>>
      >;
      if (response.data.error.code === config.API_RES_CODE.OK.code) {
        bannerTableRows.value = response.data.data.data;
        totalPage.value = response.data.data.totalPages;
      }
    };

    const confirmDeleteBanner = (id: number) => {
      Dialog.create({
        title: i18n.global.t(
          'banner.confirmActionsTitle.confirmDeleteBannerTitle'
        ),
        message: i18n.global.t(
          'banner.confirmActionsTitle.confirmDeleteBannerContent'
        ),
        cancel: i18n.global.t(
          'banner.confirmActionsTitle.confirmDeleteBannerCancelBtnLabel'
        ),
        color: 'negative',
      }).onOk(() => {
        void deleteBanner(id);
      });
    };

    //gói api xóa
    const deleteBanner = async (id: number) => {
      try {
        const deleteResult = (await api({
          url: API_PATHS.deleteBanner,
          method: 'GET',
          params: {
            id: id,
          },
        })) as AxiosResponse<BaseResponseBody<unknown>>;
        if (deleteResult.data.error.code === config.API_RES_CODE.OK.code) {
          Notify.create({
            type: 'positive',
            message: i18n.global.t('banner.actionMessages.deleteBannerAccess'),
          });
          void getListBanner();
        }
      } catch (error) {}
    };

    const openAddBannerDialog = () => {
      name.value = '';
      numIndex.value = undefined;
      image.value = null;
      status.value = BannerStatus.active;
      addBannerDialogIsOpened.value = true;
    };

    //gọi api add
    const addBanner = async () => {
      avatarUploaded.value = await callApiUploadAvatar(
        avatarFile.value as File
      );
      const data = {
        name: name.value,
        image: avatarUploaded.value,
        numIndex: numIndex.value,
        status: status.value,
      };
      const response = (await api({
        url: API_PATHS.addBanner,
        method: 'POST',
        data,
      })) as AxiosResponse<BaseResponseBody<AddBannerConfig[]>>;
      if (response.data.error.code === config.API_RES_CODE.OK.code) {
        addBannerDialogIsOpened.value = false;
        Notify.create({
          type: 'positive',
          message: i18n.global.t('banner.actionMessages.addNewBannerAccess'),
          actions: [{ icon: 'close', color: 'white' }],
        });
        void getListBanner();
      }
    };

    const openUpdateBannerDialog = (id: number) => {
      void getDetailBanner(id);
      updateBannerDialogIsOpened.value = true;
    };

    //gọi api detail
    const getDetailBanner = async (id: number) => {
      try {
        const response = (await api({
          url: API_PATHS.getDetailBanner,
          method: 'GET',
          params: {
            id: id,
          },
        })) as AxiosResponse<BaseResponseBody<DetailBannerConfig>>;
        if (response.data.error.code === config.API_RES_CODE.OK.code) {
          bannerId.value = response.data.data.id;
          name.value = response.data.data.name;
          numIndex.value = response.data.data.numIndex;
          status.value = response.data.data.status;
          image.value = config.API_IMAGE_ENDPOINT + response.data.data.image;
          imageChange.value = response.data.data.image;
        }
      } catch (error) {}
    };

    //gọi api update
    const updateBanner = async () => {
      if (avatarFile.value) {
        avatarUploaded.value = await callApiUploadAvatar(avatarFile.value);
        void confirmUpdate(avatarUploaded.value);
      } else {
        void confirmUpdate(imageChange.value);
      }
    };

    const confirmUpdate = async (image: string) => {
      const data = {
        id: bannerId.value,
        name: name.value,
        numIndex: numIndex.value,
        status: status.value,
        image,
      };
      const response = (await api({
        url: API_PATHS.updateBanner,
        method: 'POST',
        data,
      })) as AxiosResponse<BaseResponseBody<UpdateBannerConfig[]>>;
      if (response.data.error.code === config.API_RES_CODE.OK.code) {
        updateBannerDialogIsOpened.value = false;
        Notify.create({
          type: 'positive',
          message: i18n.global.t('banner.actionMessages.updateBannerAccess'),
          actions: [{ icon: 'close', color: 'white' }],
        });
        void getListBanner();
      }
    };

    const setAvatar = (value: { file?: File; url?: string }) => {
      avatarFile.value = value.file as File;
      image.value = value.url as string;
    };

    const callApiUploadAvatar = async (file: File) => {
      try {
        const bodyFormData = new FormData();
        bodyFormData.append('file', file);
        const response = (await api({
          headers: { 'Content-Type': 'multipart/form-data' },
          url: 'https://cms.vab.xteldev.com/file/upload/', //test
          // url:'http://103.147.34.34:10700/api/upload/', // pro
          method: 'POST',
          data: bodyFormData,
        })) as AxiosResponse<BaseResponseBody<FileUploadType>>;
        if (response.data.error.code === config.API_RES_CODE.OK.code) {
          return response.data.data.fileName;
        } else {
          return '';
        }
      } catch (error) {
        return '';
      }
    };
    const deleteAvatar = () => {
      image.value = null;
    };

    const configImg = config;

    onMounted(() => {
      void getListBanner();
    });
    return {
      addBannerDialogIsOpened,
      updateBannerDialogIsOpened,
      bannerTableColumns,
      bannerTableRows,
      getListBanner,
      pageIndex,
      pageSize,
      totalPage,
      changePageSize,
      BannerStatus,
      openAddBannerDialog,
      name,
      status,
      addBanner,
      confirmDeleteBanner,
      deleteBanner,
      openUpdateBannerDialog,
      getDetailBanner,
      updateBanner,
      nameBanner,
      image,
      numIndex,
      setAvatar,
      callApiUploadAvatar,
      deleteAvatar,
      configImg,
      avatarUploaded,
      bannerId,
      confirmUpdate,
    };
  },
});
</script>
