<template>
  <q-dialog
    persistent
    :model-value="isOpened"
    @update:model-value="$emit('update:isOpened', $event)"
  >
    <q-card class="full-width" style="max-width: 80rem" bordered>
      <q-form
        greedy
        @submit.prevent="
          $emit('saveHotProductInfo', {});
          $emit('update:isOpened', false);
        "
      >
        <q-card-section>
          <q-item>
            <q-item-section>
              <q-item-label class="text-h6 text-weight-regular">
                {{
                  isUpdate
                    ? $t('listHotProduct.dialogLabel.titleAdd')
                    : $t('listHotProduct.dialogLabel.titleUpdate')
                }}
              </q-item-label>
            </q-item-section>
          </q-item>
        </q-card-section>
        <q-separator />

        <q-card-section
          class="overflow-auto"
          style="max-height: calc(100vh - 15rem)"
        >
          <div class="row q-col-gutter-sm">
            <div class="col-6 q-mt-sm">
              <div class="row flex-center">
                <div>
                  <q-card class="q-mb-sm" v-if="imageUrl !== null">
                    <q-img
                      @click="uploadAvatar"
                      :src="imageUrl"
                      style="height: 290px; width: 450px; cursor: pointer"
                    ></q-img>
                    <q-icon
                      name="mdi-close-circle"
                      color="red"
                      style="
                        position: absolute;
                        right: 0;
                        font-size: 18px;
                        cursor: pointer;
                      "
                      @click="deleteAvatar"
                    ></q-icon>
                  </q-card>
                  <div
                    @click="uploadAvatar"
                    v-else
                    class="q-mb-sm"
                    style="
                      height: 290px;
                      width: 450px;
                      border: 2px dashed #5d319e;
                      border-radius: 4px;
                      cursor: pointer;
                    "
                  >
                    <div
                      style="
                        height: 290px;
                        width: 450px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                      "
                    >
                      <q-icon
                        style="color: #5d319e"
                        name="mdi-cloud-upload"
                        size="xl"
                      ></q-icon>
                      Tải ảnh lên
                    </div>
                  </div>
                  <div>
                    <input
                      ref="upload"
                      hidden
                      @change="selectedFile($event.target.files)"
                      type="file"
                      accept="image/png, image/jpeg"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6">
              <q-select
                :model-value="artistName"
                @update:model-value="$emit('update:artistName', $event)"
                :label="$t('listHotProduct.dialogLabel.fieldLabels.artistName')"
                class="q-my-sm"
                :options="artistOptions"
                option-label="artistName"
                option-value="id"
                type="text"
                outlined
                :rules="artistNameRules"
                clearable
              ></q-select>
              <q-input
                :model-value="name"
                @update:model-value="$emit('update:name', $event)"
                :label="$t('listHotProduct.dialogLabel.fieldLabels.name')"
                class="q-my-sm"
                type="text"
                outlined
                :rules="nameRules"
                clearable
              ></q-input>
              <q-input
                :model-value="embeddedUrl"
                @update:model-value="$emit('update:embeddedUrl', $event)"
                :label="
                  $t('listHotProduct.dialogLabel.fieldLabels.embeddedUrl')
                "
                class="q-my-sm"
                type="text"
                outlined
                :rules="embeddedUrlRules"
                clearable
              ></q-input>
              <div class="q-pt-sm">
                <span class="text-body1">{{
                  $t('listHotProduct.dialogLabel.fieldLabels.salientStatus')
                }}</span
                ><q-toggle
                  :model-value="salientStatus"
                  :true-value="SystemHotProductStatus.active"
                  :false-value="SystemHotProductStatus.inactive"
                  @update:model-value="$emit('update:salientStatus', $event)"
                />
              </div>
            </div>
          </div>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn
            color="grey"
            no-caps
            style="width: 90px"
            :label="$t('listHotProduct.crudActions.cancel')"
            @click="$emit('update:isOpened', false)"
          />
          <q-btn
            type="submit"
            color="primary"
            no-caps
            style="width: 90px"
            :label="$t('listHotProduct.crudActions.save')"
          />
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
</template>

<script lang="ts">
import { SystemHotProductStatus } from 'src/assets/enums';
import { defineComponent, ref } from 'vue';
import { i18n } from 'src/boot/i18n';
export default defineComponent({
  props: {
    isOpened: {
      type: Boolean,
      required: true,
    },
    isUpdate: { type: Boolean, default: false },
    imageUrl: { type: String, required: true },
    name: { type: String, required: true },
    artistName: { type: Number, required: true },
    embeddedUrl: { type: String, required: true },
    salientStatus: { type: Number, required: true },
    artistOptions: { type: Array, required: true },
  },
  setup(_, context) {
    const selectedFile = (value: FileList) => {
      context.emit('SetAvatar', {
        file: value[0],
        url: URL.createObjectURL(value[0]),
      });
    };
    const deleteAvatar = () => {
      context.emit('deleteAvatar');
    };
    const upload = ref(null);
    const uploadAvatar = () => {
      // eslint-disable-next-line
      // @ts-ignore
      // eslint-disable-next-line
      upload.value?.click();
    };
    const nameRules = [
      (val?: string) =>
        (val && val.trim().length) ||
        i18n.global.t('listHotProduct.validateMessages.requireName'),
    ];
    const artistNameRules = [
      (val?: number) =>
        val !== undefined ||
        i18n.global.t('listHotProduct.validateMessages.requireArtistName'),
    ];
    const embeddedUrlRules = [
      (val?: string) =>
        (val && val.trim().length) ||
        i18n.global.t('listHotProduct.validateMessages.requireEmbeddedUrl'),
    ];
    return {
      nameRules,
      artistNameRules,
      embeddedUrlRules,
      SystemHotProductStatus,
      selectedFile,
      deleteAvatar,
      uploadAvatar,
      upload,
    };
  },
  emits: [
    'update:isOpened',
    'update:imageUrl',
    'update:name',
    'update:artistName',
    'update:embeddedUrl',
    'update:salientStatus',
    'SetAvatar',
    'deleteAvatar',
    'saveHotProductInfo',
  ],
});
</script>
