<template>
  <div
    class="row q-col-gutter-sm flex-center"
    style="max-height: calc(100vh - 14rem)"
  >
    <q-space></q-space>
    <div class="col-auto">
      <q-btn
        @click="$emit('click:addAccountGroup')"
        color="primary"
        no-caps
        style="width: 100px"
        :label="$t('crudActions.add')"
      >
      </q-btn>
    </div>
    <div class="col-12 q-mt-sm">
      <q-table
        :rows="dataAccountGroup"
        :columns="userTableColumnsAccountGroup"
        :no-data-label="$t('emptyData')"
        row-key="name"
        separator="cell"
        hide-pagination
      >
        <template v-slot:body-cell-stt="item">
          <q-td :item="item">
            {{ 1 + item.rowIndex + pageSize * (pageIndex - 1) }}
          </q-td>
        </template>
      </q-table>
    </div>
    <div class="col-12 q-mt-sm">
      <Pagination
        v-model:currentPage="pageIndex"
        v-model:pageSize="pageSize"
        :totalPage="totalPage"
        @update:pageSize="changePageSize"
        @update:currentPage="getListAccountGroup"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { i18n } from 'src/boot/i18n';
import { defineComponent, onMounted, Ref, ref } from 'vue';
import Pagination from 'components/pagination/index.vue';
export default defineComponent({
  components: {
    Pagination,
  },
  setup() {
    const userTableColumnsAccountGroup = [
      {
        name: 'STT',
        required: true,
        label: 'STT',
        align: 'center',
        sortable: false,
      },
      {
        name: 'fullName',
        field: 'fullName',
        required: true,
        label: i18n.global.t('userGroupPage.groupInfo.fieldLabels.fullName'),
        align: 'center',
        sortable: false,
      },
      {
        name: 'user',
        field: 'user',
        required: true,
        label: i18n.global.t('userGroupPage.groupInfo.fieldLabels.user'),
        align: 'center',
        sortable: false,
      },
      {
        name: 'user',
        field: 'user',
        required: true,
        label: i18n.global.t('userGroupPage.groupInfo.fieldLabels.position'),
        align: 'center',
        sortable: false,
      },
    ];

    const pageIndex = ref(1);
    const pageSize = ref(20);
    const totalPage = ref(0);
    const dataAccountGroup: Ref<unknown[]> = ref([]);
    const changePageSize = () => {
      pageIndex.value = 1;
      void getListAccountGroup();
    };
    const getListAccountGroup = () => {
      console.log();
    };
    onMounted(() => {
      void getListAccountGroup();
    });
    return {
      userTableColumnsAccountGroup,
      dataAccountGroup,
      pageIndex,
      pageSize,
      totalPage,
      changePageSize,
      getListAccountGroup,
    };
  },
});
</script>
