<template>
  <q-dialog
    persistent
    :model-value="isOpened"
    @update:model-value="$emit('update:isOpened', $event)"
  >
    <q-card style="min-width: 80rem" bordered>
      <q-form
        greedy
        @submit.prevent="
          $emit('saveNewsInfo', {});
          $emit('update:isOpened', false);
        "
      >
        <q-card-section>
          <q-item>
            <q-item-section>
              <q-item-label class="text-h6 text-weight-regular">
                {{
                  isUpdate
                    ? $t('listNews.dialogLabel.titleAdd')
                    : $t('listNews.dialogLabel.titleUpdate')
                }}
              </q-item-label>
            </q-item-section>
          </q-item>
        </q-card-section>
        <q-separator />

        <q-card-section>
          <div class="row q-col-gutter-sm">
            <div class="col-6 q-py-md">
              <div class="row flex-center">
                <q-card v-if="image !== null">
                  <q-img
                    @click="uploadImg"
                    :src="image"
                    style="height: 13.75rem; width: 18.75rem; cursor: pointer"
                  ></q-img>
                </q-card>
                <div
                  @click="uploadImg"
                  v-else
                  style="
                    height: 13.75rem;
                    width: 18.75rem;
                    border: 2px dashed #5d319e;
                    border-radius: 4px;
                    cursor: pointer;
                  "
                >
                  <div
                    style="
                      height: 100%;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      flex-direction: column;
                    "
                  >
                    <q-icon
                      style="color: #5d319e"
                      name="mdi-cloud-upload"
                      size="xl"
                    ></q-icon>
                    Tải ảnh lên
                  </div>
                </div>
                <div>
                  <input
                    ref="upload"
                    hidden
                    type="file"
                    accept="image/png, image/jpeg"
                    @change="selectedFile($event.target.files)"
                  />
                </div>
              </div>
            </div>

            <div class="col-6">
              <q-input
                :model-value="title"
                @update:model-value="$emit('update:title', $event)"
                :label="$t('listNews.dialogLabel.fieldLabels.title')"
                class="q-my-sm"
                type="text"
                outlined
                :rules="titleRules"
                clearable
              ></q-input>
              <q-input
                :model-value="urlTarget"
                @update:model-value="$emit('update:urlTarget', $event)"
                :label="$t('listNews.dialogLabel.fieldLabels.urlTarget')"
                class="q-my-sm"
                type="text"
                outlined
                :rules="urlTargetRules"
                clearable
              ></q-input>
              <q-input
                :model-value="location"
                @update:model-value="$emit('update:location', $event)"
                :label="$t('listNews.dialogLabel.fieldLabels.location')"
                class="q-my-sm"
                type="text"
                outlined
                clearable
              ></q-input>
              <div class="q-pt-sm">
                <span class="text-body1">{{
                  $t('listNews.dialogLabel.fieldLabels.status')
                }}</span
                ><q-toggle
                  :model-value="status"
                  :true-value="NewsStatus.active"
                  :false-value="NewsStatus.inactive"
                  @update:model-value="$emit('update:status', $event)"
                />
              </div>
            </div>
            <div class="col-12">
              <div>
                <q-editor
                  :model-value="content"
                  @update:model-value="$emit('update:content', $event)"
                  ref="editorRef"
                  placeholder="Nội dung *"
                  toolbar-text-color="white"
                  toolbar-toggle-color="yellow-8"
                  toolbar-bg="primary"
                  style="height: 20rem"
                  :toolbar="[
                    [
                      {
                        label: $q.lang.editor.align,
                        icon: $q.iconSet.editor.align,
                        fixedLabel: true,
                        list: 'only-icons',
                        options: ['left', 'center', 'right', 'justify'],
                      },
                    ],
                    [
                      'bold',
                      'italic',
                      'strike',
                      'underline',
                      'subscript',
                      'superscript',
                    ],
                    ['token', 'hr', 'link', 'custom_btn'],
                    ['print', 'fullscreen'],
                    [
                      {
                        label: $q.lang.editor.formatting,
                        icon: $q.iconSet.editor.formatting,
                        list: 'no-icons',
                        options: [
                          'p',
                          'h1',
                          'h2',
                          'h3',
                          'h4',
                          'h5',
                          'h6',
                          'code',
                        ],
                      },
                      {
                        label: $q.lang.editor.fontSize,
                        icon: $q.iconSet.editor.fontSize,
                        fixedLabel: true,
                        fixedIcon: true,
                        list: 'no-icons',
                        options: [
                          'size-1',
                          'size-2',
                          'size-3',
                          'size-4',
                          'size-5',
                          'size-6',
                          'size-7',
                        ],
                      },
                      {
                        label: $q.lang.editor.defaultFont,
                        icon: $q.iconSet.editor.font,
                        fixedIcon: true,
                        list: 'no-icons',
                        options: [
                          'default_font',
                          'arial',
                          'arial_black',
                          'comic_sans',
                          'courier_new',
                          'impact',
                          'lucida_grande',
                          'times_new_roman',
                          'verdana',
                        ],
                      },
                      'removeFormat',
                    ],
                    ['quote', 'unordered', 'ordered', 'outdent', 'indent'],

                    ['undo', 'redo'],
                    ['viewsource'],
                  ]"
                  :fonts="{
                    arial: 'Arial',
                    arial_black: 'Arial Black',
                    comic_sans: 'Comic Sans MS',
                    courier_new: 'Courier New',
                    impact: 'Impact',
                    lucida_grande: 'Lucida Grande',
                    times_new_roman: 'Times New Roman',
                    verdana: 'Verdana',
                  }"
                />
              </div>
            </div>
          </div>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn
            color="grey"
            no-caps
            style="width: 90px"
            :label="$t('listNews.crudActions.cancel')"
            @click="$emit('update:isOpened', false)"
          />
          <q-btn
            type="submit"
            color="primary"
            no-caps
            style="width: 90px"
            :label="$t('listNews.crudActions.save')"
          />
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
</template>

<script lang="ts">
import { NewsStatus } from 'src/assets/enums';
import { defineComponent, ref } from 'vue';
import { i18n } from 'src/boot/i18n';
export default defineComponent({
  props: {
    isOpened: {
      type: Boolean,
      required: true,
    },
    isUpdate: { type: Boolean, default: false },
    image: { type: String, required: true },
    title: { type: String, required: true },
    location: { type: String, required: true },
    content: { type: String, required: true },
    urlTarget: { type: String, required: true },
    status: { type: Number, required: true },
  },
  setup(props, context) {
    const selectedFile = (value: FileList) => {
      if (value.length !== 0) {
        context.emit('SetAvatar', {
          file: value[0],
          url: URL.createObjectURL(value[0]),
        });
      }
    };
    const upload = ref(null);
    const uploadImg = () => {
      // eslint-disable-next-line
      // @ts-ignore
      // eslint-disable-next-line
      upload.value?.click();
    };
    const titleRules = [
      (val?: string) =>
        (val && val.trim().length) ||
        i18n.global.t('listNews.validateMessages.requireTitle'),
    ];
    const urlTargetRules = [
      (val?: string) =>
        (val && val.trim().length) ||
        i18n.global.t('listNews.validateMessages.requireUrlTarget'),
    ];
    return {
      upload,
      titleRules,
      urlTargetRules,
      NewsStatus,
      uploadImg,
      selectedFile,
    };
  },
  emits: [
    'update:isOpened',
    'update:image',
    'update:title',
    'update:location',
    'update:content',
    'update:urlTarget',
    'update:status',
    'SetAvatar',
    'saveNewsInfo',
  ],
});
</script>
