<template>
  <q-dialog
    persistent
    :model-value="showDialog"
    @update:model-value="$emit('update:showDialog', $event)"
  >
    <q-card style="min-width: 900px" bordered>
      <q-form greedy @submit.prevent="confirmAddCustomer">
        <q-card-section>
          <q-item>
            <q-item-section>
              <q-item-label class="text-h6 text-weight-regular">{{
                $t('customer.dialogLabel.title.addCustomer')
              }}</q-item-label>
            </q-item-section>
          </q-item>
        </q-card-section>
        <q-separator />

        <q-card-section>
          <div class="row q-col-gutter-sm">
            <div class="col-6">
              <q-input
                v-model="userName"
                :label="$t('customer.dialogLabel.fieldLabels.userName')"
                :rules="userNameRules"
                hide-bottom-space
                type="text"
                class="q-my-sm"
                outlined
              ></q-input>
              <q-input
                v-model="password"
                :label="$t('customer.dialogLabel.fieldLabels.password')"
                :rules="passwordRules"
                outlined
                :type="isPwd ? 'password' : 'text'"
                class="q-my-sm"
                autocomplete="new-password"
                hide-bottom-space
              >
                <template v-slot:append>
                  <q-icon
                    :name="isPwd ? 'visibility_off' : 'visibility'"
                    class="cursor-pointer"
                    @click="isPwd = !isPwd"
                  />
                </template>
              </q-input>
              <q-input
                v-model="code"
                :label="$t('customer.dialogLabel.fieldLabels.code')"
                :rules="codeRules"
                hide-bottom-space
                type="text"
                class="q-my-sm"
                outlined
              ></q-input>
              <q-input
                v-model="fullName"
                :label="$t('customer.dialogLabel.fieldLabels.customerName')"
                type="text"
                class="q-my-sm"
                outlined
                :rules="customerNameRules"
                hide-bottom-space
              ></q-input>
              <q-input
                v-model="companyName"
                :label="$t('customer.dialogLabel.fieldLabels.businessName')"
                type="text"
                class="q-my-sm"
                outlined
                :rules="businessNameRules"
                hide-bottom-space
              ></q-input>
              <q-input
                v-model="taxCode"
                :label="$t('customer.dialogLabel.fieldLabels.taxCode')"
                type="text"
                class="q-my-sm"
                outlined
                :rules="taxCodeRules"
                hide-bottom-space
              ></q-input>
              <q-input
                v-model="address"
                :label="$t('customer.dialogLabel.fieldLabels.address')"
                type="text"
                class="q-my-sm"
                :rules="addressRules"
                outlined
                hide-bottom-space
              ></q-input>
            </div>
            <div class="col-6">
              <q-input
                v-model="email"
                :label="$t('customer.dialogLabel.fieldLabels.email')"
                type="text"
                class="q-my-sm"
                outlined
                :rules="emailRules"
                hide-bottom-space
              ></q-input>
              <q-input
                v-model="type"
                :label="$t('customer.dialogLabel.fieldLabels.businessType')"
                :rules="businessTypeRules"
                emit-value
                map-options
                option-value="id"
                option-label="text"
                class="q-my-sm"
                outlined
                hide-bottom-space
              ></q-input>
              <q-select
                v-model="level"
                :label="$t('customer.dialogLabel.fieldLabels.ratings')"
                :options="levelOptions"
                :rules="levelRules"
                map-options
                option-value="id"
                option-label="name"
                type="text"
                class="q-my-sm"
                outlined
                clearable
                hide-bottom-space
              ></q-select>

              <q-input
                v-model="representative"
                :label="$t('customer.dialogLabel.fieldLabels.representative')"
                class="q-my-sm"
                type="text"
                outlined
                :rules="representativeRules"
                hide-bottom-space
              ></q-input>
              <q-input
                v-model="position"
                :label="$t('customer.dialogLabel.fieldLabels.position')"
                class="q-my-sm"
                type="text"
                outlined
                :rules="positionRules"
                hide-bottom-space
              ></q-input>
              <q-input
                v-model="phone"
                :label="$t('customer.dialogLabel.fieldLabels.phone')"
                :rules="phoneRules"
                mask="##########"
                class="q-my-sm"
                outlined
                hide-bottom-space
              ></q-input>

              <div style="padding-top: 13px; padding-left: 12px">
                <span class="text-body1">{{
                  $t('customer.dialogLabel.fieldLabels.status')
                }}</span
                ><q-toggle :true-value="1" :false-value="2" v-model="status" />
              </div>
            </div>
          </div>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn
            color="grey"
            no-caps
            style="width: 90px"
            :label="$t('customer.crudActions.cancel')"
            @click="$emit('click:CloseBtn')"
          />
          <q-btn
            type="submit"
            color="primary"
            no-caps
            style="width: 90px"
            :label="$t('customer.crudActions.save')"
          />
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
</template>

<script lang="ts" src="./AddNewCustomerDialog.ts"></script>
