<template>
  <q-dialog
    persistent
    :model-value="isOpenEditAccountBankDialog"
    @update:model-value="$emit('update:isOpenEditAccountBankDialog', $event)"
  >
    <q-card style="min-width: 60rem" bordered>
      <q-form greedy @submit.prevent="confirmEditAccBank">
        <q-card-section>
          <q-item style="padding-top: 0; padding-bottom: 0">
            <q-item-section>
              <q-item-label
                ><div class="text-h6 text-weight-regular">
                  {{ $t('artist.dialogLabel.title.editAccountBank') }}
                </div></q-item-label
              >
            </q-item-section>
          </q-item>
        </q-card-section>
        <q-separator />

        <q-card-section>
          <div class="row q-col-gutter-sm">
            <div class="col-6">
              <q-input
                v-model="accountOwner"
                :label="$t('artist.dialogLabel.fieldLabels.accountOwner')"
                :rules="accountOwnerRules"
                class="q-my-sm"
                outlined
              ></q-input>
              <q-input
                v-model="accountNumber"
                :label="$t('artist.dialogLabel.fieldLabels.accountNumber')"
                :rules="accountNumberRules"
                type="number"
                class="q-my-sm"
                outlined
              ></q-input>
              <q-input
                v-model="cardNumber"
                :label="$t('artist.dialogLabel.fieldLabels.cardNumber')"
                :rules="cardNumberRules"
                type="text"
                class="q-my-sm"
                outlined
              ></q-input>
            </div>
            <div class="col-6">
              <q-select
                v-model="bank"
                :options="cardBankOptions"
                :rules="bankNameRules"
                label="Chọn ngân hàng"
                emit-value
                map-options
                option-value="id"
                option-label="name"
                type="text"
                class="q-my-sm"
                outlined
                clearable
              ></q-select>
              <q-select
                v-model="cardType"
                @update:model-value="$emit('update:cardType', $event)"
                :options="typeBankOptions"
                label="Chọn loại thẻ"
                :rules="cardTypeRules"
                emit-value
                map-options
                option-value="id"
                option-label="name"
                type="text"
                class="q-my-sm"
                outlined
                clearable
              ></q-select>
              <div class="flex q-pt-sm">
                <div class="flex flex-center text-body1 q-ml-xs">Mặc định</div>
                <q-checkbox
                  v-model="isDefault"
                  :true-value="1"
                  :false-value="2"
                  @update:model-value="$emit('update:isDefault', $event)"
                />
              </div>
            </div>
          </div>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn
            color="grey"
            style="width: 90px"
            no-caps
            :label="$t('userPage.crudActions.cancel')"
            @click="$emit('click:CloseBtn')"
          />
          <q-btn
            type="submit"
            color="primary"
            style="width: 90px"
            no-caps
            :label="$t('userPage.crudActions.save')"
          />
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
</template>

<script lang="ts" src="./EditBankAcc.ts"></script>
