<template>
  <q-layout view="hHh Lpr lFf">
    <q-header v-if="showHeader" elevated style="height: 50px; display: flex">
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />

        <q-toolbar-title
          ><q-img
            src="../assets/logo_van.png"
            style="width: 6.5rem"
            fit="contain"
            :ratio="16 / 9"
        /></q-toolbar-title>
        <q-space></q-space>
        <q-btn flat round icon="mdi-account-circle-outline">
          <q-menu auto-close :offset="[110, 0]">
            <q-list style="min-width: 150px">
              <q-item
                clickable
                @click="$store.dispatch('authentication/logOut')"
              >
                <q-item-section>Đăng xuất</q-item-section>
                <q-item-section avatar>
                  <q-icon name="mdi-logout-variant" />
                </q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </q-btn>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-if="showHeader"
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      class="bg-grey-1"
    >
      <q-scroll-area class="fit">
        <MenuListComponent />
      </q-scroll-area>
    </q-drawer>

    <q-page-container>
      <q-page>
        <q-scroll-area
          class="full-width"
          style="height: calc(100vh - 4rem) !important"
        >
          <div
            class="relative-position q-pa-sm"
            style="min-height: calc(100vh - 4rem)"
          >
            <router-view v-slot="{ Component }">
              <transition
                appear
                enter-active-class="animated slideInUp"
                leave-active-class="animated fadeOut absolute full-width"
              >
                <component :is="Component" />
              </transition>
            </router-view>
          </div>
        </q-scroll-area>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script lang="ts">
import { useRoute } from 'vue-router';
import { Pages } from '../router/routes';
import MenuListComponent from 'components/menu-list/index.vue';

import { defineComponent, ref, computed, onMounted } from 'vue';
import { useStore } from '../store';

export default defineComponent({
  name: 'MainLayout',

  components: {
    MenuListComponent,
  },

  setup() {
    const leftDrawerOpen = ref(false);

    const route = useRoute();

    const showHeader = computed(() => {
      return route.name !== Pages.login;
    });

    const $store = useStore();

    onMounted(async () => {
      await $store.dispatch('authentication/getListPages');
    });

    return {
      leftDrawerOpen,
      showHeader,
      toggleLeftDrawer() {
        leftDrawerOpen.value = !leftDrawerOpen.value;
      },
    };
  },
});
</script>
