<template>
  <q-dialog
    persistent
    :model-value="isOpenDialogEmbed"
    @update:model-value="$emit('update:isOpenDialogEmbed', $event)"
  >
    <q-card style="width: 30rem" bordered>
      <q-card-section style="padding-top: 0; padding-bottom: 0">
        <q-item>
          <q-item-section>
            <q-item-label class="text-h6 text-weight-regular">{{
              $t('uploadImage.titleEmbedDialog')
            }}</q-item-label>
          </q-item-section>
        </q-item>
      </q-card-section>
      <q-separator />

      <q-card-section>
        <div class="row q-col-gutter-sm flex-center">
          <div class="col-3">Link Embed</div>
          <div class="col-9">
            <q-input
              v-model="newSocialEmbed"
              type="text"
              dense
              outlined
              clearable
            ></q-input>
          </div>
        </div>
      </q-card-section>
      <q-card-actions align="right" class="q-mt-xs">
        <q-btn
          color="grey"
          no-caps
          style="width: 90px"
          :label="$t('customer.crudActions.cancel')"
          @click="$emit('click:CloseBtn')"
          dense
        />
        <q-btn
          type="submit"
          color="primary"
          no-caps
          style="width: 90px"
          :label="$t('customer.crudActions.save')"
          @click="confirmEditEmbed"
          dense
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script lang="ts">
import { defineComponent, Ref, ref, watch } from 'vue';
export default defineComponent({
  // name: 'ComponentName'
  props: {
    isOpenDialogEmbed: {
      type: Boolean,
      required: true,
    },
    socialEmbedded: { type: String, required: true },
  },
  setup(props, context) {
    const newSocialEmbed: Ref<string | null> = ref(null);
    watch(
      () => props.isOpenDialogEmbed,
      (value) => {
        if (value) {
          newSocialEmbed.value = props.socialEmbedded;
        }
      }
    );
    const confirmEditEmbed = () => {
      context.emit('uploadEmbed', newSocialEmbed.value);
    };
    return { newSocialEmbed, confirmEditEmbed };
  },
  emits: [
    'update:isOpenDialogEmbed',
    'click:CloseBtn',
    'update:socialEmbedded',
    'uploadEmbed',
  ],
});
</script>
