<template>
  <div class="row q-col-gutter-sm flex-center q-mt-sm">
    <div class="col-auto text-h6 text-weight-regular flex flex-center q-mr-md">
      {{ $t('listMenu.title') }}
      <q-separator vertical spaced />
    </div>
    <q-space></q-space>
    <div class="col-2 sreach">
      <q-input
        v-model="sreachName"
        dense
        outlined
        :label="$t('listMenu.titleColumnsTable.name')"
        clearable
      ></q-input>
    </div>

    <div class="col-auto">
      <q-btn
        class="q-mr-sm"
        color="primary"
        no-caps
        :label="$t('crudActions.search')"
        @click="getlistMenu"
        style="width: 7.14rem"
      >
      </q-btn>
      <q-btn
        class="q-mr-sm"
        color="primary"
        no-caps
        :label="$t('crudActions.add')"
        @click="openAddDialog"
        style="width: 7.14rem"
      >
      </q-btn>
    </div>

    <div class="col-12 q-mt-sm">
      <q-table
        :rows="listMenu"
        :columns="tableColumnsMenu"
        :no-data-label="$t('emptyData')"
        row-key="name"
        separator="cell"
        :rows-per-page-label="$t('recordPerPage')"
        :pagination="{
          rowsPerPage: 0,
        }"
        wrap-cells
        hide-pagination
        class="sticky-header-table"
      >
        <template v-slot:body-cell-action="rowData">
          <q-td style="padding: 0; text-align: center">
            <q-btn
              flat
              round
              color="primary"
              icon="mdi-account-edit-outline"
              @click="openUpdateDialog(rowData.row.id)"
            >
              <q-tooltip :offset="[10, 10]">{{
                $t('listMenu.toolTipMessageUpdate')
              }}</q-tooltip>
            </q-btn>
            <q-btn
              flat
              round
              color="primary"
              icon="mdi-delete-outline"
              @click="confirmDelete(rowData.row.id)"
            >
              <q-tooltip :offset="[10, 10]">{{
                $t('listMenu.toolTipMessageDelete')
              }}</q-tooltip>
            </q-btn>
          </q-td>
        </template>
        <!-- <template v-slot:body-cell-url="rowData">
          <q-td>
            <div align="center">
              <a
                :href="rowData.row.url"
                target="_blank"
                style="max-width: 10rem"
                >{{ rowData.row.url }}</a
              >
            </div>
          </q-td>
        </template> -->
        <template v-slot:body-cell-stt="item">
          <q-td :item="item" style="text-align: center">
            {{ 1 + item.rowIndex + pageSize * (pageIndex - 1) }}
          </q-td>
        </template>

        <template v-slot:body-cell-status="rowData">
          <q-td>
            <div align="center">
              <q-chip
                :color="
                  rowData.value === MenuStatus.active ? 'positive' : 'orange'
                "
                text-color="white"
                size="sm"
              >
                {{
                  rowData.value === MenuStatus.active
                    ? $t('listMenu.statusLabel.active')
                    : $t('listMenu.statusLabel.inactive')
                }}
              </q-chip>
            </div>
          </q-td>
        </template>
      </q-table>
    </div>
    <div class="col-12 q-mt-sm">
      <Pagination
        v-model:currentPage="pageIndex"
        v-model:pageSize="pageSize"
        :totalPage="totalPage"
        @update:pageSize="changePageSize"
        @update:currentPage="getlistMenu"
      />
    </div>
    <AddUpdateMenuDialog
      isUpdate
      v-model:isOpened="showDialogAdd"
      v-model:name="name"
      v-model:status="status"
      @addUpdateMenu="addMenu"
    />

    <AddUpdateMenuDialog
      v-model:isOpened="showDialogUpdate"
      v-model:name="name"
      v-model:status="status"
      @addUpdateMenu="updateMenu"
    />
  </div>
</template>

<script lang="ts">
import AddUpdateMenuDialog from 'components/systemMenu/index.vue';
import { MenuStatus } from 'src/assets/enums';
import { i18n } from 'src/boot/i18n';
import { defineComponent, onMounted, Ref, ref } from 'vue';
import Pagination from 'components/pagination/index.vue';
import { Dialog, Notify } from 'quasar';
import { AxiosResponse } from 'axios';
import { api, BaseResponseBody } from 'src/boot/axios';
import {
  PaginationResponse,
  listMenu,
  DetailMenu,
  UpdateMenu,
  AddMenu,
} from 'src/assets/type';
import { config, API_PATHS } from 'src/assets/configurations.example';

export default defineComponent({
  components: {
    Pagination,
    AddUpdateMenuDialog,
  },
  setup() {
    const tableColumnsMenu = [
      {
        name: 'stt',
        field: 'stt',
        required: true,
        label: i18n.global.t('listMenu.titleColumnsTable.stt'),
        headerStyle: 'text-align: center !important; width: 7%',
        align: 'center',
        sortable: false,
      },
      {
        name: 'name',
        field: 'name',
        required: true,
        label: i18n.global.t('listMenu.titleColumnsTable.name'),
        align: 'left',
        headerStyle: 'text-align: center !important; width: 15%',
        sortable: false,
      },
      // {
      //   name: 'url',
      //   field: 'url',
      //   required: true,
      //   label: i18n.global.t('listMenu.titleColumnsTable.url'),
      //   headerStyle: 'text-align: center !important; width: 15%',
      //   align: 'center',
      //   sortable: false,
      // },
      // {
      //   name: 'numIndex',
      //   field: 'numIndex',
      //   required: true,
      //   label: i18n.global.t('listMenu.titleColumnsTable.numIndex'),
      //   headerStyle: 'text-align: center !important; width: 10%',
      //   align: 'center',
      //   sortable: false,
      // },
      // {
      //   name: 'createTime',
      //   field: 'createTime',
      //   required: true,
      //   label: i18n.global.t('listMenu.titleColumnsTable.createTime'),
      //   headerStyle: 'text-align: center !important; width: 8%',
      //   align: 'center',
      //   sortable: false,
      // },
      // {
      //   name: 'createBy',
      //   field: 'createBy',
      //   required: true,
      //   label: i18n.global.t('listMenu.titleColumnsTable.createBy'),
      //   headerStyle: 'text-align: center !important; width: 8%',
      //   align: 'center',
      //   sortable: false,
      // },
      // {
      //   name: 'updateTime',
      //   field: 'updateTime',
      //   required: true,
      //   label: i18n.global.t('listMenu.titleColumnsTable.updateTime'),
      //   headerStyle: 'text-align: center !important; width: 8%',
      //   align: 'center',
      //   sortable: false,
      // },
      // {
      //   name: 'updateBy',
      //   field: 'updateBy',
      //   required: true,
      //   label: i18n.global.t('listMenu.titleColumnsTable.updateBy'),
      //   headerStyle: 'text-align: center !important; width: 10%',
      //   align: 'center',
      //   sortable: false,
      // },
      {
        name: 'status',
        field: 'status',
        required: true,
        label: i18n.global.t('listMenu.titleColumnsTable.status'),
        headerStyle: 'text-align: center !important; width: 12%',
        align: 'center',
        sortable: false,
      },
      {
        name: 'action',
        field: 'action',
        required: true,
        label: i18n.global.t('listMenu.titleColumnsTable.action'),
        headerStyle: 'text-align: center !important; width: 12%',
        align: 'center',
        sortable: false,
      },
    ];

    const listMenu: Ref<unknown[]> = ref([]);
    const sreachName: Ref<string> = ref('');
    const pageIndex = ref(1);
    const pageSize = ref(20);
    const totalPage = ref(0);
    const changePageSize = () => {
      pageIndex.value = 1;
      void getlistMenu();
    };
    const showDialogAdd = ref(false);
    const showDialogUpdate = ref(false);
    const name: Ref<string> = ref('');
    const status: Ref<number> = ref(MenuStatus.active);
    const MenuId: Ref<number | undefined> = ref(undefined);

    const getlistMenu = async () => {
      try {
        const response = (await api({
          url: API_PATHS.getlistMenu,
          method: 'GET',
          params: {
            pageIndex: pageIndex.value,
            pageSize: pageSize.value,
            name: sreachName.value,
          },
        })) as AxiosResponse<BaseResponseBody<PaginationResponse<listMenu>>>;
        if (response.data.error.code === config.API_RES_CODE.OK.code) {
          listMenu.value = response.data.data.data;
          totalPage.value = response.data.data.totalPages;
        }
      } catch (error) {}
    };

    const openAddDialog = () => {
      name.value = '';
      status.value = MenuStatus.active;
      showDialogAdd.value = true;
    };

    const addMenu = async () => {
      const data = {
        name: name.value,
        status: status.value,
      };
      const response = (await api({
        url: API_PATHS.addMenu,
        method: 'POST',
        data,
      })) as AxiosResponse<BaseResponseBody<AddMenu>>;
      if (response.data.error.code === config.API_RES_CODE.OK.code) {
        showDialogAdd.value = false;
        Notify.create({
          type: 'positive',
          message: i18n.global.t('listMenu.actionMessages.addSuccess'),
          actions: [{ icon: 'close', color: 'white' }],
        });
        void getlistMenu();
      }
    };

    const openUpdateDialog = (id: number) => {
      showDialogUpdate.value = true;
      void getDetailMenu(id);
    };

    const getDetailMenu = async (id: number) => {
      try {
        const response = (await api({
          url: API_PATHS.getDetailMenu,
          method: 'GET',
          params: {
            id: id,
          },
        })) as AxiosResponse<BaseResponseBody<DetailMenu>>;
        if (response.data.error.code === config.API_RES_CODE.OK.code) {
          MenuId.value = response.data.data.id;
          name.value = response.data.data.name;
          status.value = response.data.data.status;
        }
      } catch (error) {}
    };

    const updateMenu = async () => {
      try {
        const response = (await api({
          url: API_PATHS.updateMenu,
          method: 'POST',
          data: {
            id: MenuId.value,
            name: name.value,
            status: status.value,
          },
        })) as AxiosResponse<BaseResponseBody<UpdateMenu>>;
        if (response.data.error.code === config.API_RES_CODE.OK.code) {
          Notify.create({
            type: 'positive',
            message: i18n.global.t('listMenu.actionMessages.updateSuccess'),
            actions: [{ icon: 'close', color: 'white' }],
          });
          void getlistMenu();
          showDialogUpdate.value = false;
        }
      } catch (error) {}
    };

    const confirmDelete = (id: number) => {
      Dialog.create({
        title: i18n.global.t('listMenu.confirmActionsTitle.confirmDelete'),
        message: i18n.global.t(
          'listMenu.confirmActionsTitle.confirmDeleteContent'
        ),
        cancel: i18n.global.t(
          'listMenu.confirmActionsTitle.confirmDeleteCancelBtnLabel'
        ),
        color: 'negative',
      }).onOk(() => {
        void deleteMenu(id);
      });
    };

    const deleteMenu = async (id: number) => {
      try {
        const deleteResult = (await api({
          url: API_PATHS.deleteMenu,
          method: 'GET',
          params: {
            id: id,
          },
        })) as AxiosResponse<BaseResponseBody<unknown>>;

        if (deleteResult.data.error.code === config.API_RES_CODE.OK.code) {
          Notify.create({
            type: 'positive',
            message: i18n.global.t('listMenu.actionMessages.deleteSuccess'),
            actions: [{ icon: 'close', color: 'white' }],
          });
          void getlistMenu();
        }
      } catch (error) {}
    };

    onMounted(() => {
      void getlistMenu();
    });
    return {
      getlistMenu,
      sreachName,
      listMenu,
      tableColumnsMenu,
      pageIndex,
      pageSize,
      totalPage,
      changePageSize,
      getDetailMenu,
      MenuStatus,
      name,
      status,
      openUpdateDialog,
      updateMenu,
      openAddDialog,
      showDialogUpdate,
      showDialogAdd,
      addMenu,
      confirmDelete,
      deleteMenu,
    };
  },
});
</script>
