<template>
  <q-dialog
    persistent
    :model-value="isOpened"
    @update:model-value="$emit('update:isOpened', $event)"
  >
    <q-card class="full-width" style="max-width: 80rem" bordered>
      <q-form
        greedy
        @submit.prevent="
          $emit('saveConfigPartnerInfo', {});
          $emit('update:isOpened', false);
        "
      >
        <q-card-section class="q-pa-none">
          <q-item>
            <q-item-section>
              <q-item-label class="text-h6 text-weight-regular">{{
                isUpdate
                  ? $t('configPartner.dialogLabel.title.addConfigPartner')
                  : $t('configPartner.dialogLabel.title.updateConfigPartner')
              }}</q-item-label>
            </q-item-section>
          </q-item>
        </q-card-section>
        <q-separator />

        <q-card-section
          class="overflow-auto"
          style="max-height: calc(100vh - 15rem)"
        >
          <div class="row q-col-gutter-sm">
            <div class="col-6 q-mt-sm">
              <div class="row flex-center">
                <div>
                  <q-card class="q-mb-sm" v-if="image !== null">
                    <q-img
                      @click="uploadAvatar"
                      :src="image"
                      style="height: 250px; width: 450px; cursor: pointer"
                    ></q-img>
                    <q-icon
                      name="mdi-close-circle"
                      color="red"
                      style="
                        position: absolute;
                        right: 0;
                        font-size: 18px;
                        cursor: pointer;
                      "
                      @click="deleteAvatar"
                    ></q-icon>
                  </q-card>
                  <div
                    @click="uploadAvatar"
                    v-else
                    class="q-mb-sm"
                    style="
                      height: 250px;
                      width: 450px;
                      border: 2px dashed #5d319e;
                      border-radius: 4px;
                      cursor: pointer;
                    "
                  >
                    <div
                      style="
                        height: 250px;
                        width: 450px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                      "
                    >
                      <q-icon
                        style="color: #5d319e"
                        name="mdi-cloud-upload"
                        size="xl"
                      ></q-icon>
                      Tải ảnh lên
                    </div>
                  </div>
                  <div>
                    <input
                      ref="upload"
                      hidden
                      @change="selectedFile($event.target.files)"
                      type="file"
                      accept="image/png, image/jpeg"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <q-input
                :model-value="name"
                @update:model-value="$emit('update:name', $event)"
                :label="
                  $t('configPartner.dialogLabel.configPartnerLabels.name')
                "
                type="text"
                class="q-my-sm"
                outlined
                :rules="nameRules"
                clearable
              ></q-input>
              <q-input
                :model-value="numIndex"
                @update:model-value="$emit('update:numIndex', $event)"
                :label="
                  $t('configPartner.dialogLabel.configPartnerLabels.numIndex')
                "
                mask="####"
                class="q-my-sm"
                outlined
                :rules="numIndexRules"
                clearable
              ></q-input>
              <!-- <q-select
                :model-value="type"
                @update:model-value="$emit('update:type', $event)"
                :label="$t('banner.dialogLabel.bannerLabels.type')"
                :rules="typeRules"
                :options="typeOptions"
                map-options
                option-value="id"
                option-label="name"
                type="text"
                class="q-my-sm"
                outlined
              ></q-select> -->
              <!-- <q-select
                :model-value="location"
                @update:model-value="$emit('update:location', $event)"
                :label="$t('banner.dialogLabel.bannerLabels.location')"
                :rules="locationRules"
                :options="locationOptions"
                map-options
                type="text"
                class="q-my-sm"
                outlined
              ></q-select> -->
              <!-- <q-input
                :model-value="urlTarget"
                @update:model-value="$emit('update:urlTarget', $event)"
                :label="$t('banner.dialogLabel.bannerLabels.urlTarget')"
                :rules="urlTargetRules"
                type="text"
                class="q-my-sm"
                outlined
                clearable
              ></q-input> -->
              <div class="q-pt-sm">
                <span class="text-body1">{{
                  $t('configPartner.dialogLabel.configPartnerLabels.status')
                }}</span
                ><q-toggle
                  :model-value="status"
                  :true-value="1"
                  :false-value="2"
                  @update:model-value="$emit('update:status', $event)"
                />
              </div>
            </div>
          </div>
        </q-card-section>
        <q-card-actions align="right">
          <div>
            <q-btn
              color="grey"
              no-caps
              style="width: 90px"
              class="q-mr-sm"
              :label="$t('banner.crudActions.cancel')"
              @click="$emit('update:isOpened', false)"
            />
            <q-btn
              type="submit"
              color="primary"
              no-caps
              style="width: 90px"
              :label="$t('configPartner.crudActions.save')"
            />
          </div>
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import { i18n } from 'src/boot/i18n';

export default defineComponent({
  props: {
    isOpened: {
      type: Boolean,
      required: true,
    },
    isUpdate: { type: Boolean, default: false },
    name: { type: String, required: true },
    image: { type: String, required: true },
    // urlTarget: { type: String, required: true },
    status: { type: Number, required: true },
    // type: { type: Number, required: true },
    // typeOptions: { type: Array, required: true },
    numIndex: { type: Number, required: true },
  },
  setup(_, context) {
    const selectedFile = (value: FileList) => {
      context.emit('SetAvatar', {
        file: value[0],
        url: URL.createObjectURL(value[0]),
      });
    };
    const deleteAvatar = () => {
      context.emit('deleteAvatar');
    };
    const upload = ref(null);
    const uploadAvatar = () => {
      // eslint-disable-next-line
      // @ts-ignore
      // eslint-disable-next-line
      upload.value?.click();
    };
    // const urlTargetRules = [
    //   (val?: string) =>
    //     (val && val.trim().length) ||
    //     i18n.global.t('banner.validateMessages.requireUrlTarget'),
    // ];
    const nameRules = [
      (val?: string) =>
        (val && val.trim().length) ||
        i18n.global.t('configPartner.validateMessages.requireName'),
    ];
    // const typeRules = [
    //   (val?: number) =>
    //     val !== undefined ||
    //     i18n.global.t('banner.validateMessages.requireType'),
    // ];
    const numIndexRules = [
      (val?: number) =>
        val !== undefined ||
        i18n.global.t('configPartner.validateMessages.requireLocation'),
    ];
    return {
      // urlTargetRules,
      nameRules,
      // typeRules,
      numIndexRules,
      selectedFile,
      deleteAvatar,
      uploadAvatar,
      upload,
    };
  },
  emits: [
    'update:isOpened',
    'update:name',
    // 'update:urlTarget',
    // 'update:type',
    'update:numIndex',
    'update:status',
    'update:image',
    'SetAvatar',
    'deleteAvatar',
    'saveConfigPartnerInfo',
  ],
});
</script>
