<template>
  <div class="row q-col-gutter-sm flex-center q-mt-sm">
    <div class="col-auto text-h6 text-weight-regular flex flex-center q-mr-md">
      {{ $t('post.title') }}
      <q-separator vertical spaced />
    </div>
    <q-space></q-space>
    <div class="col-2">
      <q-input
        v-model="namePost"
        type="text"
        dense
        outlined
        label="Tên bài viết"
        clearable
      ></q-input>
    </div>
    <div class="col-auto">
      <q-btn
        color="primary"
        no-caps
        :label="$t('crudActions.search')"
        @click="getListPost"
        style="width: 7.14rem"
      ></q-btn>
    </div>
    <div class="col-auto">
      <q-btn
        color="primary"
        no-caps
        :label="$t('crudActions.add')"
        style="width: 7.14rem"
        @click="openAddPostDialog"
      >
      </q-btn>
    </div>

    <div class="col-12 q-mt-sm">
      <q-table
        :rows="postTableRows"
        :columns="postTableColumns"
        row-key="postName"
        separator="cell"
        :no-data-label="$t('emptyData')"
        :rows-per-page-label="$t('recordPerPage')"
        :pagination="{
          rowsPerPage: 0,
        }"
        hide-pagination
        wrap-cells
        class="sticky-header-table"
      >
        <template v-slot:body-cell-stt="item">
          <q-td :item="item" style="text-align: center">
            {{ 1 + item.rowIndex + pageSize * (pageIndex - 1) }}
          </q-td>
        </template>
        <template v-slot:body-cell-action="item">
          <q-td style="padding: 0">
            <div align="center">
              <q-btn
                flat
                round
                color="primary"
                icon="mdi-account-edit-outline"
                @click="openUpdatePostDialog(item.row.id)"
              >
                <q-tooltip :offset="[20, 10]">{{
                  $t('post.toolTipMessage.updatePost')
                }}</q-tooltip>
              </q-btn>
              <q-btn
                flat
                round
                color="primary"
                icon="mdi-delete-outline"
                @click="confirmDeletePost(item.row.id)"
              >
                <q-tooltip :offset="[20, 10]">{{
                  $t('post.toolTipMessage.deletePost')
                }}</q-tooltip>
              </q-btn>
            </div>
          </q-td>
        </template>
        <template v-slot:body-cell-image="image">
          <q-td style="padding: auto; height: 100%; text-align: center">
            <q-img
              style="width: 12rem; height: 8rem"
              :src="configImg.API_IMAGE_ENDPOINT + image.row.image"
            ></q-img>
          </q-td>
        </template>
        <template v-slot:body-cell-status="rowData">
          <q-td>
            <div align="center">
              <q-chip
                :color="
                  rowData.value === PostStatus.active ? 'positive' : 'orange'
                "
                text-color="white"
                size="sm"
              >
                {{
                  rowData.value === PostStatus.active
                    ? $t('post.statusLabel.active')
                    : $t('post.statusLabel.inactive')
                }}
              </q-chip>
            </div>
          </q-td>
        </template>
      </q-table>
    </div>

    <div class="col-12 q-mt-sm">
      <Pagination
        v-model:currentPage="pageIndex"
        v-model:pageSize="pageSize"
        :totalPage="totalPage"
        @update:pageSize="changePageSize"
        @update:currentPage="getListPost"
      />
    </div>

    <AddUpdatePostDialog
      v-if="addPostDialogIsOpened"
      v-model:isOpened="addPostDialogIsOpened"
      v-model:name="name"
      v-model:category="category"
      v-model:image="image"
      v-model:content="content"
      v-model:status="status"
      :languageOptions="languageOptions"
      :categoryOptions="categoryOptions"
      isUpdate
      @SetAvatar="setAvatar($event)"
      @deleteAvatar="deleteAvatar"
      @savePostInfo="addNewPost"
    />

    <AddUpdatePostDialog
      v-model:isOpened="updatePostDialogIsOpened"
      v-model:name="name"
      v-model:category="category"
      v-model:image="image"
      v-model:content="content"
      v-model:status="status"
      :languageOptions="languageOptions"
      :categoryOptions="categoryOptions"
      @SetAvatar="setAvatar($event)"
      @deleteAvatar="deleteAvatar"
      @savePostInfo="confirmUpdatePost"
    />
  </div>
</template>

<script lang="ts">
import { i18n } from 'src/boot/i18n';
import { defineComponent, onMounted, ref, Ref } from 'vue';
import Pagination from 'components/pagination/index.vue';
import { API_PATHS } from 'src/assets/configurations.example';
import { AxiosResponse } from 'axios';
import { api, BaseResponseBody } from 'src/boot/axios';
import {
  PaginationResponse,
  PostType,
  FileUploadType,
  CategoryPostType,
  LanguageType,
  PostDetailType,
  PostAddType,
} from 'src/assets/type';
import { config } from 'src/assets/configurations.example';
import { PostStatus } from 'src/assets/enums';
import AddUpdatePostDialog from 'components/add-update-post/index.vue';
import { Dialog, Notify } from 'quasar';
export type AvatarType = {
  file?: File;
  url?: string | null;
};

export default defineComponent({
  components: {
    Pagination,
    AddUpdatePostDialog,
  },
  setup() {
    const postTableColumns = [
      {
        name: 'stt',
        field: 'stt',
        required: true,
        label: 'STT',
        align: 'center',
        sortable: false,
      },
      {
        name: 'name',
        field: 'name',
        required: true,
        label: i18n.global.t('post.tableColumnsPost.name'),
        headerStyle: 'text-align: center !important; width: 30%;',
        align: 'left',
        sortable: false,
      },
      {
        name: 'image',
        field: 'image',
        required: true,
        label: i18n.global.t('post.tableColumnsPost.image'),
        headerStyle: 'text-align: center !important; width: 20%;',
        align: 'center',
        sortable: false,
      },
      {
        name: 'category',
        field: 'category',
        required: true,
        label: i18n.global.t('post.tableColumnsPost.category'),
        headerStyle: 'text-align: center !important; width: 20%;',
        align: 'left',
        sortable: false,
      },
      // {
      //   name: 'createBy',
      //   field: 'createBy',
      //   required: true,
      //   label: i18n.global.t('post.tableColumnsPost.createBy'),
      //   headerStyle: 'text-align: center !important;',
      //   align: 'left',
      //   sortable: false,
      // },
      // {
      //   name: 'createTime',
      //   field: 'createTime',
      //   required: true,
      //   label: i18n.global.t('post.tableColumnsPost.createTime'),
      //   headerStyle: 'text-align: center !important;',
      //   align: 'left',
      //   sortable: false,
      // },
      // {
      //   name: 'updateBy',
      //   field: 'updateBy',
      //   required: true,
      //   label: i18n.global.t('post.tableColumnsPost.updateBy'),
      //   headerStyle: 'text-align: center !important;',
      //   align: 'left',
      //   sortable: false,
      // },
      // {
      //   name: 'updateTime',
      //   field: 'updateTime',
      //   required: true,
      //   label: i18n.global.t('post.tableColumnsPost.updateTime'),
      //   headerStyle: 'text-align: center !important;',
      //   align: 'left',
      //   sortable: false,
      // },
      {
        name: 'status',
        field: 'status',
        required: true,
        label: i18n.global.t('post.tableColumnsPost.status'),
        headerStyle: 'text-align: center !important; width: 17%;',
        align: 'center',
        sortable: false,
      },
      {
        name: 'action',
        field: 'action',
        required: true,
        label: i18n.global.t('post.tableColumnsPost.action'),
        headerStyle: 'text-align: center !important; width: 17%;',
        align: 'center',
        sortable: false,
      },
    ];

    const pageIndex = ref(1);
    const pageSize = ref(20);
    const totalPage = ref(1);
    const postTableRows: Ref<unknown[]> = ref([]);
    const addPostDialogIsOpened = ref(false);
    const updatePostDialogIsOpened = ref(false);
    const category: Ref<CategoryPostType | undefined> = ref();
    const categoryOptions: Ref<CategoryPostType[]> = ref([]);
    const name = ref('');
    const content = ref('');
    const image: Ref<string | null> = ref(null);
    const status: Ref<number> = ref(PostStatus.active);
    const postId: Ref<number | undefined> = ref(undefined);
    const namePost = ref('');
    const avatarFile: Ref<File | null> = ref(null);
    const avatarUploaded: Ref<string> = ref('');
    const imageChange: Ref<string> = ref('');
    const languageOptions: Ref<FromType> = ref([]);

    const changePageSize = () => {
      pageIndex.value = 1;
      void getListPost();
    };

    //gọi api ds
    const getListPost = async () => {
      const response = (await api({
        url: API_PATHS.getListPost,
        method: 'GET',
        params: {
          pageIndex: pageIndex.value,
          pageSize: pageSize.value,
          name: namePost.value,
        },
      })) as AxiosResponse<BaseResponseBody<PaginationResponse<PostType>>>;
      if (response.data.error.code === config.API_RES_CODE.OK.code) {
        postTableRows.value = response.data.data.data;
        totalPage.value = response.data.data.totalPages;
      }
    };

    const confirmDeletePost = (id: number) => {
      Dialog.create({
        title: i18n.global.t('post.confirmActionsTitle.confirmDeletePostTitle'),
        message: i18n.global.t(
          'post.confirmActionsTitle.confirmDeletePostContent'
        ),
        cancel: i18n.global.t(
          'post.confirmActionsTitle.confirmDeletePostCancelBtnLabel'
        ),
        color: 'negative',
      }).onOk(() => {
        void deletePost(id);
      });
    };

    //gói api xóa
    const deletePost = async (id: number) => {
      try {
        const deleteResult = (await api({
          url: API_PATHS.deletePost,
          method: 'GET',
          params: {
            id: id,
          },
        })) as AxiosResponse<BaseResponseBody<unknown>>;
        if (deleteResult.data.error.code === config.API_RES_CODE.OK.code) {
          Notify.create({
            type: 'positive',
            message: i18n.global.t('post.actionMessages.deletePostAccess'),
            actions: [{ icon: 'close', color: 'white' }],
          });
          void getListPost();
        }
      } catch (error) {}
    };

    const openAddPostDialog = () => {
      void getLanguage();
      status.value = PostStatus.active;
      image.value = null;
      category.value = undefined;
      addPostDialogIsOpened.value = true;
    };

    //gọi api add
    const addNewPost = async () => {
      avatarUploaded.value = await callApiUploadAvatar(
        avatarFile.value as File
      );
      const data = {
        image: avatarUploaded.value,
        status: status.value,
        category: { id: category.value?.id },
        langs: languageOptions.value,
      };
      const response = (await api({
        url: API_PATHS.addPost,
        method: 'POST',
        data,
      })) as AxiosResponse<BaseResponseBody<PostAddType[]>>;
      if (response.data.error.code === config.API_RES_CODE.OK.code) {
        addPostDialogIsOpened.value = false;
        Notify.create({
          type: 'positive',
          message: i18n.global.t('post.actionMessages.addNewPostAccess'),
          actions: [{ icon: 'close', color: 'white' }],
        });
        void getListPost();
      }
    };

    const openUpdatePostDialog = (id: number) => {
      void getDetailPost(id);
      updatePostDialogIsOpened.value = true;
    };

    //gọi api detail
    const getDetailPost = async (id: number) => {
      try {
        const response = (await api({
          url: API_PATHS.getDetailPost,
          method: 'GET',
          params: {
            id: id,
          },
        })) as AxiosResponse<BaseResponseBody<PostDetailType>>;
        if (response.data.error.code === config.API_RES_CODE.OK.code) {
          postId.value = response.data.data.id;
          image.value = config.API_IMAGE_ENDPOINT + response.data.data.image;
          imageChange.value = response.data.data.image;
          languageOptions.value = response.data.data.langs;
          status.value = response.data.data.status;
          category.value = response.data.data.category;
        }
      } catch (error) {}
    };

    //gọi api update
    const confirmUpdatePost = async () => {
      if (avatarFile.value) {
        avatarUploaded.value = await callApiUploadAvatar(avatarFile.value);
        void updatePost(avatarUploaded.value);
      } else {
        void updatePost(imageChange.value);
      }
    };

    const updatePost = async (image: string) => {
      const data = {
        id: postId.value,
        image,
        status: status.value,
        category: { id: category.value?.id },
        langs: languageOptions.value,
      };
      const response = (await api({
        url: API_PATHS.updatePost,
        method: 'POST',
        data,
      })) as AxiosResponse<BaseResponseBody<PostDetailType[]>>;
      if (response.data.error.code === config.API_RES_CODE.OK.code) {
        updatePostDialogIsOpened.value = false;
        Notify.create({
          type: 'positive',
          message: i18n.global.t('post.actionMessages.updatePostAccess'),
          actions: [{ icon: 'close', color: 'white' }],
        });
        void getListPost();
      }
    };

    const setAvatar = (value: { file?: File; url?: string }) => {
      avatarFile.value = value.file as File;
      image.value = value.url as string;
    };

    const callApiUploadAvatar = async (file: File) => {
      try {
        const bodyFormData = new FormData();
        bodyFormData.append('file', file);
        const response = (await api({
          headers: { 'Content-Type': 'multipart/form-data' },
          url: 'https://cms.vab.xteldev.com/file/upload/', // test
          // url:'http://103.147.34.34:10700/api/upload/', // pro
          method: 'POST',
          data: bodyFormData,
        })) as AxiosResponse<BaseResponseBody<FileUploadType>>;
        if (response.data.error.code === config.API_RES_CODE.OK.code) {
          return response.data.data.fileName;
        } else {
          return '';
        }
      } catch (error) {
        return '';
      }
    };
    const deleteAvatar = () => {
      image.value = null;
    };

    const configImg = config;

    //gọi api danh mục bv
    const getpostCategory = async () => {
      const response = (await api({
        url: API_PATHS.getPostCategory,
        method: 'GET',
        params: {},
      })) as AxiosResponse<BaseResponseBody<CategoryPostType[]>>;
      if (response.data.error.code === config.API_RES_CODE.OK.code) {
        categoryOptions.value = response.data.data;
      }
    };

    type FromType = {
      name: string;
      title: string;
      content: string;
      status: number;
      language: {
        id: number;
        code: string;
        name: string;
      };
    }[];

    const getLanguage = async () => {
      const response = (await api({
        url: API_PATHS.getLanguage,
        method: 'GET',
        params: {},
      })) as AxiosResponse<BaseResponseBody<LanguageType[]>>;
      if (response.data.error.code === config.API_RES_CODE.OK.code) {
        languageOptions.value = response.data.data.reduce(
          (acc: FromType, info) => {
            acc.push({
              name: '',
              title: '',
              content: '',
              status: 1,
              language: {
                id: info.id,
                code: info.code,
                name: info.name,
              },
            });
            return acc;
          },
          []
        );
      }
    };

    onMounted(() => {
      void getListPost();
      void getpostCategory();
    });
    return {
      pageIndex,
      pageSize,
      totalPage,
      changePageSize,
      addPostDialogIsOpened,
      updatePostDialogIsOpened,
      postTableColumns,
      postTableRows,
      getListPost,
      PostStatus,
      openAddPostDialog,
      name,
      category,
      status,
      categoryOptions,
      addNewPost,
      confirmDeletePost,
      deletePost,
      openUpdatePostDialog,
      getDetailPost,
      updatePost,
      namePost,
      content,
      languageOptions,
      image,
      postId,
      setAvatar,
      callApiUploadAvatar,
      deleteAvatar,
      getpostCategory,
      getLanguage,
      configImg,
      confirmUpdatePost,
    };
  },
});
</script>
